﻿<li class="Tablist Tablist-min-height ">
    <div class="itemheader">
        <div class="Tab-divHolder ViewRegister-link">
            <div class="Tab-name">
                <a class="ViewRegister-link lnkLabel-header"><span class="RegisterName"></span></a>
            </div>
            <div class="Tab-basics-info">
                <table border="0" cellpadding="0" cellspacing="0" class="tableDynamicWidth">
                    <tr>
                        <th>
                            <span class="lbl-title" resourcekey="RegisterName"></span>
                        </th>
                        <td>
                            <span class="label-data RegisterName"></span>
                        </td>
                        <th>
                            <span class="lbl-title" resourcekey="RegiserCode"></span>
                        </th>
                        <td>
                            <span class="label-data RegiserCode"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="lbl-title" resourcekey="CashLoan"></span>
                        </th>
                        <td>
                            <span class="label-data CashLoan money"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
      
    </div>
</li>
