<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());
        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="RegisterDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Register-info">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="RegisterName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block RegisterName"></span>
                            <input class="cx-control RegisterName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="RegisterNameAr"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block RegisterNameAr"></span>
                            <input class="cx-control RegisterNameAr  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="RegiserCode"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block RegiserCode"></span>
                            <input class="cx-control RegiserCode  txt required   string viewedit-display-none"
                                maxlength="4" minlength="1" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Store"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <a class="label-data nowrap Store-link lnkLabel"><span class="label-data viewedit-display-block lnkLabel Store">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="Store  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="CashLoan"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data money nowrap viewedit-display-block CashLoan"></span>
                            <input class="cx-control CashLoan  txt required  number viewedit-display-none" maxlength=""
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="QuickKeys"></span>
                        </th>
                        <td>
                            <a class="label-data nowrap QuickKeys-link lnkLabel"><span class="label-data viewedit-display-block lnkLabel QuickKeys">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="QuickKeys  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="IpAddress"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block IpAddress"></span>
                            <input class="cx-control IpAddress  txt required   string viewedit-display-none"
                                maxlength="4000" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="MacAddress"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block MacAddress"></span>
                            <input class="cx-control MacAddress  txt    string viewedit-display-none" maxlength="4000"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="DataBaseInstanceName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseInstanceName"></span>
                            <input class="cx-control DataBaseInstanceName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DataBaseName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseName"></span>
                            <input class="cx-control DataBaseName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="DataBaseUserName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseUserName"></span>
                            <input class="cx-control DataBaseUserName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DataBasePassword"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block ">******</span>
                            <input class="cx-control DataBasePassword  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="password" />
                        </td>
                    </tr>
                    <!--<tr>
				<th>
					<span class="label-title" resourcekey="Branch"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number BranchId"></span>
					<input class="cx-control BranchId  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>
				<th>
					<span class="label-title" resourcekey="InvoiceNumberFormat"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block InvoiceNumberFormat"></span>
					<input class="cx-control InvoiceNumberFormat  txt    string viewedit-display-none" maxlength="100" minlength="3"
                            type="text"  />
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="LaybyNumberFormat"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block LaybyNumberFormat"></span>
					<input class="cx-control LaybyNumberFormat  txt    string viewedit-display-none" maxlength="100" minlength="3"
                            type="text"  />
				</td>
				<th>
					<span class="label-title" resourcekey="PrintRecipt"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YPrintRecipt"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NPrintRecipt"resourcekey="No"></span>
					<input type="checkbox" class="cx-control PrintRecipt chk viewedit-display-none" />
                       
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="EmailRecipt"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YEmailRecipt"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NEmailRecipt"resourcekey="No"></span>
					<input type="checkbox" class="cx-control EmailRecipt chk viewedit-display-none" />
                       
				</td>
				<th>
					<span class="label-title" resourcekey="IsUsed"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YIsUsed"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NIsUsed"resourcekey="No"></span>
					<input type="checkbox" class="cx-control IsUsed chk viewedit-display-none" />
                       
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="IsNew"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YIsNew"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NIsNew"resourcekey="No"></span>
					<input type="checkbox" class="cx-control IsNew chk viewedit-display-none" />
                       
				</td>
			</tr>-->
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
