﻿<div class="gridContainerDiv" style="overflow-y: scroll; height: 75%">
    <div class="display-none">
        <div id="h-template">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="InvoiceResults-table details-grid">
                <tr class="head" id="Tr1">
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1">#</span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="ItemNumber"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="ItemName"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="Location"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="POSStore"></span>
                    </th>
                      <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="SyncedQuantity"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="NotSyncedQuantity"></span>
                    </th>
                  
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="ICQuantity"></span>
                    </th>
                    
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="TotalPOSQuantity"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="StagingQuantity"></span>
                    </th>
                       <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="StagingOutQuantity"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="PendingQty"></span>
                    </th>
                      <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="PendingOutQty"></span>
                    </th>
                    <th class="th-data-table td-number" style="width: 0% !important">
                        <span class="table-header-1" resourcekey="RegistersQuantity"></span>
                    </th>
                </tr>
                <tr class="footer-row">
                </tr>
            </table>
        </div>
    </div>
    <div id="items-grid">
    </div>
</div>
