﻿<tr class="item-details-row">
    <td class="td-r1-data-table center-content">
        <span class="label-data RowNum nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data ItemNumber nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data ItemName nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data LocationName nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data StoreName nowrap"></span>
    </td>
     <td class="td-r1-data-table center-content">
        <span class="label-data  SyncedQTY   nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data  NotSyncedQTY   nowrap"></span>
    </td>
   
    <td class="td-r1-data-table center-content">
        <span class="label-data  ERPQuantity AvailableQTY  nowrap"></span>
    </td>
  
    <td class="td-r1-data-table center-content">
        <span class="label-data   TotalPOSQuantity integer QTY nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data  StagingQuantity  integer nowrap"></span>
    </td>
     <td class="td-r1-data-table center-content">
        <span class="label-data  StagingOutQuantity  integer nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data  PendingQTY QTY integer nowrap"></span>
    </td>
       <td class="td-r1-data-table center-content">
        <span class="label-data  PendingOutQuantity QTY integer nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data   POSQuantity integer QTY nowrap"></span>
    </td>
</tr>
