﻿<div class="Add-title">
    <span resourcekey="AddShifts"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-Shifts-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="ShiftName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control ShiftName  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="ShiftDescription"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control ShiftDescription  txt required   string " maxlength="100"
                            minlength="3" type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="StartTime"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <select class="lstStartTime viewedit-display-none Time-select required">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="EndTime"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <select class="lstEndTime viewedit-display-none Time-select required">
                        </select>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
