﻿<li class="Tablist">
    <div class="itemheader">
        <div class="Tab-divHolder">
            <div class="Tab-name">
                <span class="Store"></span>
            </div>
            <div class="Tab-basics-info">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table noBorder">
                    <tr>
                        <th>
                            <span class="lbl-title" resourcekey="Store"></span>
                        </th>
                        <td>
                            <span class="label-data Store"></span>
                        </td>
                       <th>
                            <span class="lbl-title" resourcekey="Shift"></span>
                        </th>
                        <td>
                            <span class="label-data Shift"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="Action-div tab-action-div">
            <ul>
                <li><span class="ActionEdit-link edit-tab-lnk"></span><a class="edit-tab-lnk"><span
                    resourcekey="Edit"></span></a></li>
                <li><span class="ActionDelete-link delete-tab-lnk"></span><a class="delete-tab-lnk">
                    <span resourcekey="Delete"></span></a></li>
                <li><span class="ActionSave-link save-tab-lnk"></span><a class="save-tab-lnk"><span
                    resourcekey="Save"></span></a></li>
                <li><span class="ActionCancel-link cancel-tab-lnk"></span><a class="cancel-tab-lnk">
                    <span resourcekey="Cancel"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="Tab-full-info">
        <table border="0" cellpadding="0" cellspacing="0" class="Data-Table NoteContent-Table">
            <tr>
                <th>
                    <span class="label-title" resourcekey="Store"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <span class="label-data viewedit-display-block Store"></span>
                    <input class="display-none" />
                    <div class="viewedit-display-none">
                        <select class="Store lst">
                        </select>
                    </div>
                </td>
                <th>
                    <span class="label-title" resourcekey="ValidateShift"></span>
                </th>
                <td>
                    <span class="label-data nowrap viewedit-display-block ValidateShift"></span>
                    <input type="checkbox" id="ValidateShift" class="cx-control ValidateShift chk viewedit-display-none"
                        value='0' />
                </td>
            </tr>
            <tr>
                <th class="ShiftRequired">
                    <span class="label-title" resourcekey="Shift"></span><span class="smblreqyuired viewedit-display-none">*</span>
                </th>
                <td class="ShiftRequired">
                    <span class="label-data Shift viewedit-display-block"></span>
                    <div class="viewedit-display-none">
                        <select class="Shift lst">
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <div class="historyUpdated">
        </div>
    </div>
</li>
