<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="POSSync"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link" > <span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
             <!--   <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>-->
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table PosSyncConfiguration-info">
                			<tr>
				<th>
					<span class="label-title" resourcekey="PosSyncTime1"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
				<span class="label-data viewedit-display-block PosSyncTime1"></span>
					
                        <div class="viewedit-display-none">
                            <select class="PosSyncTime1  lst">
                            </select>
                        </div>
				</td>
				<th>
					<span class="label-title" resourcekey="PosSyncTime2"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
				<span class="label-data viewedit-display-block PosSyncTime2"></span>
					
                        <div class="viewedit-display-none">
                            <select class="PosSyncTime2  lst">
                            </select>
                        </div>
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="PosSyncTime3"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
					<span class="label-data viewedit-display-block PosSyncTime3"></span>
					
                        <div class="viewedit-display-none">
                            <select class="PosSyncTime3  lst">
                            </select>
                        </div>
				</td>
				<th>
					<span class="label-title" resourcekey="PosSyncTime4"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
				<span class="label-data viewedit-display-block  PosSyncTime4"></span>
					
                        <div class="viewedit-display-none">
                            <select class="PosSyncTime4  lst">
                            </select>
                        </div>
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="PosSyncTime5"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
				<span class="label-data viewedit-display-block PosSyncTime5"></span>
					
                        <div class="viewedit-display-none">
                            <select class="PosSyncTime5  lst">
                            </select>
                        </div>
				</td>
				

                <th>
					<span class="label-title" resourcekey="SyncDataFromAccpac"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YSyncDataFromAccpac"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NSyncDataFromAccpac"resourcekey="No"></span>
					<input type="checkbox" class="cx-control SyncDataFromAccpac chk viewedit-display-none" />
                       
				</td>
			</tr>
			<tr>
				
				<th>
					<span class="label-title" resourcekey="PosDataToSync"></span>
				</th>
				<td>
                <span class="label-data viewedit-display-block  PosDataToSync"></span>
					
                    <input type="radio" name="grp1" class="cx-control SyncAll chk viewedit-display-none PosDataToSyncCheck" checked="checked" />
                    <span class="label-data viewedit-display-none ">All</span>
                    
                    <input type="radio" name="grp1" class="cx-control SyncRegisterData chk viewedit-display-none PosDataToSyncCheck" />
                    <span class="label-data  viewedit-display-none">Register Data</span>
                    
                    <input type="radio" name="grp1" class="cx-control SyncAdminData chk viewedit-display-none PosDataToSyncCheck" />
                    <span class="label-data  viewedit-display-none">Admin Data</span>
				</td>
			</tr>
			
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
            <span resourcekey="AccpacSync" class="detail-sub-title"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table PosSyncConfiguration-info">
                <tr>
                <th>
					<span class="label-title" resourcekey="AccpacSyncTime1"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
			<span class="label-data viewedit-display-block AccpacSyncTime1"></span>
					
                        <div class="viewedit-display-none">
                            <select class="AccpacSyncTime1  lst">
                            </select>
                        </div>
				</td>
               
				<th>
					<span class="label-title" resourcekey="AccpacSyncTime2"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
					<span class="label-data viewedit-display-block AccpacSyncTime2"></span>
					
                        <div class="viewedit-display-none">
                            <select class="AccpacSyncTime2  lst">
                            </select>
                        </div>
				</td>
                 </tr>
                <tr>
				<th>
					<span class="label-title" resourcekey="AccpacSyncTime3"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
					<span class="label-data viewedit-display-block AccpacSyncTime3"></span>
					
                        <div class="viewedit-display-none">
                            <select class="AccpacSyncTime3  lst">
                            </select>
                        </div>
				</td>
			
				<th>
					<span class="label-title" resourcekey="AccpacSyncTime4"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
					<span class="label-data viewedit-display-block AccpacSyncTime4"></span>
					
                        <div class="viewedit-display-none">
                            <select class="AccpacSyncTime4  lst">
                            </select>
                        </div>
				</td>
                </tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="AccpacSyncTime5"></span><span class="smblreqyuired viewedit-display-none company-list">
                            *</span>
				</th>
				<td>
					<span class="label-data viewedit-display-block AccpacSyncTime5"></span>
					
                        <div class="viewedit-display-none">
                            <select class="AccpacSyncTime5  lst">
                            </select>
                        </div>
				</td>
			
				

                 <th>
					<span class="label-title" resourcekey="">Sync Invoice</span>
				</th>
				<td>
					<span class="label-data  viewedit-display-block  CheckSyncInvoice"resourcekey="No"></span>
					<input type="checkbox" class="cx-control SyncInvoice chk viewedit-display-none" />
                       
				</td>
                </tr>
               
		<!--	<tr> 
            <th>
					<span class="label-title" resourcekey="AccpacDataToSyncIds"></span>
				</th>
				<td>
					<span class="label-data nowrap  AccpacDataToSyncIds"></span>
				
				</td>
				<th>
					<span class="label-title" resourcekey="AccpacDataToSync"></span>
				</th>
				<td>
					<span class="label-data nowrap  AccpacDataToSync"></span>
					
				</td>
			</tr>-->
			<tr>
           
                <th>
					<span class="label-title" resourcekey="">Sync Refund</span>
				</th>
				<td>
					<span class="label-data  viewedit-display-block  CheckSyncRefund"resourcekey="No"></span>
					<input type="checkbox" class="cx-control SyncRefund chk viewedit-display-none" />
                       
				</td>
				<th>
					<span class="label-title" resourcekey="">Sync On Account</span>
				</th>
				<td>
					<span class="label-data  viewedit-display-block  CheckSyncPettyCash"resourcekey="No"></span>
					
					<input type="checkbox" class="cx-control SyncPettyCash chk viewedit-display-none" />
                       
				</td>
			</tr>
           
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>



<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>