﻿<div class="Add-title">
    <span resourcekey="AddStore"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-Store-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="StoreName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control StoreName  txt required   string " maxlength="150" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="StoreNameAr"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control StoreNameAr  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="StoreCode"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control StoreCode  txt required   string " maxlength="4" minlength="1"
                            type="text" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="DefaultCurrency"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="DefaultCurrency  lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Location"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="Location  lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="GLCashAccount"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="ArCashCustomer  lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="GLVisaAccount"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="ArVisaCustomer  lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="GLMasterAccount"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="ArMixedCustomer  lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="GLAmix"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="GlAccount lst">
                            </select>
                        </div>
                    </td>
                    <!-- <th>
                            <span class="label-title" resourcekey="BankAccount"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                          
                            <div class="">
                                <select class="BankAccount lst">
                                </select>
                            </div>
                            </td>

                    </tr>-->
                    <th>
                        <span class="label-title" resourcekey="GlNational"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="GlNational  lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="GLCheck"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <select class="GlCheck  lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="IpAddress"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control IpAddress  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="MacAddress"></span>
                    </th>
                    <td>
                        <input class="cx-control MacAddress  txt    string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="DataBaseInstanceName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control DataBaseInstanceName  txt required   string " maxlength="100"
                            minlength="3" type="text" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="DataBaseName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control DataBaseName  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="DataBaseUserName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control DataBaseUserName  txt required   string " maxlength="100"
                            minlength="1" type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="DataBasePassword"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control DataBasePassword  txt  required  string " maxlength="100"
                            minlength="3" type="password" />
                    </td>
                </tr>
                
            </table>
        </fieldset>
    </div>
</div>
