<tr class="result-block">
    <td class="TBody-Td left-content">
        <span class="row-number number"></span>
    </td>
    <td class="TBody-Td result-data1 left-content">
        <label class="List-view-1">
        </label>
    </td>
    <td class="TBody-Td result-data2 left-content">
        <label class="List-view-2">
        </label>
    </td>

     <td class="TBody-Td result-data3 left-content">
        <label class="List-view-3">
        </label>
    </td>
</tr>
