<div class="Add-title">
    <span resourcekey="UserDetails"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link"><span resourcekey="Save">
            </span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link"><span resourcekey="Cancel">
            </span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <table border="0" cellpadding="0" cellspacing="0" class="Data-Table user-info">
            <tr>
                <th class="label-title">
                    <span resourcekey="UUserName"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <input class="cx-control UserName txt required viewedit-display-none" maxlength="32"
                        minlength="3" type="text" />
                </td>
                <th class="label-title">
                    <span resourcekey="UFirstName"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <input class="cx-control FirstnameEnglish txt required viewedit-display-none" maxlength="100"
                        type="text" />
                </td>
            </tr>
            <tr>
                <th class="label-title">
                    <span resourcekey="UMiddleName"></span>
                </th>
                <td>
                    <input class="cx-control MiddleNameEnglish txt viewedit-display-none" maxlength="100"
                        type="text" />
                </td>
                <th class="label-title">
                    <span resourcekey="ULastName"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <input class="cx-control LastNameEnglish txt required viewedit-display-none" maxlength="100"
                        type="text" />
                </td>
            </tr>
            <tr>
                <th class="label-title">
                    <span resourcekey="UPassword"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <input class="cx-control UserPassword Password txt required viewedit-display-none"
                        maxlength="32" type="password" />
                </td>
                <th class="label-title confirm-password viewedit-display-none">
                    <span resourcekey="UConfirmPassword"></span><span class="smblreqyuired ">*</span>
                </th>
                <td>
                    <input class="cx-control Password ConfirmPassword txt required viewedit-display-none"
                        maxlength="32" type="password" />
                </td>
            </tr>
            <tr>
                <th class="label-title">
                    <span resourcekey="UTitle"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <input class="cx-control Title required txt viewedit-display-none" type="text" maxlength="100" />
                </td>
                <th>
                    <span class="label-title" resourcekey="DateOfBirth"></span>
                </th>
                <td>
                    <div class="viewedit-display-none">
                        <input class="cx-control DobValue txt date viewedit-display-none" type="text" />
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title" resourcekey="UEmail"></span>
                </th>
                <td>
                    <input type="text" class="cx-control UserEmail email txt viewedit-display-none" maxlength="60" />
                </td>
                <th>
                    <span class="label-title" resourcekey="URole"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <div class="viewedit-display-none">
                        <select class="RoleName lst">
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title" resourcekey="UTeam"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <div class="viewedit-display-none">
                        <select class="TeamName lst">
                        </select>
                    </div>
                </td>
                <th>
                    <span class="label-title" resourcekey="UManager"></span>
                </th>
                <td>
                    <span class="label-data Manager viewedit-display-block"></span>
                    <div class="display-none">
                        <select class="Manager lst">
                        </select>
                    </div>
                </td>
            </tr>
            <tr class="display-none">
                <th>
                    <span class="label-title" resourcekey="Cancel">Is Default</span>
                </th>
                <td>
                    <input type="checkbox" class="cx-control IsDefault viewedit-display-none" />
                </td>
                <th>
                    <span class="label-title" resourcekey="Cancel">Is Manager</span>
                </th>
                <td>
                    <input type="checkbox" class="cx-control IsManager viewedit-display-none" />
                </td>
            </tr>
            <tr>
                <th class="label-title">
                    <span >Access code</span>
                </th>
                <td>
                    <input class="cx-control AccessCode  txt viewedit-display-none" type="text" maxlength="100" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title" resourcekey="IsPosUser">Is Default</span>
                </th>
                <td>
                    <input type="checkbox" class="cx-control IsPosUser viewedit-display-none" />
                </td>
                <th>
                    <span class="label-title" resourcekey="UNote"></span>
                </th>
                <td>
                    <textarea class="cx-control Notes txt viewedit-display-none" maxlength="500"></textarea>
                </td>
            </tr>
            
        </table>
    </div>
</div>
