<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 35);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list ,.SelveServiceUserInfo-tab, .ClientCareCaseTab-tab').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="UserDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-person-lnk viewedit-display-block"><span class="ActionDelete-link">
                </span><a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info person-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table user-info">
                    <tr>
                        <th class="label-title">
                            <span resourcekey="UUserName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data UserName nowrap viewedit-display-block"></span>
                            <input class="cx-control UserName txt nowrap required viewedit-display-none" maxlength="32"
                                minlength="3" type="text" />
                        </td>
                        <th class="label-title">
                            <span resourcekey="UFirstName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data FirstnameEnglish nowrap viewedit-display-block"></span>
                            <input class="cx-control FirstnameEnglish txt required viewedit-display-none" maxlength="100"
                                type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="label-title">
                            <span resourcekey="UMiddleName"></span>
                        </th>
                        <td>
                            <span class="label-data MiddleNameEnglish nowrap viewedit-display-block"></span>
                            <input class="cx-control MiddleNameEnglish txt viewedit-display-none" maxlength="100"
                                type="text" />
                        </td>
                        <th class="label-title">
                            <span resourcekey="ULastName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data LastNameEnglish nowrap viewedit-display-block"></span>
                            <input class="cx-control LastNameEnglish txt required viewedit-display-none" maxlength="100"
                                type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="label-title">
                            <span resourcekey="UPassword"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block">********</span>
                            <input class="cx-control UserPassword Password txt required viewedit-display-none"
                                maxlength="32" type="password" />
                        </td>
                        <th class="label-title confirm-password viewedit-display-none">
                            <span resourcekey="UConfirmPassword"></span><span class="smblreqyuired ">*</span>
                        </th>
                        <td>
                            <input class="cx-control Password ConfirmPassword txt required viewedit-display-none"
                                maxlength="32" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <th class="label-title">
                            <span resourcekey="UTitle"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data Title nowrap viewedit-display-block"></span>
                            <input class="cx-control Title required txt viewedit-display-none" maxlength="100"
                                type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DateOfBirth"></span>
                        </th>
                        <td>
                            <span class="label-data DobValue date viewedit-display-block"></span>
                            <div class="viewedit-display-none">
                                <input class="cx-control DobValue txt date viewedit-display-none" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="UEmail"></span>
                        </th>
                        <td>
                            <a class="label-data email-to nowrap UserEmail lnkLabel" href="" target="_top"></a>
                            <!--link-->
                            <input type="text" class="cx-control UserEmail email txt display-none" maxlength="60" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="URole"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <a class="label-data nowrap RoleName-link lnkLabel viewedit-display-block"><span
                                class="label-data lnkLabel RoleName viewedit-display-block nowrap"></a>
                            <div class="viewedit-display-none">
                                <select class="RoleName lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="UTeam"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <a class="label-data nowrap TeamName-link lnkLabel viewedit-display-block"><span
                                class="label-data lnkLabel TeamName viewedit-display-block nowrap"></a>
                            <div class="viewedit-display-none">
                                <select class="TeamName lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="UManager"></span>
                        </th>
                        <td>
                            <a class="label-data nowrap Manager-link lnkLabel"><span class="label-data lnkLabel Manager nowrap">
                            </a>
                            <div class="display-none">
                                <select class="Manager lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="display-none">
                        <th>
                            <span class="label-title" resourcekey="UIsDefault"></span>
                        </th>
                        <td>
                            <span class="label-data IsDefault nowrap viewedit-display-block"></span>
                            <!-- <input type="checkbox" class="cx-control IsDefault chk viewedit-display-none" />-->
                        </td>
                        <th>
                            <span class="label-title" resourcekey="UIsManager"></span>
                        </th>
                        <td>
                            <span class="label-data IsManager nowrap viewedit-display-block"></span>
                            <!-- <input type="checkbox" class="cx-control IsManager chk viewedit-display-none" />-->
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="IsPosUser"></span>
                        </th>
                        <td>
                            <span class="label-data IsPosUser nowrap viewedit-display-block"></span>
                            <input type="checkbox" class="cx-control IsPosUser chk viewedit-display-none" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="UNote"></span>
                        </th>
                        <td>
                            <span class="Notes nowrap viewedit-display-block label-data"></span>
                            <textarea class="cx-control Notes txt viewedit-display-none" maxlength="500"></textarea>
                        </td>
                    </tr>
                     <tr>
                        <th>
                            <span class="label-title" resourcekey="AccessCode"></span>
                        </th>
                        <td>
                            <span class="label-data AccessCode nowrap viewedit-display-block"></span>
                             <input type="text" class="cx-control AccessCode  txt viewedit-display-none" maxlength="100" />
                            
                        </td>
                       
                    </tr>
                </table>
                <div id="historyUpdated" class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-email"></span><a href="#" class="add-new-link add-new-email">
            <span resourcekey="AddNewemail"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="email-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="3">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-note"></span><a href="#" class="add-new-link add-new-note">
            <span resourcekey="AddNewnote"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="note-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="4">
    <iframe src="" class="document-iframe" style="width: 100%; height: 480px"></iframe>
</div>
<div class="TabbedPanelsContent" tabindex="5">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-StoreShift"></span><a href="#" class="add-new-link add-new-StoreShift">
            <span resourcekey="AddStoreAndShift"></span></a>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="StoreShiftTab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<!--<div class="TabbedPanelsContent" tabindex="5">
    <div class="display-none calendar">
    </div>
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Communication"></span><a href="#" class="add-new-link add-new-Communication">
            <span resourcekey="AddNewCommunication"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="event-info">
            <div class="main-task">
            </div>
            <div class="sub-task">
            </div>
        </div>
        <div class="Tab-list">
            <ul class="Communication-tabs">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
  
</div>-->
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
