﻿<tr class="item-details-row">
    <td class="td-r1-data-table center-content">
        <span class="label-data RowNum nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data InvoiceNumber nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data Type nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data InvoiceDate nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money TotalPrice invoice nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money ItemsDiscount invoice nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data  money AmountDiscount invoice nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money Tax invoice  nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money Total invoice  nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money CashAmount payment nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money OnAccountAmount payment nowrap "></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money CreditCardAmount payment nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money ChequeAmount payment nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data money TotalPayment payment nowrap"></span>
    </td>
      <td class="td-r1-data-table center-content">
        <span class="label-data money DifAmount payment nowrap"></span>
    </td>
</tr>
