﻿.viewedit-display-none { display:none; }
.viewedit-display-block {display:block; }
.t-country-num { margin:2px !important;}

#INFlstSC , #LNFlstSC ,#INFlstRC , #LNFlstRC
{
    width:50px !important;
    height:23px;
    }
    
    .INFormat ,.LNFormat  
    {
        width:50px !important;
    }
    
    
    
    .Add-title
    {
        position:relative;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
-pie-background:linear-gradient(#ffffff, #ededed);

box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
width:100%;
font:normal 14px tahoma;
padding:7px 0px;
color:#8a9294;
behavior: url(PIE.htc);
height:10px;
        }
        
        
        .floatLeft 
        {
            float: left;
            }