﻿ 
 .BackEndSync-info 
 {
      width:100%;
	  padding-top :5px;
      vertical-align:top;
      border:solid 1px #d1d1d1;
     }

.BackEndSync-info th{
	text-align:left;
	width:10%;
	padding:5px;
	padding-bottom:5px;
	vertical-align:top;
	border:solid 1px #d1d1d1;
}

.BackEndSync-info td{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	width:10%;
	position:relative;
	border:solid 1px #d1d1d1;
}


.syncBtn { cursor:pointer;text-decoration:underline; }

