@charset "utf-8";
/* CSS Document */

.Top-Mid-section{ height:0px !important;}
.white-container{ height:0px !important;}

.Page-body
{
    height: 900px !important;
}

.Page-container 
{
    padding:0;
	margin:0;
	width:100%;
	height:100%;
	background:url(../Images/LandingPage/landingpage_BG.jpg) !important;
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
    }
    
 /*   
.LandingPageBody{
	  padding:0;
	margin:0;
	width:100%;
	height:100%;
	background:url(../Images/LandingPage/landingpage_BG.jpg) !important;
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
}*/	

#pageContainer {
	width:100%;
	height:auto;
	}

#Modules_fieldset {
	text-align:center;
	width:70%;
	height:auto;
	padding:2%;
	float:none;
	border:#A9C171 2px solid;
	border-radius:50px;
	margin:4% auto;
	}	
#Modules_fieldset legend {
	font-weight:bold;
	font-size:36px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.31);
	}	
.ModulesBox {
	position:relative;
	display:inline-block;
	width:190px;
	height:222px;
	margin:7px;
	}	
.greenCircle{
	position: absolute;
	background: #BAD540;
	display: block;
	top: 12px;
	left: 20px;
	width: 128px;
	height: 128px;
	padding: 11px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.2);
	-webkit-transition: all .2s; /* Safari */
    transition: all .2s;
	}
	

.greenCircleimg{
	width: 100%;
	height: auto;
    }
.ModulesBox:hover .greenCircle{
	background:#E8FF66;
	top: 7px;
	left: 15px;	
	width: 138px;
	height: 138px;
	}		
	
a:link.titles , a:visited.titles , a:active.titles {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 5px;
	width: 182px;
	height: 43px;
	border-radius:90px;
	font-size:18px;
	font-weight:bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color:#333;
	text-decoration:none;
	}
a:hover.titles {
	
	}
/*************************************/

.tooltip {outline:none; font-size:14px; text-align:left;}
.tooltip strong {line-height:normal;}
.tooltip:hover {text-decoration:none;} 
.tooltip span {
	opacity:0.0;
    z-index:10;
	display:none; 
	padding:14px 20px;
    margin-top:-110px; 
	margin-left:-60px;
    width:220px; 
	line-height:16px;
	
}
.tooltip:hover span{
	opacity:1;
    display:inline; 
	position:absolute; 
	color:#fff;
	background:#333;transition: all .3s ease .15s;
	}
	
.callout {
	z-index:20;
	position:absolute;
	bottom:-15px;
	border:0;
	left:110px;
	}
    
/*CSS3 extras*/
.tooltip span
{
    border-radius:10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/*************************************************/

footer {
	position:fixed;
	display:block;
	bottom:0;
	left:0;
	background:url(../Images/LandingPage/footer.png) center repeat-x;
	width:100%;
	height:18px;
	padding:7px 0;
	color:#FFF;
	text-align:center;
	font-size:12px;
	} 



.tooltipTung 
{
    background:url(../Images/LandingPage/footer.png) center repeat-x;
    
    }