<li class="li-discussion-item">
    <div>
        <span class="discussion-person-detail">By <span class="dis-user-name"></span>
        </span>
    </div>
    <span class="discussion-detail"></span></li>
