﻿	.ui-combobox {
		position: relative;
		display: inline-block;
	}
	.ui-combobox-toggle {
		position: absolute;
		top:1px;
        right:0px;
		bottom: 1px;
		margin-left: -1px;
		padding: 0;
		/* adjust styles for IE 6/7 */
		*height: 1.7em;
		*top: 0.1em;
		border:0;
	}
	.ui-combobox-input {
		margin: 0;
		padding: 0.3em;
		width:150px;
	}
	.ui-autocomplete-disabled
	{
	    background-color:#EEEEEE !important;
	    }
input.ui-state-default {
      color: #000000 !important;
    font-family: tahoma;
    font-weight: normal;
    width:150px;
    border-color:#DDDDDD
}
            
.ui-menu .ui-menu-item a.ui-state-hover {background:none;background-color:#95B660;color:#FFF;border-color:#DDDDDD}
.ui-combobox-toggle {border-color:#ddd}

input.cx-control-red-border{border-color:red !important}

.cx-ui-autocomplete-menu-padding
{
	padding:2px !important;
	width:148px!important;
}

.ui-autocomplete > li.ui-menu-item
{
	border-bottom:none !important;
	}
	    
.ui-menu .ui-menu-item a {font-family:Tahoma;font-size:11px;}
.ui-ac-loader {display:none;width:16px;height:16px;position: absolute;right: 25px;top: 5px;background-image:url(../images/loader.gif)}


.ac-multi-li-text { width:148px;}
.ac-multi-li-text div { width:130px; display:inline-block;}