﻿/* Generic Styles */
body, *
{
    font-family: Calibri, 'Helvetica Neue' , Helvetica, Arial, sans-serif;
}

h1, h2, h3 {font-weight:normal}
a {text-decoration:none}
a:hover {text-decoration:underline}
a img {border:none}

#content h1
{
    margin:1em 0 .5em 0;
}

#content h1.title
{
    margin-top:0;
}
        
#headerContainer {border-bottom:dotted 2px #ccc;margin-bottom:1em;}
#header {width:1000px;margin:0 auto}
#header div {font-size:200%;margin:.5em 0}
#contentContainer {width:1000px;margin:0 auto}
#sidebar {float:left;width:200px;margin-right:1em;margin-bottom:1em;padding:.5em;background-color:#f0f0f0;border:2px dotted #888;}
#sidebar p {font-size:90%}
#content {float:left;width:750px;}
        
#footer {text-align:center;margin-top:1em;padding-top:.5em;border-top:dotted 2px #ccc;color:#888;clear:both}    

/* site styles */
table.settings {width:100%}
table.settings th {text-align:left;font-weight:normal}
table.settings td {height:1.5em}

table.results {border-collapse:collapse;border:1px solid #c0c0c0}
table.results td, table.results th {border:1px solid #c0c0c0}
table.results th {background-color:#e0e0e0}
        
/* buttons */
.button
{
    border: none;
    background: url(btn.png) no-repeat 0px 0px;
    color: #445 !important;
    cursor: pointer;
    display: block;
    float: left;
    font: normal normal normal 11px/normal 'Lucida Grande' , 'Helvetica Neue' , Arial, Helvetica, sans-serif !important;
    height: 26px;
    margin: 0.5em .5em;
    overflow: hidden;
    padding: 0px;
    text-decoration: none !important;
    text-shadow: white 1px 1px 0px;
}

.button *
{
    cursor: pointer;
}

.button span
{
    background: url(btn.png) no-repeat 100% -104px;
    float: left;
    font-size: 100%;
    height: 26px;
    margin-left: 13px;
    padding: 6px 13px 6px 0px;
}

.button:hover, .su-hover .button
{
    background-position: 0 -26px;
    color: #223;
    text-decoration: none;
}

.button:active, .button:focus, .button.su-focus, .su-focus .button
{
    background-position: 0 -52px;
    color: #000;
    text-decoration: none;
}

.button:hover span, .su-hover .button span
{
    background-position: 100% -130px;
}

.button:active span, .button:focus span, .button.su-focus span, .su-focus .button span
{
    background-position: 100% -156px;
}

.button.disabled *
{
    cursor: default;
}

.button.disabled span, .button.disabled:hover span, .su-hover .button.disabled span, .button.disabled:active span, .button.disabled:focus span, .button.disabled.su-focus span, .su-focus .button.disabled span
{
    background-position: 100% -182px;
    text-shadow: none;
}

.button.disabled, .button.disabled:hover, .su-hover .button.disabled, .button.disabled:active, .button.disabled:focus, .button.disabled.su-focus, .su-focus .button.disabled
{
    background-position: 0 -78px;
}

.button span b.icon
{
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin: -1px 3px 0 -4px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image:url(button-icons.png)
}

.button span b.icon.save { background-position: -0px 50%; }
.button span b.icon.add { background-position: -16px 50%; }
.button span b.icon.add-folder { background-position: -32px 50%; }
.button span b.icon.cancel { background-position: -48px 50%; }
.button.disabled span b.icon.cancel { background-position: -64px 50%; }
.button span b.icon.delete { background-position: -80px 50%; }
.button span b.icon.edit { background-position: -96px 50%; }
.button span b.icon.newupload { background-position: -112px 50%; }
.button span b.icon.settings { background-position: -128px 50%; }
.button span b.icon.upload { background-position: -144px 50%; }
.button.disabled span b.icon.upload { background-position: -160px 50%; }

.button-container
{
    margin: 1em 1em; /*padding:.5em 1em;*/
    overflow: hidden; /*border:1px solid #ccc;         background-color:#eee;*/
}

.simple .su-removecommand
{
    cursor:pointer;
    width:16px;
    height:16px;
    margin-left:4px;
    background-image:url(button-icons.png);
    background-position: -80px 50%;
    text-indent:-10000px;
    background-position:center top;
    background-repeat:no-repeat;
    display: block;
    float: left;
    margin-top:3px;    
}

/* file type icons */
.su-filename
{
    background-image:url(../images/files-types.png);
	background-repeat:no-repeat;
	width:64px;height:64px;
	display:block;
	margin: 0 auto;
}
/*.su-ext-default { background-position:0 -308px; }*/
.su-ext-aac  { }
.su-ext-mdb , .su-ext-mde , .su-ext-accdb , .su-ext-accde , .su-ext-accdt , .su-ext-accdr  {background-position:center -160px; }
.su-ext-unk , .su-ext-default {background-position:center -400px;}
.su-ext-avi  {background-position:center -320px; }
.su-ext-bmp  { background-position:center -240px;}
.su-ext-chm  {  }
.su-ext-config  {  }
.su-ext-dll , .su-ext-exe  {  }
.su-ext-xls , .su-ext-xlt , .su-ext-xlsx , .su-ext-xlsm , .su-ext-xltx , .su-ext-xltm , .su-ext-xlsb , .su-ext-xlam , .su-ext-xll  {background-position:center -80px;  }
.su-ext-gif  { background-position:center top; }
.su-ext-html , .su-ext-htm  {  }
.su-ext-ini , .su-ext-aspx , .su-ext-ascx , .su-ext-cshtml , .su-ext-vbhtml , .su-ext-asax, .su-ext-ashx {  }
.su-ext-jpg {background-position:center -1520px;}
.su-ext-js, .su-ext-cs  {background-position:center -1040px; }
.su-ext-mov , .su-ext-qt , .su-ext-hdmov , .su-ext-movie  { }
.su-ext-mp1 , .su-ext-mp2 , .su-ext-mp3  { background-position:center -1440px; }
.su-ext-mpg , .su-ext-mpeg , .su-ext-m1v , .su-ext-mpa , .su-ext-mpe , .su-ext-mpv2  {background-position:center -1360px;}
.su-ext-ico , .su-ext-tif , .su-ext-tiff , .su-ext-raw , .su-ext-tga , .su-ext-psd , .su-ext-psp , .su-ext-pdn  {background-position:center -480px;}
.su-ext-ivf , .su-ext-gvi , .su-ext-gvp , .su-ext-dvx , .su-ext-vob , .su-ext-evo  {  }
.su-ext-oga , .su-ext-ogg , .su-ext-mid , .su-ext-midi  {}
.su-ext-mid , .su-ext-midi  {}
.su-ext-pdf  { background-position:center -1280px; }
.su-ext-png  { background-position:center -1200px;}
.su-ext-ppt , .su-ext-pot , .su-ext-pps , .su-ext-pptx , .su-ext-pptm , .su-ext-potx , .su-ext-potm , .su-ext-ppam , .su-ext-ppsx , .su-ext-ppsm  {background-position:center -1120px;}
.su-ext-sln , .su-ext-csproj , .su-ext-vbproj  { }
.su-ext-ram , .su-ext-rm , .su-ext-ra  {background-position:center -560px;}
.su-ext-reg  { }
.su-ext-rtf  { }
.su-ext-txt {background-position:center -1040px; }
.su-ext-css {background-position:center bottom; }
.su-ext-vbs , .su-ext-vb  {}
.su-ext-wav  {background-position:center -960px;}
.su-ext-wma  { background-position:center -880px;}
.su-ext-wmv , .su-ext-asf  {background-position:center -800px; }
.su-ext-doc , .su-ext-dot , .su-ext-docx , .su-ext-docm , .su-ext-dotx , .su-ext-dotm  {background-position:center -720px;}
.su-ext-xml , .su-ext-xsd  {  }
.su-ext-xsl , .su-ext-xslt  { background-position:center -80px; }
.su-ext-zip , .su-ext-jar , .su-ext-rar , .su-ext-ace , .su-ext-cab , .su-ext-tar , .su-ext-gz , .su-ext-bz  {background-position:center -640px;}
