﻿#SubFoldersList
{
	width:200px;
	overflow:auto;
	height:400px;
}

.foldercontainer
{
	clear: both;
	padding-right: 16px;
}
.foldercontainer a:hover
{
	text-decoration: underline;
	cursor: pointer; /*color: Blue;*/
}
.subfoldercontainer
{
	background-image: url("../images/ftv2vertline.gif");
	background-repeat: repeat-y;
	padding-right: 20px;
	display:none;
	min-height :20px;
	background-position:right;
	
	
}
.open
{
	background-image: url("../images/ftv2folderopen.gif");
	width: 24px;
	height: 18px;
	margin: 0;
	float: right;
	cursor: pointer;
}
.close
{
	background-image: url("../images/ftv2folderclosed.gif");
	width: 24px;
	height: 18px;
	margin: 0;
	float: right;
	cursor: pointer;
}
.foldercollapse
{
	background-image: url("../images/ftv2pnode_ar.gif");
	float: right;
	height: 20px;
	width: 16px;
}


.ftv2mlastnode
{
    background-image: url("../images/ftv2mlastnode_ar.gif"); /* _ */
}


.ftv2mnode
{
    background-image: url("../images/ftv2mnode_ar.gif");
}


.ftv2plastnode
{
    background-image: url("../images/ftv2plastnode_ar.gif"); /*  + */
}


.ftv2pnode
{
    background-image: url("../images/ftv2pnode_ar.gif");
}


.ftv2lastnode
{
    background-image: url("../images/ftv2lastnode_ar.gif");
}


.ftv2node
{
    background-image: url("../images/ftv2node_ar.gif");
}


#txtAddSubFolder
{border-color:black;}


.delete
{
    background-image: url("../images/index.jpg");
    width: 16px;
    height: 16px;
    margin: 0;
    float: left;
    cursor: pointer;
}