﻿    #uploadContainer
    {
        display: block;
        /*border: 2px dashed #BBD8FB;*/
        /*height: 335px;*/
        position: relative;
        margin-bottom: 1em;
        /*overflow: auto;*/
        width:59%;
        float:right;
    }
    #uploadContainer.kw-dragging
    {
        border-color: #666;
        background-color: #fafafa;
    }
    #uploadContainer.kw-dragging.kw-dragover
    {
        background-color: #f0f0f0;
    }
    #uploadContainer .su-filelist
    {
        /*overflow: auto;*/
        padding: 3px;
        display: none;
        min-height: 150px;
        border-bottom: 1px solid #DDDDDD;
        margin: 5px;      
        
    
    }
    #uploadContainer .su-filelistitem
    {
        /*float: right;
        padding:0px 5px 0px 5px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom:5px;
        width:220px;
        height:50px;
        font-size:11px;
        background-color:#ededed;
        border:1px solid #FFF;
        border-radius:3px;*/
        
        width:87px; padding:8px;cursor:pointer;display:inline-block;
    }
    .su-progressbar
    {
        /*margin-right: 30px;*/
        margin-left: 40px;
        background-color: #008800;
        height: 2px;
        width: 0px;
    }
    #uploadTopContainer
    {
        background-color: #EEF5FE;
        height: 18px;
        padding: 3px;
        position: absolute;
        top: 0;
        right: 0px;
        left: 0px;
        width: 99%;
    }
    #completeContainer
    {
        float: left;
        display: none;
    }
    #completingIndicator
    {
        background-image: url(/content/ajax-loader.gif);
        background-position: 0 center;
        padding-right: 20px;
        background-repeat: no-repeat;
    }
    #uploadContainer.initial #selectorContainer
    {
        margin-top: 38%;
        text-align: center;
        font-size: 20px;
        font-family: 'Segoe UI Light' , 'Segoe UI' ,Helvetica,Arial,Sans-Serif;
        height:8%
    }
    #uploadContainer.initial #dropInstructions
    {
        margin-bottom: 6px;
    }
    #uploadContainer.small #selectorContainer
    {
        height: 18px;
        padding: 2px 4px;
        text-align: center;
        background: #f3f3f3;
        position: absolute;
        bottom: 0;
        right: 0px;
        left: 0px;
    }
    #uploadContainer.small #dropInstructions
    {
        float: right;
    }
    #uploadContainer.small .su-fileselector, #uploadContainer.small .su-folderselector
    {
        float: left;
        margin-left: 3px;
    }

    .su-removecommand
    {
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url(/content/button-icons.png);
        background-position: -80px 50%;
        text-indent: -10000px;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 3px;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1; display:inline;}
    a:hover, .su-hover a, input[type=file]
    {
        text-decoration: underline;
    }
    .su-folderselector a,  .su-fileselector a
    {
    display:block;
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
   cursor:pointer;
    width:auto;  
}

.btnsave {
    display:inline-block;
    padding: 2px 1.5%;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
    cursor:pointer;
    width:auto;
}

#adding
{
padding: 0 1% 0 0;
}

/*
a.filehover:hover{color:Blue;text-decoration:underline;}
.su-filename:hover {text-decoration:underline}
.su-filename:visited  {color:Red}
*/

#SubFoldersList {height:100%}
.uploadContainer{border-bottom: 1px solid #CCCCCC;height: 25px;padding: 5px 0px;width: 100%;}
.dropInstruction{display: none;opacity:0.5;float:right}

.lnkBrowsFiles{margin-bottom: 6px;margin-left:6px;}
.existfiles{/*padding-top:20px*/}
.deletediv{float: left; margin-right: 7px;}
.FileListElementContainer{white-space: nowrap; margin-right: 30px}
.UploadProgressBarContainer{height:2px;width:95%;border:solid 1px;}
.folderscontainer
{
    width:40%;
    border-left:solid 1px #ddd;
    float:right;}
.lnkaddfolder{display: none;}
.fileselecter{width:auto;float:left}
.deleteexisitingfile{margin-top:5px;float: left;font-size: 11px;margin-right: 6px;display:none;background-image:url(../Images/DocumentIcons/deletefile.png);width:16px;height:16px;cursor:pointer}
.22su-filename{width:71%;margin-top:5px;font-family:Helvetica;font-size:12px;line-height:100%;height:30px;background-position:0 -308px;/*background-image:url(../Images/DocumentIcons/doc-icon.png); background-position:0 0*/}
/*.su-filename1 {display:inline-block;width:90%;background-image:url(../Images/DocumentIcons/doc-icon.png); background-position:0 0}
*/
.22su-filename a {color:#000;text-decoration:none}
.pnldocumentgrid{height: auto; padding-bottom: 0px;}
/*
.filemousehover{background-image:url(../Images/DocumentIcons/fileoverbg.png);border-color:#BBD8FB;}
.filemouseout{background-image:none;border-color:#FFF;}
.fileselected{background-image:url(../Images/DocumentIcons/fileselectedbg.png);border-color:#BBD8FB;}
*/




html{overflow:hidden;}

.Documents-div
{
    width:100%;
    display:inline-block;
}

.Folders-side
{
    float:right;
    /*border-left:solid 1px #ddd;*/
    width:100%;
    overflow-x:auto !important;
}

.Folders-side ul
{
    margin:0px;
    /*padding:0px;*/
}

.Folders-side li
{
    display:block;
    padding:0px 0px 0px;
    cursor:pointer;
}

.Folders-side li div
{
    padding:2px 0px;
}

.Folders-side li ul
{
    margin:0px;
   /* display:none;*/
}

.Folders-side li ul li
{
    padding:1px 0px 0px;
    margin-right:1px;
}

.folderSelected
{
    background-color:#cfdd6a;
}
.folderSelected span
{
    font-weight:bold;
}

.folder-lvl1
{
    color:#4f4f4f;
    font:bold 11px tahoma;
}

.folder-lvl2
{
    color:#4f4f4f;
    font:normal 11px tahoma;
    display:inline-block;
}


.folder-img
{
    background-image:url(../images/images-2.png);
    background-repeat:no-repeat;
    width:23px;
    height:15px;
    clear:both;
    display:inline-block;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:none;
}

.open-folder{background-position:right -833px;}
.closed-folder{background-position:right -865px;}
.empty-folder{background-position:right -849px;}
.add-folder{background-position:right -883px;}
.rename-folder{background-position:right -934px;}

.new-folder
{
    border-top:solid 1px #ddd;
    padding:5px 0px;
}

.new-folder-textbox
{
    width:79%;
    padding:0.3em 0;
    border:solid 1px #ddd !important;
    background-color:transparent !important;
    color:#b1b1b1;
    font:normal 11px tahoma;
}
.new-folder-textbox:focus
{
    color:#4f4f4f;
    font-weight:bold;
}

.Drop-side
{
    float:right;
    width:79%;
}

.Drop-side-top
{
    border-bottom:solid 1px #ddd;
    padding:5px 0px;
    text-align:left;
}

.DragDrop
{
    width:100%;
}

.DragDropBackground
{
    position:absolute;
    margin-top:20%;
    margin-right:30%;
    z-index:0;
}

.background-text
{
    color:#ddd;
	font:bold 24px tahoma;
	letter-spacing:2px;
}

.background-text-img
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:right -997px;
	height:68px;
	width:65px;
	display:inline-block;
}

div.Files-order
{
    margin:0px auto;
    padding:5px;
    width:100%;
    position:relative;
}

div.Files-order div.inline-divs
{
    display:inline-block;
    padding:15px 0px;
    text-align:center;
}

div.Files-order div.inline-divs div.whiteBG{width:87px; padding:8px;cursor:pointer;}

div.Files-order div.inline-divs div.whiteBG:hover
{
    background-color:white;
    box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	box-shadow:  0 0px 3px 1px rgba(175, 175, 175, 0.4)\0/;
	-webkit-box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	-moz-box-shadow:0 0px 3px 1px rgba(68, 68, 68, 0.4);
    position:relative;
    behavior: url(PIE.htc);
}

.delete-file
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:right -910px;
	width:20px;height:20px;
	display:none;
	right: 15px;
	bottom:18px;
	float:left;
    position: relative;
    width: 20px;
}

.File-img
{
    background-image:url(../images/files-types.png);
	background-repeat:no-repeat;
	width:64px;height:64px;
	display:block;
	margin: 0 auto;
}

.ft-gif{background-position:center top;}
.ft-xsl{background-position:center -80px;}
.ft-mdb{background-position:center -160px;}
.ft-bmp{background-position:center -240px;}
.ft-avi{background-position:center -320px;}
.ft-unkn{background-position:center -400px;}
.ft-ico{background-position:center -480px;}
.ft-ram{background-position:center -560px;}
.ft-zip{background-position:center -640px;}
.ft-doc{background-position:center -720px;}
.ft-wmv{background-position:center -800px;}
.ft-wma{background-position:center -880px;}
.ft-wav{background-position:center -960px;}
.ft-txt{background-position:center -1040px;}
.ft-ppt{background-position:center -1120px;}
.ft-png{background-position:center -1200px;}
.ft-pdf{background-position:center -1280px;}
.ft-mpg{background-position:center -1360px;}
.ft-mp3{background-position:center -1440px;}
.ft-jpg{background-position:center -1520px;}
.ft-css{background-position:center bottom;}

.File-img-title
{
    color:#4f4f4f;
    font:normal 11px tahoma;
    display:inline-table;
}


.su-percentcompletetext {font:normal 10px tahoma; }

.add-text-box
{
    margin: 15px 0px;
    display:none;
}


.deleteFolder
{
    cursor:pointer;
    width:12px; height:15px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -17px;
    background-repeat:no-repeat;
    float:right;
    padding-left:5px;
}

.arrowClosedFolder
{
    cursor:pointer;
    width:12px; height:19px;
    background-image:url(../images/images.png);
    background-position:left -492px;
    background-repeat:no-repeat;
    float:right;
    padding-left:5px;
}

.arrowOpenedFolder
{
    cursor:pointer;
    width:12px; height:19px;
    background-image:url(../images/images.png);
    background-position:left -506px;
    background-repeat:no-repeat;
    float:right;
    padding-left:5px;
    display:none;
}

.sub-folder
{
    width:100%;
}

.replacedInput
{
    display:none;
    width:100px;
}


.loading {position:absolute;display:none;z-index:100}
.loading .loadingicon {background-image:url(../images/loader.gif);height:16px; width:16px}

.Details-div
{
    border-bottom:solid 1px #323232;
    height:25px;
    width:100%;
background: rgb(139,139,139); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,139,139,1) 0%, rgba(164,164,164,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,rgba(139,139,139,1)), color-stop(100%,rgba(164,164,164,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#a4a4a4',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	*box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.2);
	box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
}

.Details-div .Action-div 
{
   	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -108px;
	bottom:0px !important;
	height:24px;
	padding:0px;
	width:100%;
	float:left;
	position:static;
}


.Details-div .Action-div ul{ float:left; margin:1% 0 0; padding:0px;}

.Details-div .Action-div ul li
{
    display:inline-block;
    padding-left:5px;
    font-size:10px;
    border:none !important;
    background-color:transparent !important;
    padding-top:0px !important;
}
.Details-div .Action-div ul li:hover{background-color:transparent !important;}

.Details-div .Action-div a{color:#fff; font:normal 11px tahoma;}

.floatLeft{ float:right;}


/*-------black background--------*/
.black_overlay{
display: none;
position: absolute;
top: 0%;
right: 0%;
width: 100%;
height: 100%;
background: rgba(40,52,59,0.6);
z-index:999999;
opacity:.70;
position: fixed;
}
.white_content{
display: none;
position: fixed;
top: 40%;
right: 35%;
z-index:999999;
}
/*-------black background--------*/




.confermitaion-msg-box
{
    min-width:25%;
    position:fixed;
    background-color:#fff;
    z-index:999999;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow:  0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
}
.cmb-title
{
    padding:6px 10px;
    background-color:#C7D763;
    border:solid 1px #95B660;
    border-bottom:none;
    color:#4f4f4f; font:bold 12px tahoma;
}
.cmb-desc
{
    padding:10px;
    border:solid 1px #ccc;
    border-top:none;
    border-bottom:none;
    color:#4f4f4f; font:normal 11px tahoma;
}
.cmb-controls
{
    padding:5px 10px;
    background-color:#eee;
    border:solid 1px #ccc;
    border-top:solid 1px #ddd;
    text-align:left;
}



.button2
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
        cursor:pointer;
    width:auto;
}

.button-cancel
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #bbb;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#ccc;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
    box-shadow:  0px 3px 5px 0px rgba(175, 175, 175, 0.2)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
    width:auto;
}