<tr class="ContentRow">
    <td class="td-r1-data-table center-content">
        <span class="ItemIdentity"></span>
    </td>
    <td class="td-r1-data-table left-content">
        <input type="hidden" class="cx-control Id txt viewedit-display-none" maxlength="100">
        <span class="Name viewedit-display-block"></span>
        <input type="text" class="cx-control Name required txt viewedit-display-none" maxlength="100">
    </td>
    <td class="td-r1-data-table display-none left-content">
        <span class="NameAr viewedit-display-block"></span>
        <input type="text" class="cx-control NameAr txt viewedit-display-none" maxlength="100">
    </td>
    <td class="td-r1-data-table left-content">
        <span class="Description viewedit-display-block"></span>
        <textarea class="cx-control Description txt viewedit-display-none" rows="1" cols="40"
            maxlength="500"></textarea>
    </td>
    <td class="td-r1-data-table left-content">
        <span class="Manager viewedit-display-block"></span>
        <div class="viewedit-display-none">
            <select class="Manager lst">
            </select>
        </div>
    </td>
    <td class="td-r1-data-table left-content">
        <a class="lnkLabel ShowAllUser-link"><span class="viewedit-display-block" resourcekey="ShowAllUser">
        </span></a>
    </td>
    <td class="td-r1-data-table CreatedByName left-content">
        <span class="CreatedByName"></span>
    </td>
    <td class="td-r1-data-table CreatedDate center-content">
        <span class="CreatedDate"></span>
    </td>
</tr>
