<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="StoreDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Store-info">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="StoreName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block StoreName"></span>
                            <input class="cx-control StoreName  txt required   string viewedit-display-none"
                                maxlength="150" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="StoreNameAr"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block StoreNameAr"></span>
                            <input class="cx-control StoreNameAr  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="StoreCode"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block StoreCode"></span>
                            <input class="cx-control StoreCode  txt required   string viewedit-display-none"
                                maxlength="4" minlength="1" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DefaultCurrency"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  DefaultCurrency"></span>
                            <div class="viewedit-display-none">
                                <select class="DefaultCurrency  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Location"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  Location"></span>
                            <div class="viewedit-display-none">
                                <select class="Location  lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="GLCashAccount"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  ArCashCustomer"></span>
                            <div class="viewedit-display-none">
                                <select class="ArCashCustomer  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="GLVisaAccount"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  ArVisaCustomer"></span>
                            <div class="viewedit-display-none">
                                <select class="ArVisaCustomer  lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="GLMasterAccount"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  ArMixedCustomer"></span>
                            <div class="viewedit-display-none">
                                <select class="ArMixedCustomer  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="GLAmix"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  GlAccount "></span>
                            <div class="viewedit-display-none">
                                <select class="GlAccount  lst">
                                </select>
                            </div>
                        </td>
                        <!-- <th>
                            <span class="label-title" resourcekey="BankAccount"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                           <span class="label-data viewedit-display-block  BankAccount"></span>
                            <div class="viewedit-display-none"">
                                <select class="BankAccount  lst">
                                </select>
                            </div>
                            </td>-->
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="GlNational"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  GlNational "></span>
                            <div class="viewedit-display-none">
                                <select class="GlNational  lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="GLCheck"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block  GlCheck"></span>
                            <div class="viewedit-display-none">
                                <select class="GlCheck  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="IpAddress"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block IpAddress"></span>
                            <input class="cx-control IpAddress  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="MacAddress"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block MacAddress"></span>
                            <input class="cx-control MacAddress  txt    string viewedit-display-none" maxlength="100"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="DataBaseInstanceName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseInstanceName"></span>
                            <input class="cx-control DataBaseInstanceName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DataBaseName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseName"></span>
                            <input class="cx-control DataBaseName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="DataBaseUserName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block DataBaseUserName"></span>
                            <input class="cx-control DataBaseUserName  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DataBasePassword"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block">****</span>
                            <!-- <span class="label-data nowrap viewedit-display-block DataBasePassword"></span>-->
                            <input class="cx-control DataBasePassword  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="password" />
                        </td>
                        <!--<th>
					<span class="label-title" resourcekey="DefaultTax"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number DefaultTax"></span>
					<input class="cx-control DefaultTax  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>-->
                    </tr>
                    <!--<tr>
				<th>
					<span class="label-title" resourcekey="DisplayPricses"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number DisplayPricses"></span>
					<input class="cx-control DisplayPricses  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>
				<th>
					<span class="label-title" resourcekey="CashierDiscounts"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YCashierDiscounts"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NCashierDiscounts"resourcekey="No"></span>
					<input type="checkbox" class="cx-control CashierDiscounts chk viewedit-display-none" />
                       
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="LegalEntity"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number LegalEntityId"></span>
					<input class="cx-control LegalEntityId  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>
				<th>
					<span class="label-title" resourcekey="WeightScaleFormula"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number WeightScaleFormulaId"></span>
					<input class="cx-control WeightScaleFormulaId  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="IsUsed"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block  YIsUsed"resourcekey="Yes"></span>
					<span class="label-data nowrap viewedit-display-block  NIsUsed"resourcekey="No"></span>
					<input type="checkbox" class="cx-control IsUsed chk viewedit-display-none" />
                       
				</td>
			</tr>-->
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="2">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-register"></span><a href="#" class="add-new-link add-new-register">
            <span resourcekey="AddRegister"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="registers-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
