﻿.btn-save-permission
{
    float:left;
    margin-top:5px;
    }
    
.action-control
{
    }
.loading
{
    top:35% !important;
    }
    
.view-group-permi
{

    }
    
    .perm-div-1Col{
	width:33%;
    display:inline-block;
    vertical-align:top;
}

.perm-div-2Col{
	width:33%;
    display:inline-block;
    margin:0 0.1%;
    vertical-align:top;
}

.perm-div-3Col{
	width:33%;
	display:inline-block;
	vertical-align:top;
}

.perm-group-items{ display:none;}

.Permissions-action-div{
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 7px 0.5%;
    margin:0 0 7px;
    width: 99%;
}

.lbl-title
{
    color: #4F4F4F;
    font: bold 11px tahoma;
}

.save-title
{
    color: #8A9294;
    font: normal 11px tahoma;
    cursor:pointer;
}

.action-control UL
{
    margin:0;
    padding:0;
    list-style:none;
}

.action-control Li
{
    /*display:inline;*/
    vertical-align:middle;
    padding-left:1%;
}

.classInline{ display:inline;}

.action-control Li input[type=checkbox]
{
    margin-right:0.5%;
}

/*span.ActionSave-link{background-position:center -41px;}*/
span.ActionSave-link{background-position:center -47px;}


.Permissions
{
    width:100%;
    overflow:hidden;
    display:none;
}

.perm-group
{
    width:100%;
    border-bottom:solid 1px #ddd;
    display:inline-block;
    width:100%;
    margin-top:3px;
	background-color:white;
}

.perm-group-title
{
   	/*background-image:url(../../../common/images/images.png);*/
	background-repeat:no-repeat;
	/*background-position:right -65px;*/
	background-position:right -108px;
    padding:8px 5px;
	height:14px;
}

.perm-group-title:hover
{
    cursor:pointer;
}

.perm-group-title-closed
{
	background-position:right -108px;
}

.PermDetails-div
{
	height:30px;
    border-top:solid 1px #bbb;
	background-color:White;
	box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	*box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.2);
	box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
}

.perm-group-title-span
{
    font:bold 12px tahoma;
    color:#4f4f4f;
    margin-right:5px;
}


.PermDetails-div-open
{
	
	background-color:#A4C677;
}

.PermDetails-div-open-title
{
    color:#fff;
}

.perm-group-items
{
    width:100%;   
}

.perm-group-items ul
{
    margin:0px;
    padding: 0px;
}

.perm-group-items li.perm-item
{
    float:right;
    margin-left:10px;
    border:none !important;
    background-color:transparent !important;
    width:22%;
    padding:15px 5px 0px !important;
}
.perm-group-items li.perm-item:hover
{
    background-color:transparent;
    cursor:auto;
}

.perm-group-items-span
{
    color:#8a9294;
    font:normal 12px tahoma;
    margin-right:5px;
}

.collaps-arrow
{
    background-image:url(../../../common/images/images_ar.png);
    background-position:left -509px;
    background-repeat:no-repeat;
    width:11px;
    height:8px;
    display:inline-block;
    float:left;
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

.collaps-open{ background-position:left -498px;}


/* new */
.Catetogry-perm{}

.category-perm-group
{
    width:100%;
    border-bottom:solid 1px #ddd;
    display:inline-block;
    width:100%;
    margin-top:3px;
	background-color:white;
}

.categoryPermDetails-div
{
	height:30px;
	border-bottom:solid 1px #323232;
	background: rgb(139,139,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(139,139,139,1) 0%, rgba(164,164,164,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,139,139,1)), color-stop(100%,rgba(164,164,164,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#a4a4a4',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	*box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.2);
	box-shadow: 0px 1px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
}

.category-perm-group-title
{
   	background-image:url(../../../common/images/images_ar.png);
	background-repeat:no-repeat;
	background-position:left -108px;
    padding:8px 5px;
	height:14px;
}

.category-perm-group-title-span
{
    font:bold 12px tahoma;
    color:#fff;
    margin-right:5px;
}


.btn-edit-permissions
{
    float:left;
    margin-top:5px;
}
    
.display-none
{
    display:none;
}
    