﻿.popup-div {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 3px solid #ccc;
    background-color: #D7E6A7;
    border-radius:15px;
    padding-right:20px;
}
.popup-txt-area 
{
    border-radius:15px;
}

.popup-btn
{
    border:none;
    background-color:#D7E6A7 !important;
}

span.ActionSaveRole-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../../../Common/images/action-links-icons.png);
    background-position:center -40px;
    background-repeat:no-repeat;
}

span.ActionCancelRole-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../../../Common/images/action-links-icons.png);
    background-position:center -19px;
    background-repeat:no-repeat;
}
span.ActionEditRole-link{
    background-image:url(../../../Common/images/action-links-icons.png);
	background-repeat:no-repeat;
    background-position:center top;
	cursor:pointer;
    padding-left:17px !important;
	width:12px;
	height:14px;
}


.add-new-img {
padding-left: 0px !important;
}


.addSpan 
{
    padding-left: 3px !important;
    }
    
    .validation{top: 76px;
left: 7px;}