<div id="event-info">
    <div class="event-info-tabs">
        <ul class="event-tabs-ul">
            <li id="event-summery"><span class="tabs-title tabs-title-selected tabs-title-first-child">
                Summary</span></li>
            <!--            <li id="event-assigned-to"><span class="tabs-title">Assigned To</span></li>
            <li id="event-assigned-for"><span class="tabs-title">Assigned For</span></li>-->
            <li id="event-discussion"><span class="tabs-title">Discussion</span></li>
            <li id="event-attachment"><span class="tabs-title">Attachment</span></li>
        </ul>
        <ul class="event-info-action-links">
            <li class="event-actions"><span class="ActionAdd-link display-none task-user-action"></span><a class="calendar-action-link ActionAdd-link display-none">
                Add</a></li>
            <li class="event-actions"><span class="ActionEdit-link task-user-action"></span><a class="calendar-action-link action-edit ActionEdit-link">
                Edit</a></li>
            <li class="event-actions"><span class="ActionDelete-link task-user-action"></span><a class="calendar-action-link ActionDelete-link">
                Delete</a></li>
            <li class="event-actions"><span class="ActionSave-link task-user-action"></span><a class="calendar-action-link ActionSave-link">
                Save</a></li>
            <li class="event-actions"><span class="ActionCancel-link"></span><a class="calendar-action-link ActionCancel-link">
                Cancel</a></li>
            <li><span class="ActionClosed-link"></span><a class="calendar-action-link ActionClosed-link">
                Close</a></li>
        </ul>
        <div class="green-bottom-border">
        </div>
    </div>
    <div class="event-info-container">
        <div class="task-assignements-divs task-summery">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table noBorder">
                <tr class="task-assign-info">
                    <th>
                        <span class="label-title">Ref-NO : </span>
                    </th>
                    <td>
                        <span class="ReferenceNo label-data"></span>
                    </td>
                    <th>
                        <span class="label-title">Assigned By : </span>
                    </th>
                    <td>
                        <span class="CreatedBy label-data"></span>
                    </td>
                </tr>
                <tr class="task-closed-info display-none">
                    <th>
                        <span class="label-title">Closed By : </span>
                    </th>
                    <td>
                        <span class="ClosedBy label-data"></span>
                    </td>
                    <th>
                        <span class="label-title">Closed Date : </span>
                    </th>
                    <td>
                        <span class="ClosedDate label-data date-time"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title">Start Date : </span><span class="smblreqyuired viewedit-display-none">*</span>
                    </th>
                    <td>
                        <span class="StartDate date viewedit-display-block label-data"></span><span class="viewedit-display-none">
                            <input type="text" class="cx-control StartDate date required dateInput-width" /></span>
                        <span class="StartHour label-data  viewedit-display-block"></span>
                        <select class="lstStartDate viewedit-display-none Time-select">
                        </select>
                    </td>
                    <th>
                        <span class="label-title">End Date : </span><span class="smblreqyuired viewedit-display-none">*</span>
                    </th>
                    <td>
                        <span class="EndDate date  viewedit-display-block label-data"></span><span class="viewedit-display-none">
                            <input type="text" class="cx-control EndDate date required dateInput-width" /></span>
                        <span class="EndHour label-data  viewedit-display-block"></span>
                        <select class="lstEndDate viewedit-display-none Time-select">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title">Type : </span><span class="smblreqyuired viewedit-display-none">*</span>
                    </th>
                    <td>
                        <span class="TaskType  viewedit-display-block label-data"></span>
                        <div class="viewedit-display-none">
                            <select class="TaskType lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title">Priority : </span><span class="smblreqyuired viewedit-display-none">*</span>
                    </th>
                    <td>
                        <span class="TaskPriority  viewedit-display-block label-data"></span>
                        <div class="viewedit-display-none">
                            <select class="TaskPriority lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title">Status : </span><span class="smblreqyuired viewedit-display-none">*</span>
                    </th>
                    <td>
                        <span class="Status  viewedit-display-block label-data"></span>
                        <div class="viewedit-display-none">
                            <select class="Status lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title">Action : </span>
                    </th>
                    <td>
                        <span class="ActivityLookup  viewedit-display-block label-data"></span>
                        <div class="viewedit-display-none">
                            <select class="ActivityLookup lst">
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="task-assignment">
            </div>
            <div class="task-entity">
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table1col noBorder">
                <tr>
                    <th>
                        <span class="label-title">Description : </span>
                    </th>
                    <td colspan="3">
                        <span class="Description  viewedit-display-block nowrap-noWidth label-data"></span>
                        <textarea class="Description txt viewedit-display-none Task-Description" maxlength="1000"></textarea>
                    </td>
                </tr>
            </table>

        </div>
        <div class="task-assignements-divs task-discussion" style="display:none;">
            <div class="div-save-li">
                <ul>
                    <li class="save-li"></li>
                </ul>
            </div>
            <div class="div-text-discussion">
                <textarea class="txt-discussion"></textarea>
                <input type="button" value="Add" class="btn-save-discussion" />
            </div>
        </div>
        <div class="task-assignements-divs task-attachment display-none">
            <iframe src="" class="document-iframe task-att-frame"></iframe>
        </div>
        <!--   <div class="calendar-bg-img"></div>-->
        <div class="task-history-info">
         <span class="detail-sub-title">History Updated</span>
            <table class="Data-Table">
                <tr>
                    <th>
                        <span class="label-title">Assigned By : </span>
                    </th>
                    <td>
                        <span class="label-data CreatedBy lbl-history"></span>
                    </td>
                    <th>
                        <span class="label-title">Created Date : </span>
                    </th>
                    <td>
                        <span class="label-data CreatedDate lbl-history"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title">Last Updated By : </span>
                    </th>
                    <td>
                        <span class="label-data UpdatedBy lbl-history"></span>
                    </td>
                    <th>
                        <span class="label-title">Last Updated Date : </span>
                    </th>
                    <td>
                        <span class="label-data UpdatedDate lbl-history"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
