﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Common/MasterPage/NewSite.master" CodeBehind="DocumentMangment.aspx.cs" Inherits="SagePOS.Common.Web.NewCommon.Common.Documents.DocumentMangment" %>

<asp:Content runat="server" ContentPlaceHolderID="PageHeader" ID="PageHeader">
   
    <script src="../JScript/NewJS/systemconfiguraation.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setSelectedMenuItem($('.Document-icon'));
            var url = formatString("{0}/Common/Documents/DocumentHTML5.aspx?key={1}&modulename={2}&id={3}&eid={4}&parententityid={5}", 'http://localhost/centrix.projacs.crm.web', 124, 'DocumentMangment', 1, 1, 124);
            $('.document-iframe').attr('src', url);
            //  getAttachments(124, 1, 'DocumentMangment', 124)
        });

       
</script>
</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="PageBody" ID="PageBody">
<div class="TabbedPanels fullview-doc-div">
        <iframe src="" class="document-iframe fullview-doc-div"></iframe>
   </div>

    </asp:Content>





   