@charset "utf-8";
/* CSS Document */

body {
	margin:0; padding:0;
	font-family:sans-serif;
	font-size:12px;
	}
.clear {clear:both;}	
fieldset {
	position: absolute;
	border-radius:5px;
	border:#999 1px solid;
	padding:5px;
	display:block;
	background:#FFF;
	}
legend {
	font-weight:bold;
	font-size:12px;
	}	
ul {
	padding:5px;
	margin:0 0 0 18px;
}


#mainContainer {	
  display:block; 
  width:1200px; 
  height:678px; 
  margin:30px auto; 
  float:none; 
/*background:url(../images/circle.png) no-repeat 660px 250px;*/
  position:relative;	
}

.box01	{	
	left: 153px;
	top: 50px;
	width: 251px;
	height: auto !important;
	
	}
.box02	{
	left: 63%;
	top: 50px;
	width: 251px;
	height: auto !important;
	}
.box03	{
	left: 152px;
	top: 444px;
	width: 251px;
	height: auto !important;
	}
.box04	{
	    left: 153px;
    top: 280px;
    width: 251px;
    height: auto !important;
	}
.box05	{
	left: 153px;
	top: 165px;
	width: 251px;
	height: auto !important;
	}
.box06	{
	left: 63%;
	top: 280px;
	width: 251px;
	height: auto !important;
	}
.box07	{
	left: 63%;
	top: 165px;
	width: 251px;
	height: auto !important;
	}
	
.box08	{
width: 251px;
	    left: 39%;
    top: 398px;
	height: auto !important;
}
	

.label-1 {
	position: absolute;
	display: block;
	left: 15%;
	top: 50px;
	width: 139px;
	height: auto !important;
	}
	
.label-1 {
	position: absolute;
	display: block;
	left: 17px;
	top: 50px;
	width: 139px;
	height: auto !important;
	}
.label_img {
	float:none;
	margin:0 auto;
	display:block;
	}
.label_txt {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	float:none;
	display:block;
	}
.label-2 {
	position: absolute;
	display: block;
	left: 17px;
	top: 165px;
	width: 139px;
	height: auto !important;
	}
.label-3 {
	position: absolute;
	display: block;
	left: 12px;
	top: 445px;
	width: 139px;
	height: auto !important;
	}
.label-4 {
	position: absolute;
	display: block;
	left: 15px;
	top: 280px;
	width: 139px;
	height: auto !important;
	}
.label-5 {
	position: absolute;
	display: block;
	left: 50%;
	top: 165px;
	width: 163px;
	height: auto !important;
	}
.label-6 {
	position: absolute;
	display: block;
	left: 50%;
	top: 50px;
	width: 139px;
	height: auto !important;
	}
.label-7 {
	position: absolute;
	display: block;
	left: 50%;
	top: 280px;
	width: 139px;
	height: auto !important;
	}
	
	
.label-8 {
	position: absolute;
	display: block;
	left: 26%;
	top: 398px;
	width: 139px;
	height: auto !important;
	}
	
