@charset "utf-8";
/* CSS Document */

html{
	margin:0;
	padding:0;
	direction:rtl;
}


body {
	font-size: 100%;
	width:auto;
	margin: 0px;
	padding: 0px;
	font-family:Tahoma, Geneva, sans-serif;
	background-color: #fff;
}

element.style {
height:100%;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}

/*::-webkit-scrollbar { width: 13px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}*/


ul, ol {

	list-style:none;

}
h1, h2, h3, h4, h5, h6, pre, code {

	font-size:1em;

}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {

	margin:0;
    outline: none;
	padding:0;
}

a img, :link img, :visited img {

	border:none;
	outline:none;

}

a {
outline:none;
border:none;
text-decoration:none;
}

a:hover {

	text-decoration:none;

}

address {

	font-style:normal;

}

p {
	line-height:18px;
	font-size: 13px;
}

td {
vertical-align:top;
}

.Main-Div{
	margin:0px auto;
	width:100%;
}

.footer
{
	background-color:#4f4f4f;
	display:block;
	font:normal 10px tahoma !important;
	color:#fff;
	margin:0px auto;
    width: 100%;
	text-align:center;
	padding:2px 0px 3px;
	position: fixed;
}


/*.Search{
	margin:0px auto;
	width:100%;
	*width:auto;
	border-top: solid 4px #4f4f4f;
}

.search-holder{ width:288px; height:35px; float:right; margin-right:0.75%;}

.search-top{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -118px;
	width:288px; height:5px;
}

.search-box{
	width:185px; height:25px;
	float:left;padding-top: 5px;
}

.searchTextbox{
	background-color:#e4efd6;
	background-image:url(../images/images.png);
	background-position:right -30px;
	background-repeat:no-repeat;
	color:#000;
	font:noraml 12px tahoma;
	height:20px;
	border:solid 1px #a2bd77 !important;
	float:right;
	padding:0 !important;
}
.searchTextboxFocus
{
    background-color:#e4efd6;
}


.search-ui-widget-content
{
    background-color:#fff;
    border:solid 1px #ddd;
    border-top:none;
    width:298px;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
    behavior: url(PIE.htc);
    position:absolute;
    z-index:9;
    display:none;
}

.search-ui-widget-content ul{top:1px !important;}
.search-ui-menu-item
{
    width:90%;
    color:#4f4f4f;
    font:bold 11px tahoma;
    padding:3% 5% 3% 5% !important;
}
.search-ui-menu-item:hover
{
    background-color:#c7daa8;
}
.search-ui-corner-all
{
    color:#4f4f4f;
    font:bold 11px tahoma;
    display:block;
}
.search-ui-menu-item span
{
    color:#b1b1b1;
    font:normal 11px tahoma;
}
.search-ui-menu-item:hover > span{color:#fff;}
.show-more-results-div
{
    background-color:#eee;
    border-top:solid 1px #ddd;
    padding:3% 5% 3% 5%;
    height:15px;
    clear:both;
    text-align:center;
    cursor:pointer;
    color:#95b96c;
    display:none;
}
.show-more-results-div:hover
{
    text-decoration:underline;
}
.show-more-results-div span
{    
    color:#95b96c;
    font:bold 10px tahoma;
   	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:right 3px;
	padding-right:12px;
}*/

.Header{
	margin:0px auto;
	width:100%;
	position:relative;
	height:33px;
	border-bottom:solid 1px #95b660;
    background: #b2c962;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16);
	position:relative;
}

.logo{
	background-image:url(../images/images_ar.png);
	background-repeat:no-repeat;
	background-position:14px -643px;
	float:right;
	width:142px; 
	height:35px;
	position:relative;
	bottom:1px;
	left:1px;
}

.logo-img{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:37px 2px;
	width:142px; 
	height:35px;

}

.MenuNav
{
    display:inline-block;
    width:70%;
    position:relative;
    z-index:15;
    height:34px;
    float:right;
}

.MenuNav-ul
{
    margin:0;
    padding:0;
    list-style:none;
}

.MenuNav-ul li
{
    display:inline-block;
    margin:0;
    position:relative;
    
}

.MenuImg
{
    background-image:url(../images/MenuIcons.png);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}

.Dashboard-MenuIcon{ background-position:0px 0;}
.Settings-MenuIcon{ background-position:0px -30px;}
.Search-MenuIcon{ background-position:left -60px;}
.Company-MenuIcon{ background-position:left -90px;}
.Person-MenuIcon{ background-position:left -119px;}
.Calendar-MenuIcon{ background-position:left -150px;}
.Project-MenuIcon{ background-position:left -180px;}
.Lead-MenuIcon{ background-position:left -210px;}
.Opportunity-MenuIcon{ background-position:left -240px;}
.Reports-MenuIcon{ background-position:left -270px;}
.More-MenuIcon{ background-position:2px -300px;}

.administrative-settings{ background-position:2px -354px;}
.general-ledger{ background-position:2px -419px;}
.cash-managment{ background-position:2px -387px;}
.account-receivable{ background-position:2px -451px;}
.crm-icon{ background-position:2px -325px;}

.MoreList{}

Div.MoreListMenu
{
    background-color:#fff;
    border:solid 1px #bdbdbd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position:absolute;
    display:none;
}

.MoreList:hover{ background-color:#4f4f4f;}

.MoreList:hover > Div.MoreListMenu 
{
    display:block;
    animation:MoreListMenuHover 0.3s;
	-moz-animation:MoreListMenuHover 0.3s; /* Firefox */
	-webkit-animation:MoreListMenuHover 0.3s; /* Safari and Chrome */
}

@keyframes MoreListMenuHover
{
0%   {top:50px; opacity:0;}
100% {top:34px; opacity:1;}
}

@-moz-keyframes MoreListMenuHover
{
0%   {top:50px; opacity:0;}
100% {top:34px; opacity:1;}
}

@-webkit-keyframes MoreListMenuHover
{
0%   {top:50px; opacity:0;}
100% {top:34px; opacity:1;}
}


.MoreListMenu-ul
{
    padding:0;
    margin:0;
    list-style:none;
}

.MoreListMenu-ul li
{
    display:block;
    margin:0;
}

.MoreListMenu-ul li a.MenuLink
{
    color:#4f4f4f;
    font:normal 12px tahoma;
    padding:10px;
    border-bottom:solid 1px #bdbdbd;
    display:block;
    min-width:75px;
}

.MoreListMenu-ul li a.MenuLink:hover
{
    text-decoration:underline;
}

.MenuNav-a
{
    cursor:pointer;
    text-decoration:none;
    color:#333;
    font:normal 12px tahoma;
    vertical-align:middle;
    height:34px;
    width:100%;
    display:table-cell;
    padding:0 0 0 5px;
}

.MenuNav-a:hover
{
    background-color:#4f4f4f;
    color:#fff;
}

.MenuNav-a.SelectedNav
{
    background-color:#4f4f4f;
    color:#fff;
}

.ThirdMenuBorder{ border-left:solid 1px #fff;}

.NotificationMenu
{
    height: 22px;
    padding-top: 10px;
    padding-left: 10px;
    float:left;
    position:relative;
}

.NotificationIcon
{
    background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:right -160px;
	width:16px;
	height:15px;
	display:block;
	cursor:pointer;
}

.NotificationNumber
{
    background-color:#c55252;
    border-radius:2px;
    color:#fff;
    padding: 0px 3px;
    position: absolute;
    top: 2px;
    left: 0;
}


/*.notification{
	margin-top:-1px; margin-left:-1px;
	height:33px;
	width:100%;
	border:solid 1px #95b660;
	border-right:none;
    background: rgb(149,182,96);
	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
}

.notification UL{
	margin:0px;
	padding:0px;
	width:auto;
	position: relative; top:4px;
	float: left;
}

.notification LI{
	display:inline-block;
	padding:5px;
	*float:left;
	width:100%;
}

.notification-links{
	color:#323332;
	font:normal 11px tahoma;
	float:left;
}

div.notif-num{
    background-color: #d84444;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: inline-block;
    font: 10px tahoma;
    height: 15px;
    left: 18px;
    padding: 0 8%;
    position: absolute;
    text-align: center;
    top: 0px;
    box-shadow:-1px 1px 0 1px rgba(0,0,0,0.2);
	z-index:36;
	cursor:pointer;
}

.task-img{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -406px;
	width:11px; height:11px; display:inline-block;
	padding:4px 6px 6px;
	position:relative;
	z-index:30; cursor:pointer;
}
.msg-img{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:-46px -410px;
	width:11px; height:11px; float:left;
	padding-right:5px;
}
.setup-img{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:-25px -410px;
	width:11px; height:11px; float:left;
	padding-right:5px;
}

.task-img-clicked
{
    background-color:#fff;
    border:solid 1px #a2bd77;
    border-bottom:none;
    box-shadow:0 -2px 3px 0px rgba(0,0,0,0.2);
}

.notification-list-div
{
    background-color:#fff;
    border:solid 1px #a2bd77;
    position: fixed;
    top: 30px;
    z-index: 28;
    width:30%;
    display:none;
}

.noti-all-header
{
    padding: 3%;
    width: 94%;
    color:#90b563;
    border-bottom:solid 1px #a2bd77;
    box-shadow:0 1px 3px 0px rgba(0, 0, 0, 0.2);
    text-align:right;  
}

.noti-all-header a{
    color:#90b563;
    text-decoration:none;
    font:normal 10px tahoma;
    padding-right:5px;
}

.noti-total
{
    float:left;
    font:normal 10px tahoma;
}

.noti-list
{
    overflow:auto;
    width:100%;
    height:250px;
}

.noti-list ul
{
    margin:0px;
    padding:0px;
    list-style:none;
    width:94%;

}

.noti-list li
{
    border-bottom:solid 1px #d9e4c7;
    padding:3%;
    
}

.noti-all-save-action
{
float:right;    
padding-left:5px;
}

.noti-all-cancel-action
{
float:right;    
}

.noti-subject{font:bold 11px tahoma; color:#4f4f4f; display:inline-block; width:71%;cursor:pointer;}
.noti-subject:hover{text-decoration:underline;}
.noti-desc{font:normal 11px tahoma; color:#b1b1b1; display:block;}

.noti-list li a.link-noti
{
    color:#90b563;
    text-decoration:none;
    font:normal 10px tahoma;
    padding-right:5px;
}

.noti-list li.old
{
    background-color:#f6f6f6;
    [border-bottom:solid 1px #d9e4c7;border-bottom:solid 2px #d9e4c7;]
}

.noti-list li.old .noti-subject
{
    font-weight:normal;
}

.snooze-div{ float:right;}

.snooze-select
{
    border:solid 1px #ddd;
	padding:1px;
	width:65px;
	float:left;
	position: relative;
bottom: 6px;
}

.noti-dismiss,.noti-snooze
{
	float:right;
}*/

.login-info{
	margin-top:-1px;
	height:33px;
	float:left;
    width:6%;
    cursor: pointer;
}

.User{ text-align:center;background-color: rgba(255, 255, 255, 0.18);border-right: solid 1px #CDDC9B;}

.user-name{
	color: #333;
    font: normal 12px tahoma;
    height: 24px;
    vertical-align: middle;
    padding: 10px 0 0 0;
    display:inline-block;
}

.UserArrow
{
    float:left;
    height:34px;
    background-image: url(../images/images.png);
    background-position: 4px -57px;
    background-repeat: no-repeat;
    width:5px;
    padding:0 5px;
    background-color:#4f4f4f;
}

.UserMenu
{
    background-color:#fff;
    border:solid 1px #bdbdbd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position:absolute;
    z-index:5;
    left:0;
    width:81px;
    display:none;
}

.UserMenu-ul
{
    margin:0;
    padding:0;
    list-style:none;
}

.UserMenu-ul li{ display:block; text-align:right;}

a.UserMenuLink
{
    color:#4f4f4f;
    font:normal 12px tahoma;
    padding:10px;
    border-bottom:solid 1px #bdbdbd;
    display:block;
}

a.UserMenuLink:hover
{
    text-decoration:underline;
}
    

a.language{
	color:#b9b9b9;
	font:normal 11px tahoma;
}


.Logout
{
    display:none;
	border-right:solid 1px #ffffff;
	height:23px;
	position:relative; top:5px;float:left;
	padding:0px 5px;
}

.Logout a{
	color:#fff;
	font:normal 12px tahoma;
	position:relative;
	bottom:7px;
}

.Logout a:hover{text-decoration:underline;}

span.logout-img{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -156px;
	width:15px;
	height:22px;
	display:inline-block;
	padding-left:6px;
}


.LoginNotificationPannel{
	position:absolute;
	top:0;
	right:0;
	width:98%;
	padding:0.5% 1%;
	background-color: rgba(0,0,0,0.47);
	border-top:solid 1px #242424;
	border-bottom:solid 1px #242424;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);
	display:none;
}

.LoginNotificationPannel span.noti-title{
	color:#fff;
	font:normal 14px tahoma;
	float:right;
	padding:7px 0;
}

.X-btn{
	color:#fff;
	font:normal 14px tahoma;
	text-decoration:none;
	cursor:pointer;
	float:left;
	padding:7px 15px 7px 0;
}

.InstallGoogle{
	color:#fff;
	font:normal 14px tahoma;
	float:right;
	background-image:url(../images/chrome-icon.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding: 8px 0 7px 45px;
}


.Page-container{
	margin:0px auto;
	width:100%;
}

.Page-body{	
	position:relative;
    width:100%;
}

.Left-side{
	width:10.5%;
	float:left;
	display:none;
}

/*
.Menu{
    position:relative;
    z-index:1;
}

.Menu UL{
	margin:0px 0px 0px 7px;
	padding:0px;
	list-style:none;
}

.Menu Li{
	background-image:url(../images/images.png);
	background-position:left -217px;
	background-repeat:repeat-x;
	height:33px;
	border-radius:5px 0px 5px 0px;
	padding:0px 0px 2px 0px;
	margin-bottom:3px;
	position:relative;
    behavior: url(PIE.htc);
    box-shadow:0px 2px 4px 0px rgba(255,255,255,0.3);
}


.Menu a{
	color:#323332; padding:8px 0px;
	font:bold 11px tahoma;
	display:block;	height:19px;

}

.Menu li:hover{
		background-image:url(../images/images.png);	background-position:left -182px;
	box-shadow:0 2px 4px 0 rgba(152,181,93,0.8);
}



.Menu span{
width:16px;
	height:16px;
	background-image:url(../images/menu-imgs.png);
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
	margin-left:5px;
	margin-top:10px;
	padding-right:5px;
}

.Menu span.Company-icon{ background-position:left top;}
.Menu span.Person-icon{ background-position:left -30px;}
.Menu span.Calendar-icon{ background-position:left -60px;}
.Menu span.Project-icon{ background-position:left -90px;}
.Menu span.Lead-icon{ background-position:left -120px;}
.Menu span.Opportunity-icon{ background-position:left -150px;}
.Menu span.Reports-icon{ background-position:left -180px;}

.Menu span.setup{ background-position:left -232px;}
.Menu span.ClientCare-icon{ background-position:left -210px;}
.Menu span.Quotation-icon{ background-position:left -261px;}
.Menu span.Memberships-icon{ background-position:left -353px;}
.Menu span.SPICWorkOrders-icon{ background-position:left -324px;}
.Menu span.Owner-icon{ background-position:left -353px;}
.Menu span.Dashboard-icon{ background-position:left -379px;}
.Menu span.Contracts-icon{ background-position:left -292px;}
.Menu span.administrative-settings{ background-position:left -232px;}
.Menu span.general-ledger{ background-position:left -232px;}
*/
.Mid-section{ width:100%; float:left; }

.Top-Mid-section{display:block; height:30px; width:100%; background-color:#eee; border-bottom:solid 1px #d1d1d1;}
.TMS-left{
    width:78%;
	height:30px;
	float:right;
    [width:78%; width:77%;]
}

.white-container{
	background-color:#fff;
	width:100%;
	margin:0px auto;
	position:relative;
	/*border-bottom:solid 7px #d1d1d1;*/
}

.styled-v-bar{ /* sample CSS class for a different vertical scrollbar look */
	background:	url(../images/custom-scroll-bar.png) center top no-repeat;
	width: 10px;
	margin-left: 0;
	margin-bottom: 4px;
}

.styled-v-bar ins{ /* Style for the "ins" inner element, or bottom of the scrollbar */ 
	display: block;
	background:	url(../images/custom-scroll-bar.png) center bottom no-repeat;
	width: 10px;
	height: 4px;
	position: absolute;
	top: 100%;
}

.white-container-data{width:100%;}

.white-shadow
{
    background-color:White;
    clear:both;
    box-shadow: 3px 3px 7px 3px #fff;
    width:97%;
    position:absolute;
    height:1px\9;
    *height:2px;
    right:5px;
    z-index:500;
}

.TMS-return {
height: 100%;
border-left: solid 1px #d1d1d1;
background-color: #dddddd;
padding: 7px 1% 0;
float: right;
margin-left:1%;
}

.back-icon{ font:bold 13px tahoma;}

.TMS-right
{
    height:100%;
    border-left:solid 1px #d1d1d1;
    background-color:#dddddd;
    padding:0 ;
	float:left;
}

.TMS-right-content{padding:7px 7px 0 0; float:right;}

.add-entity-button{cursor:pointer;}
.addicon
{
    background-image:url(../images/images.png);
    background-position:10px -139px;
    background-repeat:no-repeat;
    height:15px;
    width:14px;
    float:left;
    padding-left:10px;
    display:none;
}
.addlabel{ color:#333; font:normal 12px tahoma;}


/*----------------------------------------------*/


.ui-resizable-e
{
    width:7px !important;
    background-color:#ececec;
    background-image:url(../images/resizableDots.gif);
    background-position:1px 44%;
    background-repeat:no-repeat;
    border-right:solid 1px #d1d1d1;
    border-left:solid 1px #d1d1d1;
    cursor:col-resize !important;
}

/*----------------------------------------------*/

.GridTableDiv-header
{    
    position: absolute;
    z-index: 1001; 
    width: 100%;
    overflow: hidden;
}

.GridTableDiv-body
{
    overflow-y: scroll;
    width: 100%;
}


.GridTableFloating
{
    width: 100%;
    padding-left:19px;
}


.GridTable
{
    width:100%;
}

.THeadGridTable
{
    width:100%;
}

.THeadGridTable tr
{
     background-color:#eee;
}

.THeadGridTable tr:hover{}

.THead-Th
{
    text-align:right;
    border-bottom: solid 2px #95B660;
    padding:8px 1%;
    border-left:solid 1px #000;
}

.THead-Th:last-child{border-left:none;}

.THead-Th > span
{
    color:#333;
    font:bold 11px tahoma;
    width:100%;
    word-wrap: break-word;
}

.TBodyGridTable
{
    width:100%;
}

.TBodyGridTable Tr
{
    cursor:pointer;    
}

.TBodyGridTable tr:hover > td{ background-color:#CDDC9B ;}


.TBodyGridTable Tr.SelectedTr{ background-color:#4f4f4f;}

.TBodyGridTable Tr.SelectedTr > .td-r2-data-table{ background-color:transparent !important;}


.TBodyGridTable Tr.SelectedTr > .TBody-Td > span { color:#fff;}
.TBodyGridTable Tr.SelectedTr > .TBody-Td > label { color:#fff;}

.TBodyGridTable tr:hover > td > span,.TBodyGridTable tr:hover > td > label{ color:#000 ;}
.TBody-Td
{
    text-align:right;
    border-bottom: solid 1px #bbb;
    padding:8px 1%;
    /*border-right:solid 1px #000*/
}

.TBody-Td > span,.TBody-Td > label
{
    color:#333;
    font:normal 11px tahoma;
    width:100%;
    word-wrap: break-word;
}

.SearchDivContainer
{
    width:100%;
    border-bottom:solid 2px #d1d1d1;
    padding:8px 0;
    overflow-y:auto;
}

.SD-ul
{
    margin: 5px auto 0;
    padding: 0;
    width: 98%;
    list-style: none;
    overflow-y:auto;
    height:150px;
    position:relative;
}


.Quick-Search-Div{  margin: 5px auto 0;
    padding: 0;
    display: none;
    width: 98%;
    list-style: none;
    min-height:150px;
}
.SD-ul li
{
    padding:3px 0;
    width:48% !important;;
    display:inline-block;
}

.SD-div{ width:100%}

.SD-div-span
{
    font:normal 11px tahoma;
    color:#333;
    padding-left:1%;
    width:30%;
    display:inline-block;
}


.SD-SearchDiv 
{
    width: 98%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.SD-ipnutText-MainSearch 
{
    padding:5px 1% !important; width:98% !important; color:#4f4f4f;
}

.SD-inputBtn-Search
{
    background-image:url(../images/search-btn.png);
    background-position:center;
    background-repeat:no-repeat;
    width:22px;
    height:22px;
    float:right;
    position: absolute;
    top: 3px;
    right: 2px;
}

.SD-ipnutText{ width:60% !important; padding:3px 1% !important;}

.MoreSearchOptions
{
    display:block;
    width:98%;
    margin:5px auto 0;
    text-align:left;
    position:relative;
    z-index:55;
}

.MoreSearchOptions a
{
    color:#4f4f4f;
    font:normal 11px tahoma;
    text-decoration:underline;
}

.MoreSearchOptions:hover{ text-decoration:underline;}

.ui-resizable-e{ left:-5px !important;}

.InputButton
{
    background-color: #B2C962;
    color: #333;
    border: none;
    border-bottom: solid 2px #95B660;
    padding: 3px 10px;
    font:normal 12px tahoma;
    border-radius:3px;
    cursor:pointer;
}

.InputButton:active{border-top: solid 2px #718a49;border-bottom: none;}

/*----------------------------------------------*/
.QuickSearchDiv{display:none;}


.page-title{
	color:#333;
	font:bold 14px tahoma;
	
}
.page-title-div{padding:4px;}

.TabLinks{
	width:100%;
	clear:both;
	display:none;
}

.TabLinks ul{
	margin:0px;
	padding:0px;
	width:100%;
	position:relative;
	top:4px;
	*top:-4px;
}

.TabLinks li{
	padding:0px 0px 0px 5px;
	display:inline-block;
	*float:left;
}

.TabLinks-square{
	width:83px;
	height:61px;
	background-color:#fff;
	border:solid 1px #ebebeb;
	
	text-align:center;
}


.TabLinks-square-hover,.TabLinks-square:hover{
	cursor:pointer;
	color:#323332;
background: #96b760; /* Old browsers */
background: -moz-linear-gradient(top,  #96b760 0%, #c7d763 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b760), color-stop(100%,#c7d763)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #96b760 0%,#c7d763 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #96b760 0%,#c7d763 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #96b760 0%,#c7d763 100%); /* IE10+ */
background: linear-gradient(to bottom,  #96b760 0%,#c7d763 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b760', endColorstr='#c7d763',GradientType=0 ); /* IE6-9 */
}

.TabsLinks-label{margin-top: 3px; display: block;color:#8b8987;font:normal 11px tahoma;}

.TabLinks-Company{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:left -325px;
	margin:0px auto;
}
.TabLinks-Person{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:-50px -325px;
	margin:0px auto;
}

.TabLinks-Program{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:left -325px;
	margin:0px auto;
}

.TabLinks-Presenter{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:left -325px;
	margin:0px auto;
}
.TabLinks-Session{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:left -325px;
	margin:0px auto;
}

.TabLinks-Calendar{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:-100px -325px;
	margin:0px auto;
}
.TabLinks-Projects{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:-150px -325px;
	margin:0px auto;
}
.TabLinks-Lead{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:-200px -325px;
	margin:0px auto;
}
.TabLinks-Opportunity{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:-244px -325px;
	margin:0px auto;
}
.TabLinks-Reports{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	width:40px; height:40px;
	background-position:left -369px;
	margin:0px auto;
}

.Messaging-Box
{
    padding:10px 15px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #feffd1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#feffd1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#feffd1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#feffd1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#feffd1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#feffd1 100%); /* W3C */
    -pie-background:linear-gradient(#ffffff, #feffd1);
    position:absolute;
    top:-40px;
    left:35%;
    border-bottom:2px solid #E9B225;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow:  0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	text-align:center;
    opacity: 1;
    z-index:200;
    display:none;
    height:15px;
    min-width:25%;
    border-radius:0 0 5px 5px;	
    behavior: url(PIE.htc);
}
.Messaging-Box img{padding-right:5px;}
.Messaging-Box span{font:normal 11px tahoma; color:#D1A250;font-weight:bold}
/*--------------------------Company-----------------------*/
.result-container
{
    float:right;
    width:47%;
    border-left:solid 1px #d1d1d1;
    max-width: 80%;
    min-width: 20%;
    padding-left:4px;
}





ul.Result-list{
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;
}

ul.Result-list li{
	padding-bottom:7px;
}

div.result-block{
width:94%;
	padding:0 3%;
	min-height:92px;
	border:solid 1px #dddddd;
	border-top:solid 2px #a3a3a3;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
-pie-background:linear-gradient(#ffffff, #ededed);

	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	*box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);

opacity: 0.7;

position:relative;	
}

div.result-block:hover
{
	border-top:solid 2px #bcbcbc;
	opacity: 1;
	cursor:pointer;
	
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(left,  #d9d9d9 0%, #e9e9e9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d9d9d9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* IE10+ */
background: linear-gradient(to right,  #d9d9d9 0%,#e9e9e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 */


}

div.result-blockVisited {
	width:94%;
	padding:0 3%;
	/*height:92px;*/
	border-top:solid 2px #bcbcbc;
cursor:pointer;
	background: #e9e9e9; /* Old browsers */
background: -moz-linear-gradient(left,  #e9e9e9 0%, #d9d9d9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e9e9e9), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* IE10+ */
background: linear-gradient(to right,  #e9e9e9 0%,#d9d9d9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 */

	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	*box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);

opacity: 1;

position:relative;	
behavior: url(PIE.htc);
}

.result-img{
	width:70px;
	height:70px;
	background-color:#fff;
	border-radius:5px;
	float:left;
	border:solid 1px #ddd;
	margin:8px;
}

.result-data1{
	/*font:bold 12px tahoma;
	color:#95b660;
	line-height:18px;
	margin-top:8px;*/
}

.result-data2{
	/*font:normal 12px tahoma;
	color:#8a9294;
	line-height:18px;*/
}

.resultsData{
	font:normal 12px tahoma;
	color:#8a9294;
	line-height:18px;
}

div.result-block-active .resultsData{
	font:normal 12px tahoma;
	color:#2d2d2d;
	line-height:18px;
}

div.result-block-active .result-data1{
	font:bold 12px tahoma;
	color:#000;
	line-height:18px;
	margin-top:8px;
}

div.result-block-active .result-data2{
	font:normal 12px tahoma;
	color:#2d2d2d;
	line-height:18px;
}

.Result-info-container
{
	width:51.8%;
	float:left;
    position:relative;
   padding-left:10px;
}

.result-name{
	padding-bottom:8px;
	padding-top:8px;
	display:block;
	margin:0;
	width:100%;
	border-bottom:solid 1px #dbdbdb;
}

.result-name ul
{
    margin:0px;
    padding:0px;
    list-style:none;
}
.result-name li
{
    display:inline;
}
.result-name li span
{
    color:#323232;
	font:bold 11px tahoma;
}
.result-name li.nameLI{}
.result-name li.emailLI{ margin-right:13%;}
.result-name li.phoneLI{float:left;}

.ClearDiv{ clear:both;}

.Data-Fieldset{ border:none; float:none; width:100% !important;}

.Data-Fieldset Legend{
	color:#8a9294;
	font:normal 14px tahoma;
	padding-bottom:10px;
	float:left;
}

.edit-link{
    background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left top;
	float:right;
	margin-top: 8px;
	margin-right:5px;
	width:10px;
	height:11px;
}

.cancel-link
{
    text-decoration:underline;
    font:normal 12px tahoma;
    color:#323332;
    float:right;
}

.miniData-Table,.miniData-Table3col,.miniData-Table2col,.miniData-Table1col{
	width:100%;
	float:left;
}

.Data-Table,.Data-Table3col,.Data-Table2col,.Data-Table1col{
	width:100%;
	/*float:left;*/
	padding-top:5px;
}

.miniData-Table2col th,.Data-Table2col th,Data-Table3col th
{
    vertical-align:top;
}

.miniData-Table th ,.Data-Table th{
	text-align:left;
	width:20%;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}
.miniData-Table td ,.Data-Table TD{
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	width:30%;
	vertical-align:top;
	position:relative;
}

.miniData-Table3col th ,.Data-Table3col th{
	text-align:left;
	width:10%;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align: top;
}
.miniData-Table3col td ,.Data-Table3col TD{
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	width:10%;
	position:relative;
}

.miniData-Table1col th ,.Data-Table1col th{
	text-align:left;
	width:20%;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}
.miniData-Table1col td ,.Data-Table1col TD{
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	width:80%;
	position:relative;
}

/*FOR TEST*/
td span:.label-data {width:150px;word-wrap:break-word; display: inline-block}

.label-title{
color:#4f4f4f;
font:bold 11px tahoma;
}

.label-data
{
	color:#333;
	font:normal 11px tahoma;	
}

.link{
	color:#95b660;
	font:normal 12px tahoma;
}

.openDiv{clear: both; position: absolute; top: 41px; right: 1px; display:none;background-image:url(../images/images.png);
	background-position:right -142px;
	background-repeat: no-repeat;
width:18px; height:16px;}

.gray-square
{
    position: absolute;display: block; top: -2px; right:0px;
    background-image:url(../images/images.png);
    background-position:-41px -453px;
    background-repeat:no-repeat;
    width:12px; height:16px;
    display:none;
}

.Login-page{
background-color:#57585a;
background-image:url(../images/white-shadow.png);
background-position:center -67px;
background-repeat:no-repeat;
}

.Login-Box{
	width:592px;
	min-height:222px;
	padding-bottom:15px;
	margin:8% auto 0px;
	border-radius:15px 0px 15px 0px;
    border-bottom:solid 3px #95B660;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
-pie-background:linear-gradient(#ffffff, #ededed);
	
	box-shadow:0 -5px 12px -4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 -5px 12px -4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 -5px 12px -4px rgba(0, 0, 0, 0.3);
position:relative;
z-index:5;
behavior: url(PIE.htc);
}

.Login-Box-shadow
{
 	background-image: url("../images/login-shadow.png");
    background-position:center;
    background-repeat: no-repeat;
    margin-top:217px;
    height: 70px;
    position: absolute;
    width: 95%;
    z-index:-1;
}

.Login-Box-shadow-2
{
 	background-image: url("../images/login-shadow-2.png");
    background-position:center;
    background-repeat: no-repeat;
    margin:217px 0 0;
    height: 24px;
    position: absolute;
    width: 95%;
    z-index:6;
}

.mLogin{*margin-top:8%;width:95%;}

.login-logo{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -549px;
	width:142px;
	height:48px;
	margin-top: 15px; margin-left: 15px; float: left;
}

.Login-logotitle{
	background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:left -599px;
	width:105px;
	height:34px;
	margin-top: 23px; margin-left: 15px; float: left;
}

.username-area{
	clear:both;padding-top: 30px;
	margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; 
	width: 60%;
}

.username-area table{ margin:0 auto; width:100%;}

.username-area .username-area-name{
	color:#8a8a8c;
	font:normal 14px tahoma;
	float:right;
	width:100px;
}

.username-area .username-area-password{
	color:#8a8a8c;
	font:normal 14px tahoma;
	float:right;
	width:100px;
}

.login-text{
	float:right !important;
	width:243px !important;
	height:27px !important;
	color:#8e8e8e !important;
	border:solid 1px #cdcdcd !important;
	background: #ffffff !important;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3) !important;
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/ !important;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3) !important;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3) !important;
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3) !important;
    position:relative !important;	
    behavior: url(PIE.htc) !important;
    margin-left:20px !important;
    margin-bottom:10px;
    padding:0px !important;
    padding-left:3px !important
}

.errorLoginMSG{color:Red; font:normal 12px tahoma;}

.Login-btn{
	cursor:pointer;
	width:89px;
	height:27px;
	border:solid 1px #cfcfcf;
	color:#fff;
	float:right;
	font-weight:bold;
	background: #bdcf29; /* Old browsers */
background: -moz-linear-gradient(top,  #bdcf29 0%, #95b660 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdcf29), color-stop(100%,#95b660)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bdcf29 0%,#95b660 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bdcf29 0%,#95b660 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bdcf29 0%,#95b660 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bdcf29 0%,#95b660 100%); /* W3C */
-pie-background:linear-gradient(#bdcf29, #95b660);

box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
outline:none;
position:relative;	
behavior: url(PIE.htc);
margin-bottom:5px;
}

.Login-btn:active  {
background: #95b660; /* Old browsers */
background: -moz-linear-gradient(top,  #95b660 0%, #bdcf29 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95b660), color-stop(100%,#bdcf29)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #95b660 0%,#bdcf29 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #95b660 0%,#bdcf29 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #95b660 0%,#bdcf29 100%); /* IE10+ */
background: linear-gradient(to bottom,  #95b660 0%,#bdcf29 100%); /* W3C */
-pie-background:linear-gradient(#95b660, #bdcf29);
position:relative;	
behavior: url(PIE.htc);

}

.alert{
	font:normal 11px tahoma;
	color:red;
	clear:both;

}

.copyrights{
	padding-top:10px;
	color:#505052;
	font:normal 12px tahoma;
	text-align:center;
}

.Add-new-form{
	width:100%;
	background-color:#fff;
	margin-bottom:10px;
}

.Add-title{
position:relative;
width:100%;
font:normal 14px tahoma;
padding:7px 0px;
color:#333;
border-bottom: solid 1px #ccc;
margin-bottom:10px;
}

.add-new-item > .Add-title{background-color:#f5f5f5;margin-bottom:0;}

.Add-title span{padding-right:7px;}

.Add-new-Table{
	width:100%;
}
.Add-new-Table th{
	text-align:right;
	width:auto;
	padding-top:4px;
	padding-bottom:4px;
	vertical-align:top;
}
.Add-new-Table TD{
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px;
	clear:both;
}

.add-new-textbox{
	border:solid 1px #ddd;
	padding:1px;
	color:#4f4f4f;
}
.add-new-textbox:focus
{
    border:solid 1px #a2bf2d;
    color:#4f4f4f;
}
.add-new-textboxTyping
{
    border:solid 1px #ddd !important;
}
.add-new-textboxError
{
    border:solid 1px red !important;
}

Select{
	border:solid 1px #ddd;
	padding:1px;
	width:147px;
	width:152px\9;
	[width:147px;width:153px;]
}
Select:focus{ border:solid 1px #a2bf2d;}

/*Select .select-typing
{
    border:solid 1px #ddd !important;
}

Select .select-error
{
    border:solid 1px red !important;
}*/

.check-box-labels
{
    font:bold 11px tahoma;
    color:#505052;
    margin-left:5px;
}

.button2
{
    padding: 6px 16px;
    border:solid 1px rgba(0,0,0,0.3);
	border-bottom: solid 2px #95b660;
	color: #333;
	font: normal 11px tahoma;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	width: auto;
}
.button2:hover{background-color:rgba(196,219,119,0.3);}
.button2:active{background-color: #C4DB77;}

.button-cancel
{
    padding: 6px 16px;
	border:solid 1px rgba(0,0,0,0.3);
	border-bottom: solid 2px rgb(30,30,30);
    color:#333;
    font:normal 11px tahoma;
    background-color:#fff;
	position:relative;
    cursor:pointer;
    width:auto;
}
.button-cancel:hover{background-color:rgba(79,79,79,0.2);}
.button-cancel:active{background-color:#4f4f4f; color:#fff;}
.btn-save
{
    text-align:right !important;
    }


.display-block{ display:block;}

input[type=text]{
    border: solid 1px #dddddd;
    padding: 0.3em 3px;
    width: 147px;
}

input[type=password]{
	border:solid 1px #dddddd;
	width:152px;
	padding: 0.3em 0;
}

.cancel{display:none;margin-top:8px;float: right; color: black; text-decoration: underline; font: 10px tahoma;}
.cancel{text-decoration:underline !important;}

.five-px{ height:5px; clear:both;}

.Action-div {
float: left;
position: absolute;
top: 2px;
left: 29px;
clear: right;
cursor: pointer;
display: block;
}


.itemheader>.Action-div{ display:none;}

.Action-div UL
{
    margin:0px;
    padding:0px;
}

.Action-div LI
{
    display:inline-block;
    padding-right:5px;
    font-size:10px;
    border:none !important;
    background-color:transparent !important;
    padding-top:0px !important;
}
.Action-div LI:hover{background-color:transparent !important;}
.Action-div a{
    font:normal 11px tahoma;
    color:#333;
}

.ActionDefult-link{color:#8A9294; font:normal 11px tahoma;cursor:pointer;}

span.ActionSave-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/FlatAction-links-icons.png);
    background-position:left -47px;
    background-repeat:no-repeat;
}

span.ActionCancel-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/FlatAction-links-icons.png);
    background-position:left -22px;
    background-repeat:no-repeat;
}

span.ActionBack-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -60px;
    background-repeat:no-repeat;
}

span.ActionEdit-link{
    background-image:url(../images/FlatAction-links-icons.png);
	background-repeat:no-repeat;
    background-position:left top;
	cursor:pointer;
    padding-left:17px !important;
	width:12px;
	height:14px;
}

span.ActionDelete-link
{
    display:inline-block;
    background-image:url(../images/FlatAction-links-icons.png);
	background-repeat:no-repeat;
	cursor:pointer;
    padding-left:1px !important;
	width:12px;
	height:14px;
    background-position:left -100px;
}
span.ActionSend-Email-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -351px;float:right;
}

span.ActionGenerate-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:17px !important;
    width:14px;
    height:14px;
    background-position:center -120px;
}

span.ActionList-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:17px !important;
    width:14px;
    height:14px;
    background-position:center -100px;
}


span.ActionRenewal-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:17px !important;
    width:14px;
    height:14px;
    background-position:center -142px;
}

span.ActionOpen-link
{
    display:inline-block;
    background-image:url(../images/FlatAction-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:17px !important;
    width:14px;
    height:14px;
    background-position:left -155px;
}

span.ActionPrint-link
{
    display:inline-block;
    background-image:url(../images/FlatAction-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:17px !important;
    width:14px;
    height:14px;
    background-position:left -128px;
}

span.ActionPost-link
{
    display:inline-block;
    background-image:url(../images/FlatAction-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:left -281px;
}

span.ActionClosed-case-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -231px;
}

span.ActionOn-hold-case-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -253px;
}

span.ActionSolved-case-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -272px;
}

span.ActionReassigned-case-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -292px;
}

span.ActionUn-hold-case-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -312px;
}

span.ActionInvestigating-case-link
{
     display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -312px;
}
span.ActionEscalated-case-link
{
     display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -312px;
    
    }
span.ActionRefundedAndClosed-case-link
{
     display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -312px;
   }

span.ActionLead-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -331px;
}

span.ActionOrder-Received-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -351px;
}

span.ActionSuspended-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -368px;
}

span.ActionQuoted-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -389px;
}

span.ActionProspect-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -411px;
}

span.ActionQuote-signed-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -429px;
}

span.ActionClosed-link
{
    display:inline-block;
    background-image:url(../images/action-links-icons.png);
    background-repeat:no-repeat;
    cursor:pointer;
    padding-left:5px !important;
    width:14px;
    height:14px;
    background-position:center -449px;
}

span.ActionFullView-link
{
    cursor:pointer;
    padding-left:5px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -528px;
    background-repeat:no-repeat;
    display:inline-block;
}

span.ActionInProgress-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -564px;
    background-repeat:no-repeat;
}

span.ActionReset-link
{
    cursor:pointer;
    padding-left:7px !important;
    width:12px; 
    height:14px;
    background-image:url(../../../Common/images/action-links-icons.png);
    background-position:center -843px;
    background-repeat:no-repeat;
    float:right;

}

span.ActionCompleted-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -547px;
    background-repeat:no-repeat;
}

span.ActionClearPayment-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -582px;
    background-repeat:no-repeat;
}

span.Contact-tab-lnk
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -617px;
    background-repeat:no-repeat;
}
span.ActionIntegrate-link
{
	background-image: url("../images/action-links-icons.png");
    background-position: center -208px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionProvPost-link
{
	background-image: url("../images/action-links-icons.png");
    background-position: center -862px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionClone-link{
	background-image: url("../images/FlatAction-links-icons.png");
    background-position: center -251px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionReverse-link{
	background-image: url("../images/FlatAction-links-icons.png");
    background-position: left -180px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionStartReverse-link{
	background-image: url("../images/FlatAction-links-icons.png");
    background-position: left -204px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionProcess-link{
	background-image: url("../images/FlatAction-links-icons.png");
    background-position: left -229px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionPromote-link{
	background-image: url("../images/action-links-icons.png");
    background-position: center -882px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionStartPost-link
{
	background-image: url("../images/action-links-icons.png");
    background-position: center -1009px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;
}

span.ActionReject-link {
background-image: url(../images/FlatAction-links-icons.png);
background-repeat: no-repeat;
background-position: left -308px;
cursor: pointer;
padding-left: 17px !important;
width: 12px;
height: 14px;
margin-left:2px;
}


.confermitaion-msg-box
{
    min-width:25%;
    position:fixed;
    background-color:#fff;
    z-index:1005;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow:  0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	margin-right: -28% !important;
}
.cmb-title
{
    padding:6px 10px;
    background-color:#C7D763;
    border:solid 1px #95B660;
    border-bottom:none;
    color:#4f4f4f; font:bold 12px tahoma;
}
.cmb-desc
{
    padding:10px;
    border:solid 1px #ccc;
    border-top:none;
    border-bottom:none;
    color:#4f4f4f; font:normal 11px tahoma;
}
.cmb-controls
{
    padding:5px 10px;
    background-color:#eee;
    border:solid 1px #ccc;
    border-top:solid 1px #ddd;
    text-align:right;
}

/*-------black background--------*/
.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background: rgba(40,52,59,0.6);
z-index:1005;
opacity:.70;
position: fixed;
}
.white_content{
display: none;
position: fixed;
top: 40%;
left: 35%;
z-index:1010;
}
/*-------black background--------*/







/*.page_link{display:none;}
.next_link{ color:#5f7f17; font:normal 12px tahoma;}
.previous_link{ color:#5f7f17; font:normal 12px tahoma;margin-right:10px;}

.next-img
{
   	background-image:url(../images/images.png);
	background-position:1px -499px;
	background-repeat:no-repeat;
	width:12px;
	display: inline-block;
	height:15px;
}
.prev-img
{
    background-image:url(../images/images.png);
	background-position:-15px -499px;
	background-repeat:no-repeat;
	width:12px;
	display: inline-block;
	height:15px;
}*/

.Tab-action-header
{
   border-bottom:solid 1px #ddd;
   padding:0px 0px 5px;
   /*height:18px;*/
   width:100%;
   display:inline-block;/* replaced by haneen display:block;  */
}

.Tab-action-header ul{ margin:0px; padding:0px; list-style:none; float:left;}
.Tab-action-header li
{
    color:#ddd;
    display:inline-block;
    padding-left:5px;
}

a.action-header-list
{
    width:17px; height:17px; display:block;
    background-image:url(../images/images.png);
    background-repeat:no-repeat;
}

.ascending-img{background-position:-207px -523px;}
.descending-img{background-position:-227px -523px;}
.view-list-img{background-position:-248px -523px;}
.view-box-img{background-position:-271px -523px;}

.add-new-img
{
    width:17px; height:17px; display:inline-block;
    background-image:url(../images/FlatAction-links-icons.png);
    background-repeat:no-repeat;background-position:right -73px;
    float:right; /*padding-right:8px;*/
}
.add-new-company
{
    width:19px; height:19px; display:inline-block;
    background-image:url(../images/images.png);
    background-repeat:no-repeat;background-position:-271px -567px;
    float:left; padding-left:8px;
}
.add-new-link
{
    color:#4f4f4f;
    font:normal 11px tahoma;
}



.InsideSearch{ float:right;}

.Tab-list
{
    /*float:left;*/
    width:100% ;
}

.Tab-divHolder
{
    margin-right:10px;
    /*float:left;*/
    width:95%;
}

.Tab-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.Tab-list li{
	padding:15px 0px;
	border-bottom:solid 1px #ddd;
	margin-bottom:5px;
	background-color:#fff;
}

li.Tablist, .itemheader{min-height:42px;position: relative}
.Tablist-min-height{min-height:80px !important;}

.Tab-list li:hover{
    background-color:#c7daa8;
    cursor:pointer;
}

.cancel-tab-lnk,.save-tab-lnk
{
    display:none;
    }

.Tab-listSelected{
	background-image:url(../images/images.png);
	background-position:-15px -681px;
	background-repeat:repeat-x;
    background-color:#e7e9e9;
}

.Tab-name
{
    width:70%;
	color:#95b660;
	font:bold 15px tahoma;
	padding-bottom:10px;
}
.Tab-name:hover{color:#4f4f4f;}

.Tab-basics-info{
	color:#4f4f4f;
	font:normal 12px tahoma;
	/*padding-bottom:10px;*/
}

/*.action-list
{
    display:none;
    float:right;
    position:relative;
    top:33px;
    left:30px;
}

.action-list a 
{
    width:11px; height:12px; display:block;
    background-image:url(../images/images.png);
    background-repeat:no-repeat;
    padding:0px 20px 6px 18px !important;
    margin-left:5px; float:left;
    color:#4f4f4f;
    font:normal 11px tahoma;
}*/



.default-add
{   
    float:right;
    position:absolute;
    top:5px;
    left:10px;
}
a.default-icon
{
    width:18px; height:18px;
    display:block;
    background-image:url(../images/images.png);
    background-repeat:no-repeat;
    background-position:-24px -524px;
    margin-right:10px;
}
a.default-icon:hover
{
    width:18px; height:18px;
    display:block;
    background-image:url(../images/images.png);
    background-repeat:no-repeat;
    background-position:left -524px;
    margin-right:10px;
}
a.default-iconVisited
{
    background-position:left -524px;
 }
 

.Tab-full-info
{
    margin-left:10px;
    margin-right:10px;
    display:none;
    clear:both;
    text-align:center;
}
.Tab-full-info .Data-Table th{width:15% !important;}




.AdvancedSearch
{
    background-color:#eee;
    border:solid 1px #ddd;
    width:99%;
    padding:0.5%;
}

.AdvancedSearch-list
{
    width:5.5%;
    float:left;
}

.AdvancedSearch-list > ul
{

}

.AdvancedSearch-list li
{
    text-align:center;
    color:#8b8987;
    font:normal 11px tahoma;
    padding:5px 0px 5px 0px;
    opacity:0.4;
}
.AdvancedSearch-list li:hover
{
    color:#4f4f4f; cursor:pointer; opacity:1;
}
.AdvancedSearch-listLiSelected
{
    color:#4f4f4f !important; opacity:1 !important;
}
.AdvancedSearch-listLiSelected-arrow
{
    display:none; 
    width:7px; 
    height:29px; 
    position:absolute; 
    left:7.01%;
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:right -628px;
	clear:both;
}

.ads-TabLinks
{
   	background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	width:29px; height:32px;
	margin:0px auto;
}

.ads-TabLinks-Company{background-position:left -555px;}
.ads-TabLinks-Person{background-position:-53px -555px;}
.ads-TabLinks-Calendar{background-position:-104px -555px;}
.ads-TabLinks-Projects{background-position:-155px -555px;}
.ads-TabLinks-Lead{background-position:-203px -555px;}
.ads-TabLinks-Opportunity{background-position:-252px -555px;}
.ads-TabLinks-Reports{background-position:-300px -555px;}

.AdvancedSearch-form
{
    width:70%;
    background-color:#fff;
    border:solid 1px #ddd;
    float:left;
    margin-left:1%;
}

.AdvancedSearch-form-title
{
    padding:14px 10px 14px 23px;
    background-image:url(../images/images-2.png);
    background-repeat:repeat-x;
    background-position:left -660px;
}

.AdvancedSearch-form-title span
{
    color:#4f4f4f;
    font:bold 11px tahoma;
}

.city-num{margin:0px 2px; width:45px !important; text-align:center;}
.country-num{width:35px !important; text-align:center;}
.phone-num{width:55px !important; text-align:center;}

.radio-span{font:normal 11px tahoma; color:#4f4f4f;}

.AdvancedSearch-form-fields{}

.AdvancedSearch-form-fields-table {
	width:98%;
	margin:0px auto;
	padding-top:5px;
}

.AdvancedSearch-form-fields-table th{
	text-align:right;
	width:20%;
	padding-top:5px;
	padding-bottom:5px;
}
.AdvancedSearch-form-fields-table TD{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.saved-search-list{
background-color:#fff;
border:solid 1px #ddd;
width:22%;
float:left;
margin-left:1%;
}

.saved-search-list-title{
    padding:14px 0 14px 10px;
    background-image:url(../images/images-2.png);
    background-repeat:repeat-x;
    background-position:left -660px;
}

.saved-search-list-title span{
    color:#4f4f4f;
    font:bold 11px tahoma;
    background-image:url(../images/images-2.png);
    background-position:left -744px;
    background-repeat:no-repeat;
    padding-left:19px;
}

.saved-search-list-links{}

.saved-search-list-links li
{
    background-image:url(../images/images-2.png);
    background-position:left -702px;
    background-repeat:no-repeat;
    padding:10px 0px 9px 30px;
    display:block;
    border-bottom:solid 1px #eee;
}

.saved-search-list-links li:hover
{
    background-color:#eee;
}

.saved-search-list-links li a
{
    color:#4f4f4f;
    font:normal 11px tahoma;
}

.save-this-search-div
{
    padding:15px 10px;
    position:relative;
    bottom:0px;
    clear:both;
    background-image:url(../images/images-2.png);
    background-repeat:repeat-x;
    background-position:left -766px;
}

.save-this-search-div input[type=text]
{
    width:100%;
    margin-bottom:3px;
    font:normal 11px tahoma;
    color:#c3c3c3;
}

.save-this-search-div input[type=text]:focus
{
    color:#4f4f4f;
}

.save-this-search-div a
{
    font:normal 11px tahoma;
    color:#8A9294;
}


.float-left{float:right;}
.float-right{float:right;}


.Adminstration-main-div{display:inline-block;}
.Adminstration-main-div ul{width:100%;}
.Adminstration-main-div li{width:45%; padding:10px 10px 10px 5px;}
.Adminstration-main-div li:hover{

border-radius:5px;	
background: -moz-linear-gradient(left,  rgba(236,236,236,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(236,236,236,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(236,236,236,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(236,236,236,0.65) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(236,236,236,0.65) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(236,236,236,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ececec', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

background-image:url(../images/images-2.png);
background-position:left -324px;
background-repeat:no-repeat;

box-shadow: 0px 0px 5px 2px rgba(68,68,68,0.1);
-webkit-box-shadow: 0px 0px 5px 2px rgba(68,68,68,0.1);
-moz-box-shadow: 0px 0px 5px 2px rgba(68,68,68,0.1);	

position:relative;
behavior: url(PIE.htc);	
	
}
.Adminstration-main-div li.left-col{display:inline-block;}
.Adminstration-main-div li.right-col{display:inline-block;}

.icon{
	background-image:url(../images/Admin-setup-icons.png);
	background-repeat:no-repeat;
	width:75px;
	height:83px;
	float:right;
	border-right:solid 1px #ddd;
	padding-right:7px;
}

.user-mangmnt{ background-position:center top;}
.personal-set{ background-position:center -92px;}
.data-admin{ background-position:center -192px;}
.inventory{ background-position:center -273px;}
.template{ background-position:center -450px;}
.general-set{ background-position:center  -539px;}
.notifications{ background-position:center -629px;}
.credit-set{ background-position:center -365px;}
.selfService{ background-position:center -718px;}

.link-title{
	font:normal 18px tahoma;
	color:#4f4f4f;
	letter-spacing:2px;
	padding-left:100px;
}
.link-disc{
	font:normal 12px tahoma;
	color:#6d6d6d;
	line-height:20px;padding-left:100px;
}
.settings-links{ float:right;padding-left:14px;}
.settings-links ul{ width:100%;}
.settings-links li{
	padding:0px 10px 0px 0px !important;
	color:#95b660;
	font:normal 12px tahoma; 
	display:inline-block !important;
	width:auto !important;
	*float:left;
}
.settings-links li a{ color:#95b660;font:normal 12px tahoma;}
.settings-links li a:hover{text-decoration:underline;}
.settings-links li:hover{background:transparent none !important; box-shadow:none !important;}

.admin-bottom-img{
	/*background-image:url(../images/images-2.png);*/
	background-position:left top;
	background-repeat:no-repeat;
	width:360px;
	height:111px;
	float:right;
	margin-right:1.5%;
	position:absolute;
	bottom:0px;
	left:0px;
}

.Add-new-Table TD{position:relative;}

.validation
{
    padding:4px 10px 3px;
    color:red;
    background-color:#ffd9d9;
    border-left:solid 1px red;
    font:bold 10px tahoma;
	position:absolute;
	top:6px;
	right:11px;
	z-index:1;
}



/*.valid-arrow
{
    background-image:url(../images/images-2.png);
	background-position:left -815px;
	background-repeat:repeat-x;
	width:10px;
	height:6px;
	display:none;
	float:left;
	margin-top:4px;
	position:absolute;
}*/

.ActionSave{ cursor:pointer;}
.ActionCancel{ cursor:pointer;}


.Documents-div
{
    width:100%;
    display:inline-block;
}

.Folders-side
{
    float:left;
    border-right:solid 1px #ddd;
    width:20%;
}

.Folders-side ul
{
    margin:0px;
    padding:0px;
}

.Folders-side li
{
    display:block;
    padding:0px 0px 7px;
    cursor:pointer;
}

.Folders-side li div
{
    padding:2px 0px;
}

.Folders-side li ul
{
    margin:0px;
    display:none;
}

.Folders-side li ul li
{
    padding:0px 0px 0px 13px;
}

.folderSelected
{
    background-color:#cfdd6a;
}
.folderSelected span
{
    font-weight:bold;
}

.folder-lvl1
{
    color:#4f4f4f;
    font:bold 11px tahoma;
}

.folder-lvl2
{
    color:#4f4f4f;
    font:normal 11px tahoma;
}

.folder-img
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
    width:23px;
    height:15px;
    clear:both;
    display:inline-block;
}

.open-folder{background-position:left -833px;}
.closed-folder{background-position:left -865px;}
.empty-folder{background-position:left -849px;}
.add-folder{background-position:left -883px;}

.new-folder
{
    border-top:solid 1px #ddd;
    padding:5px 0px;
}

.new-folder-textbox
{
    width:77%;
    border:none !important;
    background-color:transparent !important;
    color:#b1b1b1;
    font:normal 11px tahoma;
}
.new-folder-textbox:focus
{
    color:#4f4f4f;
    font-weight:bold;
}

.Drop-side
{
    float:left;
    width:79%;
}

.Drop-side-top
{
    border-bottom:solid 1px #ddd;
    padding:5px 0px;
    text-align:right;
}

.DragDrop
{
    width:100%;
}

.DragDropBackground
{
    position:relative;
    margin-top:20%;
    margin-left:30%;
    z-index:0;
}

.background-text
{
    color:#ddd;
	font:bold 24px tahoma;
	letter-spacing:2px;
}

.background-text-img
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:left -997px;
	height:68px;
	width:65px;
	display:inline-block;
}

ul.Files-order
{
    margin:0px auto;
    padding:5px;
    width:100%;
    position:relative;
}

ul.Files-order li
{
    display:inline-block;
    padding:15px 0px;
    text-align:center;
}

ul.Files-order li div.whiteBG{width:87px; padding:8px;cursor:pointer;}

ul.Files-order li div.whiteBG:hover
{
    background-color:white;
    box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	box-shadow:  0 0px 3px 1px rgba(175, 175, 175, 0.4)\0/;
	-webkit-box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	-moz-box-shadow:0 0px 3px 1px rgba(68, 68, 68, 0.4);
    position:relative;
    behavior: url(PIE.htc);
    
}

.delete-file
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:left -910px;
	width:20px;height:20px;
	display:none;
	left: 15px;
	bottom:18px;
	float:right;
    position: relative;
    width: 20px;
}

.File-img
{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	width:40px;height:53px;
	display:block;
	margin: 0 auto;
}

.ft-XSL{background-position:left -939px;}
.ft-WRD{background-position:-51px -939px;}
.ft-PDF{background-position:-101px -939px;}
.ft-UnKn{background-position:-151px -939px;}

.File-img-title
{
    color:#4f4f4f;
    font:normal 11px tahoma;
}


.no-record-div
{
    background-image:url(../images/images-3.png);
	background-repeat:no-repeat;
	background-position:left top;
	height:68px;
	width:65px;
	display:inline-block;
}

.ui-autocomplete { max-height:150px !important; overflow:auto !important; width:176px !important;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background:#fff none !important;
    border-left:none !important;
}

.ui-widget-content
{
    background:#fff none !important;
    border:solid 1px #ddd;
    border-top:none !important;
}

input.ui-state-default
{
    border-left:1px solid #ddd !important;
    border-top:1px solid #ddd !important;
    color:#95B660 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
    border-bottom-left-radius:0px !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl
{
    border-top-left-radius:0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
    border-bottom-right-radius:0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
    border-top-right-radius:0 !important;
}

.loading {position:absolute;display:none;z-index:100}
.loading .loadingicon {}

.smblreqyuired {color:red !important}
.NoteContent {width: 571px;}

.lbl-title{font-weight:bold;}
.lbl-title-value{ margin-right:20px; }



.ActionFlag-link {background:url(../Images/red_flag-gray.png);width:16px;height:16px;display:block;}
.flag {width:16px;height:16px;display:block;float:right;margin-right:20px;}
.selectedflag{background:url(../Images/red_flag.png);}



/*.result-style{
	width:1px;
	height:70px;
	border-radius:0px;
	float:left;
	border:solid 0px #ddd;
	margin:8px;
}*/



.cx-control-red-border {border-color:Red !important}

.Quotation{ padding-top:10px;}

.data-table
{
    width:100%;
    /*border-radius:5px;*/
}

.data-table-title
{
    color:#333;
    font:normal 11px tahoma;
    padding:6px 6px 6px 12px;
}
.th-data-table
{
    background-color: #eee;
	color: #333;
	font: bold 11px tahoma;
	padding: 8px 0;
	border-bottom: solid 2px #95B660;
	width: 19% !important;
	text-align: center !important;
	border-right:solid 1px #000;
}

.th-data-table:last-child{ border-left:none;}


.th-item-num{ width:5% !important;}

.td-r1-data-table
{
    color:#4f4f4f; font:normal 11px tahoma;padding:5px 0px; border-bottom:solid 1px #bbb;
  vertical-align:middle;
	position:relative;
	padding-left: 5px; padding-right:5px;
	vertical-align: initial;
}


.td-r2-data-table
{
    color:#4f4f4f; font:normal 11px tahoma; padding:8px 0px; border-bottom:solid 1px #bbb;
  vertical-align:middle;
	position:relative;
	padding-left: 5px; padding-right:5px;
	background-color:#f1f1f1;
	vertical-align: initial;
}


.td-data-hover
{
    background-color:#CDDC9B !important; color:#333 !important;border-bottom: solid 1px #95b660;
}

.td-data-border
{
    border-top:solid 2px #95b660; padding:0px !important;
}

.td-data-total-price
{
    border:solid 1px #ccc; border-top:none; padding: 5px; font:bold 10px tahoma; color:#333;text-align:right;
}


.input-40px{ width:40px !important;}
.minHeight-26px{min-height:26px !important;}

.input-83px{ width:83px !important;}
a.Edit-link
{
     background-image:url(../images/action-links-icons.png);
	background-repeat:no-repeat;
    background-position:center top;
	cursor:pointer;
    padding-left:17px !important;
	width:12px;
	height:13px;
}

a.Delete-link
{
   display:inline-block;
    background-image:url(../images/action-links-icons.png);
	background-repeat:no-repeat;
	cursor:pointer;
    padding-left:5px !important;
	width:12px;
	height:13px;
    background-position:center -80px;
}

a.Save-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:12px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -40px;
    background-repeat:no-repeat;
}

a.Cancel-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:12px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -19px;
    background-repeat:no-repeat;
}
.nowrap {width:150px;word-wrap:break-word; display: inline-block}
.display-none{ display:none;}

.tableSectionTitle
{
    border-bottom:solid 1px #323232;
    background: #4f4f4f;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.whiteText
{
    color:#fff !important;
}

.Administration-group-title
{
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 3px 5px 0px rgba(68, 68, 68, 0.2);
    background: -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(237, 237, 237) 100%) repeat scroll 0px 0px transparent;
    color: rgb(79, 79, 79);
    border-top: 2px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    font: 18px tahoma;
    letter-spacing: 2px;
    margin-bottom:10px;
}

.cx-control {font-family:Tahoma;font-size:11px;}

.right-content
{
    text-align:left !important;
}
.left-content
{
    text-align:right !important;
}
.center-content
{
    text-align:center !important;
}

.TabbedPanelsContentFieldset{ overflow-y:auto;}


.Details-div
{
    border-bottom:solid 1px #6b6b6b;
    width:100%;
    position:relative;
	padding:6px 0;
}

.details-div-title
{
    display: block;
    padding:4px;
    font: bold 12px tahoma;
	color: #333;
}

.Details-div .Action-div 
{
	height:14px;
	padding:5px 0px;
}

span.actionTitle
{
    color:#4f4f4f;
    font:normal 12px tahoma;
    border-radius:3px;
    padding:5px 10px;
}

span.actionTitle:hover
{
    color:#fff;
    background: #4f4f4f; /* Old browsers */
    background: -moz-linear-gradient(top,  #4f4f4f 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4f4f4f 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.actionTitleClicked{
    color:#fff !important;
    background: #4f4f4f; /* Old browsers */
    background: -moz-linear-gradient(top,  #4f4f4f 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4f4f4f 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4f4f4f 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}


.ActionList
{
	}


.ActionList-ul
{
    margin:0;
    padding:0;
    list-style:none;
}

.ActionList-ul li{ display:block; padding:0;}

.ActionList-ul li a.ActionLinks{
    color: #4F4F4F;
    font: normal 12px tahoma;
    padding: 10px;
    border-bottom: solid 1px #BDBDBD;
    display: block;
    min-width: 50px;

}

.ActionList-ul li a.ActionLinks:hover
{
    text-decoration:underline;
}
a.ActionLinks{cursor:pointer;}



/*.Details-div .Action-div ul{ float:right;}

.Details-div .Action-div a{color:#fff;}*/

.detail-sub-title
{
    border-bottom:solid 1px #6b6b6b;
    color:#333;
    display:block;
    padding:3px;
    font:bold 12px tahoma;
    text-align:right;
}

.view-text-area 
{
    border:0px;
    resize:none;
    height:65px;
}
.tab-text-area 
{
    border:0px;
    resize:none;
    height:65px;
    background: #E7E9E9;
}


.Filter-search
{
	  width:100%;
    border-bottom:solid 2px #d1d1d1;
    padding:8px 0;
    overflow-y:auto;
     position:absolute; z-index:25;top:-2px;left:0px;
}


a.filter-search-text
{
    float:right;
    color:#fff;
	font:bold 14px tahoma;
	text-decoration:none;
}

.filter-search-img
{
    background-image:url(../images/images.png);
    background-position:left -36px;
    background-repeat:no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
    float:right;
}

.view-text-area 
{
    border:0px;
    resize:none;
    height:65px;
    font-size: 12px;
}
.tab-text-area 
{
    border:0px;
    resize:none;
    height:65px;
    background: #E7E9E9;
}


.Advanced-Filter-search
{
    width:97%; border:solid 1px #ccc; background-color:#fff; padding:0.25% 0.25% 1% 0.25%; z-index:25;top:-2px;left:0px;
}

.QuickSearchDiv
{
     /* padding-bottom:15px;
    display:none;
  padding-bottom:15px;*/
}

.QuickSearch-holder
{
    float:right;
    cursor: pointer;
}

.document-iframe
{
    border:none;
}

.text-align-right{text-align:right !important;padding:5px !important}
.txt-payment-width{width:100px !important}
.text-align-left{text-align:left !important; padding:5px !important}
.text-align-center{text-align:center !important;padding:5px !important}
span.ActionFullView-link
{
    cursor:pointer;
    padding-left:25px !important;
    width:12px; height:12px;
    background-image:url(../images/action-links-icons.png);
    background-position:center -528px;
    background-repeat:no-repeat;
}


.tableDynamicWidth{}
.tableDynamicWidth th{ width:2%; text-align:left; vertical-align:top; padding-bottom:10px;}
.tableDynamicWidth td{ width:22%; text-align:right; vertical-align:top;color:#8A9294;padding-right: 5px;}

.historyUpdated
{
    min-height:100px;
}

.noBorder
{
    border:none;
}

.nowrap-noWidth{word-wrap:break-word; display: inline-block}



.PhoneCodesTable{ display:none;}
.PhoneCodesTable td{ text-align:center !important; padding:0px !important; width:auto !important;}
.Country-Code{color:#95B660;}
.Area-Code{color:#95B660;}
.Phone-Code{color:#95B660;}


.verticalAlign-top{ vertical-align:top;}
.lnkLabel{cursor:pointer;color: #95B660 !important;font:bold 11px tahoma;text-decoration:underline;}
.lnkLabel-Black{cursor:pointer;color:#505052; font: 12px tahoma;}
    
    
    
    
    
.cx-ac-mult-ul {
      width: 150px;
      padding-top:5px;
}


.ui-combobox-input
{
    padding: 0.3em 3px !important;
    width: 147px !important;         
}
.cx-ac-mult-ul li 
{
      border:solid 1px #999;
      margin-bottom:2px;
      border-radius:2px;
      /*min-width:183px;*/
      padding:2px;
      
}
.cx-ac-mult-ul li a 
{
      
      float:right;padding-right:5px;
      
      cursor: pointer;
      width: 12px;
      height: 14px;
      background-image: url(../images/action-links-icons.png);
      background-position: center -19px;
      background-repeat: no-repeat;
      
      }


.paddingRightLeft-10-5 {padding:0 5px 0 2px;}
.waterMark
{
    color:#CCC
}

.opp-action-div
{
    width:50% !important;
}

.SiteContact-info th
{
    width:15% !important;
}

textarea
{
	height:75px;
	width:150px;
}

.SiteContact-info th
{
    width:15% !important;
}

.width-13{ width:13% !important;}

.company-info
{
    width:100%;
}

.case-info-view
{
width: 100%;
}

.SkypeNumber{ width:152px !important;}
.personPhoneThWidth{ width:11%\9 !important;}

.Quick-Search-Controls th {width:20px;}
.Quick-Search-Controls td {width:30px;}
.search-optionhr .seperator {height:1px;width:100%;background-color:#ccc;border-radius:6px;}
.filter-reset {margin-right:0px;}
.search-buttons {text-align:left !important;}
.search-date {width:49px !important;display:inline-block; font-size:10px !important;}
.from{ padding-left:3px;}
.to{padding-right:3px; padding-left:3px;}


.checkBoxLabel
{
      padding:0 5px;
      color:#333;
      font:bold 11px tahoma;     
}


.Add-new-form-team
{
     background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    width: 100%;
    overflow:auto;
}

.edit-lnk-icon{background-image: url("../images/action-links-icons.png");
    background-position: center top;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 14px;
    padding-left: 17px !important;
    width: 12px;}
    
.lnkLabel-header{cursor:pointer;color: #95B660 !important;font:bold 15px tahoma;padding-bottom:10px;width:70%;}
.lnkReset{ width:30px;}
    
    
.item-id-width{width:4% !important;}
.item-entity-width{width:16% !important;}

.Company-Balance { font:bold 11px tahoma; float:right;color: #4F4F4F;}


.cloud-view-image-Tab
{
    background-image: url("../images/cloudView-icon2.png");
    background-position: center top;
    background-repeat: no-repeat;
    display:inline-block;
    width:80px;
    height:24px;
    margin-left:2%;
    float:right;
}

.cloud-view-image-List
{
    background-image: url("../images/cloudView-icon2.png");
    background-position: center top;
    background-repeat: no-repeat;
    display:inline-block;
    width:80px;
    height:24px;
    position:absolute;
    right:4%;
    bottom:7%;
}

.cloud-view-NotSync-image-List
{
    background-image: url("../images/cloudView-NotSymc-icon2.png");
    background-position: center top;
    background-repeat: no-repeat;
    display:inline-block;
    width:80px;
    height:24px;
    position:absolute;
    right:4%;
    bottom:7%;
}
.cloud-view-NotSync-image-Tab
{
    background-image: url("../images/cloudView-NotSymc-icon2.png");
    background-position: center top;
    background-repeat: no-repeat;
    display:inline-block;
    width:80px;
    height:24px;
    margin-left:2%;
}

.gps-hint {display:block !important;} 


/*ERP Chnages*/
.reports{ background-position:center -1640px;}
.transactional-setup{ background-position:center -1732px;}
.master-data-setup{ background-position:center -1818px;}
.master-data-definition{ background-position:center -1917px;}
.transactions-processing{ background-position:center -2010px;}
.periodic-processing{ background-position:center -2093px;}
.tax-services{ background-position:center -2174px;}
.fiscal-calender{ background-position:center -2250px;}
.currencies{ background-position:center -998px;}
.company-profile{ background-position:center -2330px;}
.setup{ /*background-position:center -539px;*/}
.sales-person{ background-position:center -2425px;}
.customer{ background-position:center -2515px;}
.invoice{ background-position:center -2608px;}
.receipt{ background-position:center -2700px;}
.adjusment{ background-position:center -2790px;}
.refund{ background-position:center -2886pxpx;}


.Menu span.cash-managment{ background-position:left -684px;}
.Menu span.account-receivable{ background-position:left -707px;}
.Menu span.administrative-settings{ background-position:left -858px;}
.Menu span.general-ledger{ background-position:left -708px;}
.Menu span.cash-managment{ background-position:left -684px;}
.Menu span.account-receivable{ background-position:left -782px;}
/*ERP Chnages*/




.Company-Balance{float:right;}

.th-number{width:5% !important; }
.more-options{cursor:pointer;}
.myCustomLoader{border:solid 0px #000;width:100%;height:20px;text-align: center;}

.notification-list-div {
    background-color: #FFFFFF;
    border: 1px solid #A2BD77;
    display: none;
    position: fixed;
    top: 30px;
    width: 20%;
    z-index: 1002;
    left:7%;
    max-height:300px;
   /* overflow-y:auto;*/
}

.noti-all-header {
    border-bottom: 1px solid #A2BD77;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: #90B563;
    padding: 3%;
    text-align: left;
    width: 94%;
}
.noti-all-header a {
    color: #90B563;
    font: 10px tahoma;
    padding-left: 5px;
    text-decoration: none;
}

.notification{
	margin-top:-1px; margin-left:-1px;
	height:33px;
	width:100%;
	border:solid 1px #95b660;
	border-right:none;
    background: rgb(149,182,96);
	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
}

.notification UL{
	margin:0px;
	padding:0px;
	width:auto;
	position: relative; top:4px;
	float: left;
}

.notification LI{
	display:inline-block;
	padding:5px;
	*float:left;
	width:100%;
}

.notification-links{
	color:#323332;
	font:normal 11px tahoma;
	float:left;
}

.noti-list ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.noti-list li {
    border-bottom: 1px solid #D9E4C7;
    padding: 3%;
}

.noti-desc {
    color: #B1B1B1;
    display: block;
    font: 11px tahoma;
}
.noti-list li a.link-noti {
    color: #90B563;
    font: 10px tahoma;
    padding-left: 5px;
    float:left;
    text-decoration: none;
}
.noti-list li.old {
    background-color: #F6F6F6;
}
.noti-list li.old .noti-subject {
    font-weight: normal;
    float:right;
}
.snooze-div {
    float: left;
}
.snooze-select {
    border: 1px solid #DDDDDD;
    bottom: 6px;
    float: left;
    padding: 1px;
    position: relative;
    width: 65px;
}
.noti-dismiss, .noti-snooze {
    float: right;
}
.ui-datepicker{z-index:1001 !important;}

.add-new-item  
{
	background-color: #FFFFFF;
    box-shadow:0 1px 15px 0 rgba(0, 0, 0, 0.4);
	height: 340px;
    width: 750px;
    left: 377px;
    padding:0;
    position: absolute;
    top: 100px;
    z-index:1005;
    overflow:hidden;
}

.add-new-item-Users 
{
    width: 65% !important;
right: 17% !important;
height: 68% !important;
top: 60px !important;
}

.FormScroll-Div{padding-top:7px; padding-left:10px; padding-right:10px; overflow-y:auto; height:92%;}

.th-data-number{width:3% !important;}
.td-data-number{width:3% !important;}
      
.entry-details-div {
overflow-x: scroll;
width: 99%;
min-height: 150px;
padding-top: 3px;
}
.ui-datepicker{z-index:1006 !important;}
.page-title-div{padding:4px;}

.empty-list-item {
text-align: center;
padding-top: 20%;
font-weight: bold !important;
}
.empty-list-item > span{font-weight:bold;}



.search-option{width:40%;}
.search-option span.SortingField{ padding-right:0 !important;}
li.FR-SB{/*position: absolute; left:0; width: 23% !important;*/
         
         position: relative;
right: 432px;
width: 23% !important;}


.SD-ul li.FullWidth100{ width:100% !important;}
/*.add-new-item {
width: 86%;
left: 8%;
top: 32px;
}*/

.add-new-item-large {
height: 100% !important;
width: 96% !important;
left: 2% !important;
top: -5% !important;
}

/*.add-new-item-small {
height: 32% !important;
}*/

.TotalDiv{background-color: #f1f1f1;padding: 5px 9px;border-top: solid 1px #4f4f4f;}

.TotalDiv span{color: #333;font: bold 11px tahoma;}

.ui-resizable-e {right:auto !important;left: -5px;}
.ui-resizable-w {left:auto !important; right: -5px;}

.mobileDir{ direction:ltr;}

.image-pnl {
box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
border: 2px solid rgb(255, 255, 255) !important;
width: 75px !important;
height: 75px !important;
}

#UploadDocument {
border: medium none;
height: 50px;
width: 230px;
}

li.ui-menu-item{ width:100% !important;}

.Direction-ltr{direction:ltr;}

.add-new-item-small {
height:32% !important;
}


.ResultGridTableDiv{ overflow-x:hidden;}

span.background-text{
margin-right:50%    ;
}

.searchTextbox 
{
background-image: url(../Images/magnifying-glass.png);
background-repeat: no-repeat;
}

.dir-ltr {
direction: ltr;
}

.MoreListMenu-ul li {width:128px}


 .Quick-Search-Controls .ac-selected-items
    {
        width: 199px !important;
        float: left;
    }
     .Quick-Search-Controls .ac-selected-items li
    {
cursor: pointer;
width: 76% !important;
    }   
    
 tr.th-v-align th
    {
        vertical-align: initial;
    }
    
     .typeYear-th
    {
        padding-right: 78px;
    }
    
    
    .th-valign-rownum
    {
        width: 4%;
    }
    
    .td-rownum-valign
    {
        padding-right: 2.5%;
    }
    
    .td-result1-valign
    {
        padding-right: 1%;
width: 37% !important;
    }
    
    .td-result2-valign
    {
       padding-right: 1% !important;
width: 35% !important;
    }
    
    .td-result3-valign
    {
        padding-right: 6%;
    }
    
     .ac-selected-items
    {
        /*padding-left: 30px;*/
        padding-left: 0px !important;
    }
    
    
     .addScroll-span
    {
        overflow: auto ;
        height: 100px ;
    }
    
    
    .third-settings-list
    {
      /*  float: left !important; */
width: 284px !important;
    }
    
    .history-title-expansion
    {
        width: 167%;
    }
    
    .first-td-padding
    {
        padding-right: 12px;
width: 161px;
    }
    
    .second-td-padding
    {
        padding-right: 14px;
width: 286px;
    }
    
   /* .third-td-padding
    {
        padding-right: 29px;
    }*/
    
    .noti-list{overflow:scroll; width:100%;
    height:250px;}

.t-city-num{margin:0px 2px; width:45px !important; text-align:center;border:1px solid #DDDDDD;padding:0.3em 3px;}
.t-country-num{width:35px !important; text-align:center;border:1px solid #DDDDDD;padding:0.3em 3px;}
.t-phone-num{width:55px !important; text-align:center;border:1px solid #DDDDDD;padding:0.3em 3px;}
.text-nowrap {	width:65px !important; word-wrap: break-word;display : inline-block;   	}

.tableRelatedDynamicWidth{}
.tableRelatedDynamicWidth th{ width:16%; text-align:left; vertical-align:top; padding-bottom:10px;}
.tableRelatedDynamicWidth td{ width:22%; text-align:right; vertical-align:top;color:#8A9294;padding-right: 5px;}


.TBodyGridTable .td-r1-data-table,.TBodyGridTable .td-r2-data-table
{
	padding-bottom:0;
	padding-top:0;
	height:22px;
}

li.ui-menu-item {
width: 100% !important;
}

.optional-fields-grid td.td-r2-data-table,.optional-fields-grid td.td-r1-data-table{width:20% !important;}

.optional-fields-grid td.td-number{width:5% !important;}

.optional-field-tab  #optional-field-items-grid{height:350px;overflow-y:scroll;}


.optional-field-pop-up{background-color: #FFFFFF;
box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.4);
height: 80%;
width: 88%;
right: 6%;
padding: 0;
position: absolute;
top: 15%;
z-index: 1008;
overflow: hidden;border:solid 3px #ccc;}

.black_overlay_on_add_popup{z-index:1007;}

.close-optional-field{font-size:13px;text-decoration:underline;}
table.add-entry-table{width:93% !important;}


.Adjust-Width
{
    width: 124px !important;
}