@charset "UTF-8";


.TabbedPanels {
	overflow: hidden;
	margin:0px;
	padding:0px 0px 5px 0px;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
	min-height:30px !important;
	width: 100%;
	background-color:#eee;
	border-bottom:solid 3px #4f4f4f;
}

.TabbedPanelsTab
{
    position: relative;
	display:inline-block !important;
	padding:5px;
	height:39px;
	margin: 0px 5px 0px 0px;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
    outline:none;
    font:bold 10px tahoma;
    text-align:center;
    color:#8B8987;
    opacity:0.4;
    display:none;
    border:solid 1px transparent;
	border-bottom:none;
}

.TabbedPanelsTabSelected {
	color:#95b660;
	font:bold 10px tahoma;
	opacity:1 !important;
	border:solid 1px #ddd;
	border-bottom:none;
	border-top:none;
	background-color:#fff;
}

.TabbedPanelsTabSelected > span{ background-position-x:-31px !important;}

.TabbedPanelsTabSelected:hover {
	opacity:1 !important;
	animation:TabbedPanelsTabHover 0s !important;
    -moz-animation:TabbedPanelsTabHover 0s !important;
    -webkit-animation:TabbedPanelsTabHover 0s !important;
}

.TabbedPanelsTabGroup .TabbedPanelsTabHover {
	color:#95b660;
	font:bold 10px tahoma;
	opacity:1;
	animation:TabbedPanelsTabHover 1s;
    -moz-animation:TabbedPanelsTabHover 1s;
    -webkit-animation:TabbedPanelsTabHover 1s;
}


/*.TabbedPanelsTab span{ display:none;}*/

.TabbedPanelsTab-img
{
    height:27px; 
    width:29px; 
    display:block !important;
    background:url(../images/FlatTab-imgs.png) no-repeat; 
    margin:0 auto;
}

span.Summery-tab{background-position: right top;}
span.Address-tab,span.cust-address-tab{background-position: right -40px;}
span.Note-tab{background-position: right -240px;}
span.Invoices-tab{background-position: right -281px;}
span.documents-tab{background-position:right -1207px;}
span.reconciliationCheck-tab{background-position: right -120px;}
span.bankCurrency-tab{background-position:right -160px;}
span.checkStock-tab{background-position:right -120px;}
span.Processing-tab,span.cust-processing-tab{background-position: right -320px;}
span.customer-processing-tab{background-position: right -320;}
span.Numbering-tab{background-position:-1px -351px;}
span.details-tab{background-position: right -389px;}
span.commission-tab{background-position:right -81px;}
span.ContactAddress-tab{background-position:right -60px;}
span.Invoicing-tab{background-position: right -281px;}
span.Transaction-tab{background-position: 1px -199px}

.TabbedPanelsTab-img{ background-position-x:-31px !important}
/*.TabbedPanelsTab-img:hover{ background-position-x:-31px;}*/

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContent {
	overflow: hidden;
	padding: 4px;
	outline:none;
}


.TabbedPanelsContentVisible {
}


.VTabbedPanels {
	overflow: hidden;
	zoom: 1;
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: right;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}


.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-right: none;
	border-left: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}


.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: right;
	padding: 0px;
	width: 30em;
	height: 20em;
}

/* Styles for Printing */
@media print {
.TabbedPanels {
	overflow: visible !important;
}
.TabbedPanelsContentGroup {
	display: block !important;
	overflow: visible !important;
	height: auto !important;
}
.TabbedPanelsContent {
	overflow: visible !important;
	display: block !important;
	clear:both !important;
}
.TabbedPanelsTab {
	 overflow: visible !important;
	 display: block !important;
	 clear:both !important;
}
}

@keyframes TabbedPanelsTabHover
{
from {opacity:0.4;}
to {opacity:1;}
}

@-moz-keyframes TabbedPanelsTabHover
{
from {opacity:0.4;}
to {opacity:1;}
}

@-webkit-keyframes TabbedPanelsTabHover
{
from {opacity:0.4;}
to {opacity:1;}
}


.TabbedPanelsContentGroup {
	background-color: #fff;
	width: 100%;
	display:block;
}


.More-holder
{
    display: block; width: 100%;
}

.moreTabsList
{
    background-color:#FFF;
    border:solid 1px #ccc;
    border-right:solid 4px #95b660;
    min-height:59px;
    padding:10px 0;
    display:none;
    position:absolute;
    z-index:789;
    bottom:3%;
    right:8%;
    vertical-align:middle;
    border-radius:0 0 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.4)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
    behavior: url(PIE.htc);
    opacity:0;
    max-width:91%;
}

.moreTabsList-divs 
{
    width:68px; 
    text-align:center; 
    float:right;
    color: #8B8987;
    cursor: pointer;
    font: bold 10px tahoma;
    opacity:1;
    display:none;
    height: 52px;
    margin: 1% 0;
}

.moreTabsList-divs:hover
{
    opacity:1;
}

.more-tabs{opacity:1;}
.More-tabs
{
    opacity:1;
    position: absolute;
    bottom: 5%;
    right: 0%;
    width:9%;
    text-align:center;
    color: #8B8987;
    cursor: pointer;
    font: bold 10px tahoma;
    margin:0 auto;
    display:block;
}

.More-tabs-arrow
{
    background-image:url(../images/images.png);
	background-repeat:no-repeat;
	background-position:right -473px;
	width:8px;
	height:17px;
	display:block;
	position:absolute;
	top:25%;
	left:7.5%;
	z-index:790;
	display:none;
	opacity:0;
}

ul.moreTabs-ul
{
    margin:0;
    padding:0;
    list-style:none;
}