﻿ <tr class="item-details-row">
    <td class="td-r1-data-table center-content">
        <span class="label-data nowrap Adjust-Width SegmentName"></span>
        <div class='varianceSegment'>
            <select class="SegmentList lst">
            </select>
        <div>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data nowrap Adjust-Width Description"></span>
    </td>
    <td class="td-r1-data-table center-content NonBaseSegment">
        <div>
            <select class="SegmentCode lst">
            </select>
        <div>
    </td>
    <td class="td-r1-data-table center-content BaseSegment">
        <input class="cx-control BaseSegmentCode txt" type="text" />
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data nowrap Adjust-Width LastValInserted"></span>
    </td>

      <td class="td-r1-data-table center-content">
        <span class="label-data nowrap Adjust-Width SegmentCodeDescription"></span>
    </td>
    <td class="hidden">
        <span class="label-data nowrap SegmentLength"></span>
        <span class="label-data nowrap SegmentId"></span>
        <span class="label-data nowrap ReferenceSegmentId"></span>
    </td>
</tr>
