<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OpenDocument.aspx.cs" 
Inherits="CentrixERP.Common.Web.Documents.OpenDocument" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

