<div class="Add-title">
    <span resourcekey="AddContact"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-Contact-info">
            <tr>
            
            <th>
					<span class="label-title" resourcekey="ContactType"></span>
                <span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
                 <div class="viewedit-display-none">
             
                        <select class="ContactType lst">
                        </select>
                    </div>
				</td>
                	<th class="Companyinput">
					<span class="label-title CompanyNamelabel" resourcekey="CompanyName"></span>
                        <span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td class="Companyinput">
                    <input class="cx-control CompanyName required  txt    string " maxlength="50" minlength="3"
                           type="text" />
				</td>
            </tr>
            			<tr class="persontr">
				<th>
					<span class="label-title" resourcekey="FirstName"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
                    <input class="cx-control FirstName   required txt    string " maxlength="50" minlength="3"
                           type="text" />
				</td>
				<th>
					<span class="label-title LastNamelabel" resourcekey="LastName"></span>
					<span class="smblreqyuired viewedit-display-none LastNamelabel">*</span>
				</th>
				<td>
                    <input class="cx-control LastName   required txt    string " maxlength="50" minlength="3"
                           type="text" />
				</td>
                	</tr>
                    <tr>
                    
				<th>
					<span class="label-title" resourcekey="Email"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
                    <input class="cx-control Email email   txt required   string " maxlength="30" minlength="3"
                           type="text" />
				</td>
		
		
				<th class="Gendersection">
					<span class="label-title Genderlbl" resourcekey="Gender"></span>
					<span class="smblreqyuired viewedit-display-none Genderlbl">*</span>
				</th>
				<td class="Gendersection">
                    <div class="viewedit-display-none required Genderlbl">
                        <select class="Gender lst"></select>
                    </div>
				</td>
                </tr>
                <tr>
				<th>
					<span class="label-title" resourcekey="PhoneNumber"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
					<input class="cx-control PhoneNumber  txt required  integer  " maxlength="15" minlength="3"
                            type="text"  />`    
				</td>
			
			</tr>
		
             </table>
        </fieldset>
    </div>
</div>