<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="SyncScheduleDetails"></span>
        <div class="Action-div">
            <ul>
          <!--      <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link" > <span resourcekey="Edit"></span></a></li>-->
                <li class="save-cancel-pnl"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Sync"></span></a></li>
            <!--    <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>-->
              <!--  <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>-->
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table SyncSchedule-info">
                			<!--<tr>
				<th>
					<span class="label-title" resourcekey="SyncEntities"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block SyncEntities"></span>
					<textarea class="cx-control SyncEntities  txt viewedit-display-none" maxlength="500" minlength="3"></textarea>
				</td>
				<th>
					<span class="label-title" resourcekey="SyncEntitiesIds"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block SyncEntitiesIds"></span>
					<textarea class="cx-control SyncEntitiesIds  txt viewedit-display-none" maxlength="500" minlength="3"></textarea>
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="Status"></span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block number Status"></span>
					<input class="cx-control Status  txt   integer  viewedit-display-none" maxlength="" minlength="3"
                            type="text"  />
				</td>
			</tr>-->
            <tr>
            <th>
					<span class="label-title" resourcekey="">Sync Invoice</span>
				</th>
				<td>
					
					<input type="checkbox" class="cx-control SyncInvoice chk " />
                       
				</td>
                  <th>
					<span class="label-title" resourcekey="">Sync Refund</span>
				</th>
				<td>
				
					<input type="checkbox" class="cx-control SyncRefund chk " />
                       
				</td>
            </tr>
            <tr>
            <th>
					<span class="label-title" resourcekey="">Sync On Account</span>
				</th>
				<td>
		
					
					<input type="checkbox" class="cx-control SyncPettyCash chk " />
                       
				</td>
            </tr>
                </table>
            </fieldset>
          
            <!--<fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>-->
            <div class="five-px">
        </div>
        <div class="Add-title">
            <span resourcekey="LastSync"></span>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="1" class="details-grid">
            <tr id="-2">
                <th class="th-data-table th-sync-num">
                    #
                </th>
                <th class="th-data-table-sync">
                    <span resourcekey="SyncEntities"></span>
                </th>
                <th class="th-data-table-sync">
                    <span resourcekey="SyncBy"></span>
                </th>
                <th class="th-data-table-sync">
                    <span resourcekey="SyncDate"></span>
                </th>
                <th class="th-data-table-sync ">
                    <span resourcekey="Status"></span>
                </th>
                <th class="th-data-table-sync">
                    <span resourcekey="CreatedDate"></span>
                </th>
                <th class="th-data-table-sync">
                    <span resourcekey="CreatedBy"></span>
                </th>
            </tr>
          
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="1" class="ItemList-info ">
            <tr class="ContentRow SyncItemRow">
                <td class="center-content td-Synk-num">
                    <span class="ItemIdentity"></span><span class="WalkInId" style=""></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="SyncEntities  td-sync-table"></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="CreatedByName"></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="CreatedDate date-time "></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="Status nowrap-noWidth "></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="CreatedDate date"></span>
                </td>
                <td class="text-align-center td-sync-table">
                    <span class="CreatedByName nowrap-noWidth"></span>
                </td>
            </tr>
        </table>
        <div id="items-grid" class="items-grid-scroll display-none">
        </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>