<div class="result-block">
    <div class="result-data1">
        <label title="" class="PersonNameTrim" Tresourcekey="FullName" >  </label>
    </div>
    <div class="result-data2 resultsData">
     <!--   <span class="label-title" resourcekey="Position"></span>
        <label class="PositionTitle">
        </label>-->
    </div>
    
      <div class="result-data3 resultsData">
          <span class="label-title" resourcekey="BusinessEmail"></span>
            <a class="HBusiness-email-to lnkLabel" href="" target="_top">
          <label title="" class="Email"></label>    
          </a>
        </div>

        <div class="result-data4 resultsData"> 
          <span class="label-title" resourcekey="Mobile"></span>
         <div class="PhoneDirection display-inlineBlock"> <label class="phone"></label> </div>
        </div>
        

    
    <div class="flag" entity="Person">
    </div>
    <div class="openDiv">
    </div>
    <div class="gray-square">
    </div>
</div>
