<div class="Add-title">
    <span resourcekey="AddPerson"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-person-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="Company"></span>
                    </th>
                    <td>
                        <a class="company-link"><span class="label-data Company lnkLabel viewedit-display-block company-filed">
                        </span></a>
                        <div class="viewedit-display-none company-list">
                            <select class="Company lst">
                            </select>
                        </div>
                    </td>
                    <th class="">
                        <span class="label-title" resourcekey="Salutation"></span>
                    </th>
                    <td class="">
                        <div class="">
                            <select class="Salutation lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Gender"></span>
                    </th>
                    <td>
                        <div class="">
                            <select class="Gender lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="MaritalStatus"></span>
                    </th>
                    <td>
                        <div class="">
                            <select class="MaritalStatus lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="DateOfBirth"></span><span class="smblreqyuired BirthdayRequired display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <input class="cx-control DateOfBirth  date  " type="text" />
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Anniversary"></span><span class="smblreqyuired AnniversaryRequired display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <input class="cx-control Anniversary date " type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="FirstNameEn"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control FirstNameEn  txt required string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                    <th class="">
                        <span class="label-title" resourcekey="MiddleNameEn"></span>
                    </th>
                    <td class="">
                        <input class="cx-control MiddleNameEn  txt  string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="LastNameEn"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control LastNameEn  txt required   string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                </tr>
                <tr>
                    <th class="display-none">
                        <span class="label-title" resourcekey="FirstNameAr"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td class="display-none">
                        <input class="cx-control FirstNameAr  txt    string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                    <th class="display-none">
                        <span class="label-title" resourcekey="MiddleNameAr"></span>
                    </th>
                    <td class="display-none">
                        <input class="cx-control MiddleNameAr  txt  string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                    <th class="display-none">
                        <span class="label-title" resourcekey="LastNameAr"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td class="display-none">
                        <input class="cx-control LastNameAr  txt    string " maxlength="60" minlength="3"
                            type="text" />
                    </td>
                </tr>
                <tr>
                   <!-- <th>
                        <span class="label-title" resourcekey="ContactType"></span>
                    </th>
                    <td>
                        <div class="">
                            <select class="ContactType lst">
                            </select>
                        </div>
                    </td>-->
                    <!--<th>
                        <span class="label-title" resourcekey="InterestedIn"></span>
                    </th>
                    <td>
                        <div class="">
                            <select class="InterestedIn lst">
                            </select>
                        </div>
                    </td>-->
                   <!-- <th class="">
                        <span class="label-title" resourcekey="Department"></span>
                    </th>
                    <td class="">
                        <div class="">
                            <select class="Department lst">
                            </select>
                        </div>
                    </td>-->
                </tr>
                <tr>
                    <!--<th>
                        <span class="label-title" resourcekey="Nationality"></span>
                    </th>
                    <td>
                        <div class="">
                            <select class="Nationality lst">
                            </select>
                        </div>
                    </td>-->
                    <!--<th>
                        <span class="label-title" resourcekey="NotifyforBirthday"></span>
                    </th>
                    <td>
                        <input type="checkbox" class="NotifyForBirthday" />
                    </td>-->
                    <!--<th>
                        <span class="label-title" resourcekey="NotifyForAnniversary"></span>
                    </th>
                    <td>
                        <input type="checkbox" class="NotifyForAnniversary" />
                    </td>-->
                    <th class="display-none">
                        <span class="label-title" resourcekey="Religion"></span>
                    </th>
                    <td class="display-none">
                        <div class="">
                            <select class="Religion lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="Position"></span>
                    </th>
                    <td class="">
                        <div class="">
                            <select class="Position lst">
                            </select>
                        </div>
                    </td>
                    <th class="">
                        <span class="label-title" resourcekey="AccountManager"></span>
                    </th>
                    <td class="">
                        <span class="label-data viewedit-display-block AccountManager"></span>
                        <div class="viewedit-display-none">
                            <select class="AccountManager lst">
                            </select>
                        </div>
                    </td>
                    <th class="">
                        <span class="label-title" resourcekey="HearAboutUs"></span>
                    </th>
                    <td class="">
                        <span class="label-data viewedit-display-block HearAboutUs"></span>
                        <div class="viewedit-display-none">
                            <select class="HearAboutUs lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--<th class="">
                        <span class="label-title" resourcekey="BestTimeToContact"></span>
                    </th>
                    <td class="">
                        <span class="label-data viewedit-display-block BestTimeToContact"></span>
                        <div class="viewedit-display-none">
                            <select class="BestTimeToContact lst">
                            </select>
                        </div>
                    </td>-->
                    <th>
                        <span class="label-title" resourcekey="IsVip"></span>
                    </th>
                    <td>
                        <span class="label-data viewedit-display-block VipClass"></span>
                        <div class="viewedit-display-none">
                            <select class="VipClass lst">
                            </select>
                        </div>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="FacebookPage"></span>
                    </th>
                    <td>
                        <span class="label-data nowrap viewedit-display-block FacebookPage"></span>
                        <input class="cx-control FacebookPage  txt   string viewedit-display-none" maxlength="60"
                            minlength="3" type="text" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="LinkedInPage"></span>
                    </th>
                    <td>
                        <span class="label-data nowrap viewedit-display-block LinkedInPage"></span>
                        <input class="cx-control LinkedInPage  txt  string viewedit-display-none" maxlength="60"
                            minlength="3" type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="TwitterAccount"></span>
                    </th>
                    <td>
                        <span class="label-data nowrap viewedit-display-block TwitterAccount"></span>
                        <input class="cx-control TwitterAccount  txt   string viewedit-display-none" maxlength="60"
                            minlength="3" type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Website"></span> <span class="label-data  viewedit-display-none" resourcekey="Http"></span>
                    </th>
                    <td>
                        <span class="label-data nowrap viewedit-display-block Website"></span>
                        <input class="cx-control Website website txt  string viewedit-display-none" maxlength="60"
                            minlength="3" type="text" />
                    </td>
                </tr>
                <tr>
                    <th class="display-none">
                        <span class="label-title" resourcekey="Source"></span>
                    </th>
                    <td class="display-none">
                        <div class="">
                            <select class="Source lst">
                            </select>
                        </div>
                    </td>
                    <th class="display-none">
                        <span class="label-title" resourcekey="PrimaryContactEmployee"></span>
                    </th>
                    <td class="display-none">
                        <div class="">
                            <select class="PrimaryContactEmployee lst">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="display-none">
                        <span class="label-title" resourcekey="ContactImage"></span>
                    </th>
                    <td class="display-none">
                        <input class="cx-control ContactImage" type="text" />
                    </td>
                </tr>
            </table>
        </fieldset>
      
        
        <div class="Add-new-form" style="display:none">
            <div class="Add-title">
                <span resourcekey="Phone"></span>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-person-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="Home"></span>
                    </th>
                    <td>
                        <input type="text" class="cx-control PcountryCode CountryCode txt country-num phone-format phone-nums"
                            maxlength="6" />
                        <input type="text" class="cx-control PareaCode AreaCode txt city-num phone-format phone-nums"
                            maxlength="6" />
                        <input type="text" class="cx-control PphoneNumber phone-num txt phone-format phone-nums"
                            maxlength="8" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Mobile"></span>
                    </th>
                    <td>
                        <input type="text" class="cx-control McountryCode  country-num phone-format phone-nums"
                            maxlength="6" />
                        <input type="text" class="cx-control MareaCode  city-num phone-format phone-nums"
                            maxlength="6" />
                        <input type="text" class="cx-control MphoneNumber  phone-num phone-format phone-nums"
                            maxlength="8" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Fax"></span>
                    </th>
                    <td>
                        <input class="cx-control ScountryCode country-num phone-format phone-nums" type="text"
                            maxlength="6" minlength="3" />
                        <input class="cx-control SareaCode AreaCode city-num phone-format phone-nums" type="text"
                            maxlength="6" minlength="6" />
                        <input class="cx-control SphoneNumber phone-num phone-format phone-nums" maxlength="8"
                            type="text" />
                    </td>
                </tr>
            </table>
        </div>
          <div class="Add-new-form" style="display:none">
            <div class="Add-title">
                <span resourcekey="Email"></span>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-person-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="BusinessEmail"></span>
                    </th>
                    <td>
                        <input class="cx-control BusinessEmail email txt string viewedit-display-none" type="text"
                            maxlength="60" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="PersonalEmail"></span>
                    </th>
                    <td>
                        <input class="cx-control PersonalEmail email txt string viewedit-display-none" type="text"
                            maxlength="60" />
                    </td>
                     <th>
                        <span class="label-title display-none" resourcekey="PersonalEmail"></span>
                    </th>
                    <td>
                        <input class="cx-control PersonalEmail email txt string display-none" type="text"
                            maxlength="60" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
