﻿.FloatLeft 
{
    width:74%;
	float:right !important;
}

.PrintClass 
{
    font-weight:bold;
    }
    
.viewDiv 
{
        background-color:#fffafa;
        text-align:center !important;
 }
        
 .ActionPrint-link:hover 
 {
       cursor:pointer;
    }
    
      .generateBarcode-table {width: 80% !important;}