<div class="optional-field-pop-up">
<div class=" Details-div optional-field-div actions">
    <span class="details-div-title" resourcekey="OptionalFields"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link save-optional-field  viewedit-display-none"></span><a class="ActionSave-link  save-optional-field viewedit-display-none"
                resourcekey="Save"></a></li>
            <li><span class="ActionCancel-link cancel-optional-field viewedit-display-none"></span><a
                class=" viewedit-display-none cancel-optional-field" resourcekey="Cancel"></a></li>
                <li><span class="ActionClose-link label-title  close-optional-field viewedit-display-block">X</span></li>
         <!--   <li><span class="ActionEdit-link  edit-optional-field viewedit-display-block"></span><a class="edit-tab-lnk viewedit-display-block edit-optional-field"
                resourcekey="Edit"></a></li>-->
        </ul>
    </div>
</div>
<div class="optional-field-tab">
    <table cellpadding="0" cellspacing="1" class=" data-table">
        <tr>
            <th class="th-data-table th-number">
                <span class="label-title">#</span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalField"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDescription"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDetails"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDetailsDescription"></span>
            </th>
        </tr>
    </table>
    <div class="display-none">
        <div id="h-optional-field-template">
            <table width="100%" border="0" cellpadding="0" cellspacing="1" class="optional-fields-grid data-table">
                <tr class="display-none">
                </tr>
            </table>
        </div>
    </div>
    <div id="optional-field-items-grid">
    </div>
</div>
</div>