<tr class="td-data row-template">
    <td class="td-number">
        <span class="row-number number label-data"></span>
    </td>
    <td>
        <span class="OptionalField label-data viewedit-display-block"></span>
        <div class="viewedit-display-none">
            <select class="OptionalField lst">
            </select>
        </div>
    </td>
    <td>
        <span class="OptionalFieldDesc label-data"></span>
    </td>
    <td>
        <span class="OptionalFieldDetails label-data viewedit-display-block"></span>
        <div class="viewedit-display-none">
            <select class="OptionalFieldDetails lst">
            </select>
        </div>
    </td>
    <td>
        <span class="OptionalFieldDetailsDesc label-data"></span>
    </td>
</tr>
