﻿.th-data-table-sync
{
    background: #95b660; /* Old browsers */
    background: -moz-linear-gradient(top, #95b660 0%, #d7e6a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95b660), color-stop(100%,#d7e6a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #95b660 0%,#d7e6a7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b660', endColorstr='#d7e6a7',GradientType=0 ); /* IE6-9 */
    color:#323232;
	font:bold 14px Traditional Arabic;
	padding:4px 0px;
    border-bottom:solid 1px #95B660;
    width:15% !important;
    text-align:center !important;
}

.th-sync-num{ width:3% !important;}


.td-sync-table{ width:15% !important;}
.td-Synk-num{ width:3% !important;}
.Time-select {direction : ltr;}