<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent">
    <div class="Details-div">
        <span class="details-div-title">Group Details</span>
        <div class="Action-div">
            <ul>
                <li class="full-view-pnl"><a class="ActionFullView-link"><span class="ActionFullView-link">
                </span>Full View</a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link">Delete</a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table PriceList-info">
                    <tr>
                        <th>
                            <span class="label-title">Group Name<span class="smblreqyuired viewedit-display-none">*</span></span>
                        </th>
                        <td>
                            <span class="label-data nowrap GroupNameEn viewedit-display-block"></span>
                            <input class="cx-control GroupNameEn txt required viewedit-display-none" maxlength="100"
                                type="text" />
                        </td>
                        <th>
                            <span class="label-title">Entity<span class="smblreqyuired viewedit-display-none">*</span></span>
                        </th>
                        <td>
                            <span class="label-data nowrap EntityName viewedit-display-block"></span>
                            <div class="viewedit-display-none">
                                <select class="EntityName lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title">Description</span>
                        </th>
                        <td>
                            <div class="nowrap">
                                <span class="label-data Description viewedit-display-block"></span>
                            </div>
                            <textarea class="cx-control Description txt viewedit-display-none" maxlength="200"></textarea>
                        </td>
                    </tr>
                </table>
                <div id="historyUpdated" class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
