﻿
.th-data-table-SyncLog
{
    background: #95b660; /* Old browsers */
    background: -moz-linear-gradient(top, #95b660 0%, #d7e6a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95b660), color-stop(100%,#d7e6a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #95b660 0%,#d7e6a7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #95b660 0%,#d7e6a7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b660', endColorstr='#d7e6a7',GradientType=0 ); /* IE6-9 */
    color:#323232; font:normal 11px tahoma; padding:4px 0px;
    border-bottom:solid 1px #95B660;
    width:16% !important;
    text-align:center !important;
    font-weight:bold;
}

.th-SyncLog-num{ width:3% !important; background: linear-gradient(to bottom, #95b660 0%,#d7e6a7 100%); /* W3C */
  }


.td-SyncLog-table{ width:16% !important;}
.SyncLogItemRow td:last-child { width:14.7% !important;}
.td-SyncLog-num{ width:3% !important;}
.details-div{overflow-y: scroll;
height: 383px;}



table.ItemList-info Tr.selected {
background-color: #4f4f4f;
}


table.ItemList-info Tr.selected > td > span {
color: #fff;
}

table.ItemList-info Tr.selected > .td-r2-data-table {
background-color: transparent !important;
}