﻿.QuickKeys-info  { width:50% !important;}
.qk-span{
	font:bold 12px tahoma;
	color:#323232;
}


.button-cancel
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #bbb;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#ccc;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
    box-shadow:  0px 3px 5px 0px rgba(175, 175, 175, 0.2)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
    width:auto;
}
.btn-save
{
    text-align:left !important;
    }


.display-block{ display:block;}


.QK-saveBtn
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 14px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    cursor:pointer;
    width:100%;
	margin-top:10%;
}

.registerSearch{
	float:left;
	position:relative;
}


.cmb-QK
{
	top: 40%;
	left: 35%;
	min-width:17%;
	display:none;
}

.cmb-desc-qk-span{ padding-left:10px;}
.QK-cancelBtn
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 14px tahoma;
       background-color:#ccc;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
    box-shadow:  0px 3px 5px 0px rgba(175, 175, 175, 0.2)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    cursor:pointer;
    width:100%;
	margin-top:10%;
}

.searchIcon{
	background-color:white;
	background-image: url(../../Images/searchIcon.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 18px;
	height: 17px;
	position: absolute;
	right: 1px;
	top: 4px;
	padding-left:5px;
}

.color1{background-color:#3674d2;}
.color2{background-color:#36d265;}
.color3{background-color:#d2c136;}
.color4{background-color:#c136d2;}
.color5{background-color:#00bbec;}
.color6{background-color:#d23636;}
.color7{background-color:#646563;}
.color8{background-color:#da8308;}
.color9{background-color:#f05bd6;}
.color10{background-color:#ffffff;}
.color11{background-color:#81b052;}
.color12{background-color:#393939;}
.color13{background-color:#2c5644;}

.color10 > span{color:#000 !important;}

span.DeleteItem{
	background-image:url(../../Images/quick-menu-icons.png);
	background-position:4px 7px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #bdbdbd;
	display:block;
	color:#323232 !important;
	width:78% !important;
	padding:6% 0% 6% 22%;
	font:normal 12px Tahoma;
	text-align:left;
}

span.DeleteItem:hover{
	text-decoration:underline;
	cursor:pointer;
}
span.RenameTab{
	background-image:url(../../Images/quick-menu-icons.png);
	background-position:4px -17px;
	background-repeat:no-repeat;
	display:block;
	color:#323232 !important;
	padding:11% 10% 11% 36%;
	font:normal 12px Tahoma;
	text-align:right;
}

span.RenameTab:hover{
	text-decoration:underline;
	cursor:pointer;
}


.TabsItemsContainer{
	width:100%;
	height:92%;
	overflow:auto;
}

.TabsItemsContainer-ul{
	margin:0;
	padding:0;
	list-style:none;
}

.TabsItemsContainer-ul li{
	float:right;
	padding:1px;
}

.Item-div{
	width: 150px;
	height: 82px;	
	text-align:center;
	position:relative;
	border:none;
}

.Item-div span{	
	color:#fff;
	font:normal 12px tahoma;
	display:block;
	width:80%;
	margin:0 auto;
	vertical-align:middle;
}

.colorsArrow{
	background-image:url(../../Images/colorsArrow.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgba(255,255,255,0.4);
	width:11px;
	height:8px;
	float:left;
	padding:4px;
	position: absolute;
	bottom: 10%;
	left: 6%;
	box-shadow:0 2px 1px 0 rgba(0,0,0,0.6);
	cursor:pointer;
}

.colorsArrow:hover{background-color:rgba(255,255,255,1);}
.colorsArrow.clicked{background-color:rgba(255,255,255,1);}

.colorsMenu{
	background-color:white;
	border:solid 1px #bdbdbd;
	position:absolute;
	bottom: -155px;
	left: -104px;
	width:130px;
	z-index:10;
	display:none;
}

.displayNone{ display:none;}

.colorsMenu-ul{
	margin:0;
	padding:0;
	list-style:none;
}

.colorsMenu-ul li{
	padding:2%;
}

a.itemColorsBlock { 
	border:solid 1px #bdbdbd;
	width:25px;
	height:25px;
	display:block;
	cursor:pointer;
}

.QuickKey-selection{
	display:inline-block;
	width:17%;
	vertical-align:top;
}



.ItemsContainer{
	display:inline-block;
	width:82%;
	height:93%;
	border-right:solid 1px #41413f;
}

.ItemsTabs{
	background: #666765;
	background: -moz-linear-gradient(top, #666765 0%, #40403e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666765), color-stop(100%,#40403e));
	background: -ms-linear-gradient(top, #666765 0%,#40403e 100%);
	width:100%;
	height:37px;
	border-bottom:solid 2px #41413f;
}

.AddNewTab {
  background-image: url(../../Images/FlatAction-links-icons.png);
  background-position:center -95px;
  background-size : 20px;
  background-repeat: no-repeat;
  background-color: #a3bd5e;
  padding: 19px 22px;
  float: right;
  cursor: pointer;
}

.ItemsTabs-ul{
	margin:0 0 0 1%;
	padding:0;
	list-style:none;
	display:inline-block;
}

.ItemsTabs-ul li{
	display:inline-block;
	position:relative;
}

.ItemsTabs-ul li div.ItemsTabs-div{
	color:#fff;
	padding:12px;
	font:normal 12px tahoma;
	cursor:pointer;
}

.TabArrow{
	background-image:url(../../Images/TabsArrow.png);
	background-repeat:no-repeat;
	width:12px;
	height:7px;
	display:inline-block;
	cursor:pointer;
}

.TabArrow.white{background-position:center top;}
.TabArrow.black{background-position:center bottom;}

.ItemsTabs-ul li div.ItemsTabs-div.selected{
	background-color:#a3bd5e;
	box-shadow:inset 0 4px 3px 0 rgba(0, 0, 0, 0.2);
	color:#000;
}

.ItemsTabs-ul li div.ItemsTabs-div:hover{
	background-color:#a3bd5e;
	box-shadow:inset 0 4px 3px 0 rgba(0, 0, 0, 0.2);
	color:#000;
}

.ItemsTabs-ul li div.ItemsTabs-div:hover .TabArrow.white{background-position:center bottom;}

.TabsMenu{
	background-color:white;
	border:solid 1px #bdbdbd;
	position:absolute;
	bottom: -73px;
	left: -48px;
	padding:0 !important;
	width:78px;
	z-index:10;
	display:none;
}

span.DeleteTab{
	background-image:url(../../Images/quick-menu-icons.png);
	background-position:4px 7px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #bdbdbd;
	display:block;
	color:#323232 !important;
	padding:11% 10% 11% 36%;
	font:normal 12px Tahoma;
	text-align:right;
}

span.DeleteTab:hover{
	text-decoration:underline;
	cursor:pointer;
}

.confermitaion-msg-box
{
    min-width:25%;
    position:fixed;
    background-color:#fff;
    z-index:888;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow:  0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
}
.cmb-title
{
    padding:6px 10px;
    background-color:#C7D763;
    border:solid 1px #95B660;
    border-bottom:none;
    color:#4f4f4f; font:bold 12px tahoma;
}
.cmb-desc
{
    padding:10px;
    border:solid 1px #ccc;
    border-top:none;
    border-bottom:none;
    color:#4f4f4f; font:normal 11px tahoma;
}
.cmb-controls
{
    padding:5px 10px;
    background-color:#eee;
    border:solid 1px #ccc;
    border-top:solid 1px #ddd;
    text-align:left;
}
.button2
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
        cursor:pointer;
    width:auto;
}

.button-cancel
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #bbb;
    color:#262626;
    font:normal 11px tahoma;
    background-color:#ccc;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
    box-shadow:  0px 3px 5px 0px rgba(175, 175, 175, 0.2)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    behavior: url(PIE.htc);
    cursor:pointer;
    width:auto;
}
.btn-save
{
    text-align:right !important;
    }
    
    .Data-Table,.Data-Table3col,.Data-Table2col,.Data-Table1col{
	border-top:solid 1px #DDDDDD;
	width:100%;
	/*float:left;*/
	padding-top:5px;
}

.StoreSync-info-container
{
    /*margin-left:1px;*/
	padding:4px 0.5% 8px;
	width:99%;
	height:93%;
	border:solid 1px #BCBCBC;
	border-top:solid 2px #BCBCBC;
	border-radius:0px 10px 10px 0px;
	background-color:#eee;
	margin:0 auto;

	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	position:relative;
	behavior: url(PIE.htc);
}

.Add-title{
	position:relative;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
-pie-background:linear-gradient(#ffffff, #ededed);

box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
width:100%;
font:normal 14px tahoma;
padding:7px 0px;
color:#8a9294;
behavior: url(PIE.htc);
}

.Add-new-Table{
	border-top:solid 1px #DDDDDD;
	width:100%;
	padding-top:5px;
}
.Add-new-Table th{
	text-align:left;
	width:11%;
	padding-top:4px;
	padding-bottom:4px;
	vertical-align:top;
}
.Add-new-Table TD{
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	clear:both;
}

.add-new-textbox{
	border:solid 1px #ddd;
	padding:1px;
	color:#4f4f4f;
}

.MoveItems 
{
    padding-right: 3px !important;
}
    
span.ActionViewEdit-link 
 {
         background-image:url(../../Images/action-links-icons.png);
	background-repeat:no-repeat;
    background-position:center -99px;
	cursor:pointer;
    padding-left:7px !important;
	width:12px;
	height:14px;float:right;
	display:inline-block !important;
}

.VieweditDisplayNone { display:none;}
.fullwidth { width:100% !important;}
.HName {font-weight:bold; color:#333; float:right;}