﻿.action-controls
{
    float: right;
   
}

.lst-operation
{
    width:60px;
}

.th-operation,.th-options
{
    width:80px !important;
}
.th-bracket
{
    width:120px !important;
}

.lst-bracket
{
    width:40px;
}

.start-group,.end-group
{
    color:Red;
}

.link
{
    cursor:pointer;
}

.control-panel
{
    height:200px;
}

.link-group
{
    display:none;
}

.ContentRow
{
    cursor:pointer;
}

.viewedit-display-none
{
    display:none;
}