<div class="Add-title">
    <span resourcekey="AddCustomFild"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-CustomFild-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="FildName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control FildName  txt   string  " maxlength="" minlength="3" type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="FildType"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <select class="FildType lst">
                        </select>
                    </td>
                </tr>
                <tr>
                <th></th>
                <td></td>

                <th></th>
                <td>
                <textarea class="AutoCompleteField" style="display:none"></textarea>
                </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="Validation"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <select class="Validation lst">
                        </select>
                    </td>
                    <th>
                        <span class="label-title" resourcekey="Action"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <select class="Action lst">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="IsRequired"></span>
                    </th>
                    <td>
                        <input type="checkbox" class="cx-control IsRequired chk " />
                        <span class="label-data " resourcekey="Yes"></span>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
