<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="CustomFildDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table CustomFild-info">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="FildName"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block FildName"></span>
                            <input class="cx-control FildName  txt   string  viewedit-display-none" maxlength=""
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="FildType"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block FildType"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                            <div class="viewedit-display-none">
                                <select class="FildType lst">
                                </select></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Validation"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block Validation"></span>
                            <div class="viewedit-display-none">
                                <select class="Validation lst">
                                </select></div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Action"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block Action"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                            <div class="viewedit-display-none">
                                <select class="Action lst">
                                </select></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="IsRequired"></span>
                        </th>
                        <td>
                        <span class="label-data nowrap viewedit-display-block IsRequired"></span>
                            <input type="checkbox" class="cx-control IsRequired chk  viewedit-display-none" />
                            <span class="label-data  viewedit-display-none" resourcekey="Yes"></span>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="2">
    <div class="display-none calendar">
        <ul>
            <li><a class="action-header-list ascending-img"></a></li>
            <li><a class="action-header-list descending-img"></a></li>
            <li>
                <label>
                    |</label></li>
            <li><a class="action-header-list view-list-img"></a></li>
            <li><a class="action-header-list view-box-img"></a></li>
        </ul>
    </div>
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Communication"></span><a href="#" class="add-new-link add-new-Communication">
            <span resourcekey="AddnewCommunication"></span></a>
        <div class="InsideSearch">
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="event-info">
            <div class="main-task">
            </div>
            <div class="sub-task">
            </div>
        </div>
        <div class="Tab-list">
            <ul class="Communication-tabs">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="3">
    <div class="display-none">
        <ul>
            <li><a class="action-header-list ascending-img"></a></li>
            <li><a class="action-header-list descending-img"></a></li>
            <li>
                <label>
                    |</label></li>
            <li><a class="action-header-list view-list-img"></a></li>
            <li><a class="action-header-list view-box-img"></a></li>
        </ul>
    </div>
    <div class="Tab-action-header">
        <span class="add-new-img add-new-note"></span><a href="#" class="add-new-link add-new-note">
            <span resourcekey="Addnewnote"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="note-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="4">
    <iframe src="" class="document-iframe" style="width: 100%;"></iframe>
</div>
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
