﻿<tr class="item-details-row">
    <td class="td-r1-data-table center-content">
        <span class="label-data RowNum nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data ItemNumber nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data ItemName nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data LocationName nowrap"></span>
    </td>
    <td class="td-r1-data-table center-content">
        <span class="label-data  ERPQuantity AvailableQTY  nowrap"></span>
    </td>
     <td class="td-r1-data-table center-content">
        <span class="label-data  AverageCost   nowrap"></span>
    </td>
</tr>
