<li class="Tablist Tablist-min-height">
    <div class="itemheader">
        <div class="Tab-divHolder">
            <div class="Tab-name">
                <span class="CountryName"></span><span class="TruncateCity"></span>
            </div>
            <div class="Tab-basics-info">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table noBorder">
                    <tr>
                        <th>
                            <span class="lbl-title">Street Address</span>
                        </th>
                        <td>
                            <span class="label-data TruncateStreetAddress nowrap"></span>
                        </td>
                        <th>
                            <span class="lbl-title">Postal Code/Zip</span>
                        </th>
                        <td>
                            <span class="label-data ZipCode nowrap"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="lbl-title">Type</span>
                        </th>
                        <td colspan="3">
                            <span class="label-data TruncateType nowrap"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="default-add">
            <a class="default-icon"></a>
        </div>
        <div class="Action-div">
            <ul>
                <li><span class="ActionEdit-link edit-tab-lnk"></span><a class="edit-tab-lnk">Edit </a>
                </li>
                <li><span class="ActionDelete-link delete-tab-lnk"></span><a class="delete-tab-lnk">
                    Delete </a></li>
                <li><span class="ActionSave-link save-tab-lnk"></span><a class="save-tab-lnk">Save </a>
                </li>
                <li><span class="ActionCancel-link cancel-tab-lnk"></span><a class="cancel-tab-lnk">
                    Cancel</a> </li>
            </ul>
        </div>
    </div>
    <div class="Tab-full-info">
        <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
            <tr>
                <th>
                    <span class="label-title">Country<span class="smblreqyuired viewedit-display-none">
                        *</span></span>
                </th>
                <td>
                    <span class="CountryName nowrap viewedit-display-block label-data"></span>
                    <div class="viewedit-display-none">
                        <select class="CountryName lst required">
                        </select>
                    </div>
                </td>
                <th>
                    <span class="label-title">Building Number/Name</span>
                </th>
                <td>
                    <span class="BuildingNumber nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control BuildingNumber txt viewedit-display-none" type="text" maxlength="100" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title">Office No./Floor</span>
                </th>
                <td>
                    <span class="OfficeNumber nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control OfficeNumber txt viewedit-display-none" type="text" maxlength="100" />
                </td>
                <th>
                    <span class="label-title">Street Address #1</span>
                </th>
                <td>
                    <span class="StreetAddress nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control StreetAddress txt viewedit-display-none" type="text" maxlength="100" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title">Street Address #2</span>
                </th>
                <td>
                    <span class="Floor nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control Floor txt viewedit-display-none" type="text" maxlength="100" />
                </td>
                <th>
                    <span class="label-title">City<span class="smblreqyuired viewedit-display-none"> *</span></span>
                </th>
                <td>
                    <span class="City nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control City txt viewedit-display-none required" type="text" maxlength="100" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title">County/State</span>
                </th>
                <td>
                    <span class="County nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control County txt viewedit-display-none" type="text" maxlength="100" />
                </td>
                <th>
                    <span class="label-title">Zip Code/Postcode</span>
                </th>
                <td>
                    <span class="ZipCode nowrap viewedit-display-block label-data"></span>
                    <input class="cx-control ZipCode txt viewedit-display-none" type="text" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title">Type<span class="smblreqyuired viewedit-display-none"> *</span></span>
                </th>
                <td>
                    <span class="Type nowrap nowrap viewedit-display-block label-data"></span>
                    <textarea class="cx-control Type txt viewedit-display-none required" maxlength="100"></textarea>
                </td>
            </tr>
        </table>
        <div class="historyUpdated">
        </div>
    </div>
</li>
