<li class="Tablist">
    <div class="itemheader">
        <div class="Tab-divHolder">
            <div class="Tab-name">
                <span class="PhoneType"></span>
            </div>
                 <div class="Tab-basics-info">
                <table border="0" cellpadding="0" cellspacing="0" class="tableDynamicWidth">
                    <tr>
                        <th>
                            <span class="lbl-title">Number</span>
                        </th>
                        <td>
                            <span class="label-data FullPhoneNumber phone"></span>
                        </td>
                        <th>
                            <span class="lbl-title">Description</span>
                        </th>
                        <td>
                            <span class="label-data phoneDescription"></span>
                        </td>
                    </tr>

                    </table>
            </div>
        </div>
        <div class="default-add">
            <a class="default-icon"></a>
        </div>
        <div class="Action-div">
            <ul>
                <li><span class="ActionEdit-link edit-tab-lnk"></span><a class="edit-tab-lnk">Edit </a>
                </li>
                <li><span class="ActionDelete-link delete-tab-lnk"></span><a class="delete-tab-lnk">
                    Delete </a> </li>
                <li><span class="ActionSave-link save-tab-lnk"></span><a class="save-tab-lnk">Save </a>
                </li>
                <li><span class="ActionCancel-link cancel-tab-lnk"></span><a class="cancel-tab-lnk">
                    Cancel</a> </li>
            </ul>
        </div>
    </div>
    <div class="Tab-full-info">
        <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
            <tr>
                <th>
                    <span class="label-title">Type </span>
                </th>
                <td>
                    <span class="PhoneType label-data viewedit-display-block label-title"></span><span
                        class="label-title PhoneTypeBlock">
                        <input class="PhoneType Mobile radio viewedit-display-none" type="radio" name="phone-type-group"
                            checked="checked" name="add-new-phone" /><span class="viewedit-display-none paddingRightLeft-10-5">Mobile</span>
                        
                        <input class="PhoneType LandLine radio viewedit-display-none" type="radio" name="phone-type-group"
                            name="add-new-phone" /><span class="viewedit-display-none paddingRightLeft-10-5">Land Line</span>
                        
                        <input class="PhoneType Skype radio viewedit-display-none" type="radio" name="phone-type-group"
                            name="add-new-phone" /><span class="viewedit-display-none paddingRightLeft-10-5">Skype</span>
                </td>

                <th>
                    <span class="label-title">Description <span class="smblreqyuired viewedit-display-none">
                        *</span></span>
                </th>
                <td rowspan="2">
                    <span class="Description nowrap viewedit-display-block label-data"></span>
                    <textarea class="cx-control Description txt viewedit-display-none required" maxlength="200"></textarea>
                </td>
               
            </tr>
            <tr>
             <th>
               <span class="label-title">Number </span>
                </th>
                <td>

                <table border="0" cellpadding="0" cellspacing="0" class="PhoneCodesTable viewedit-display-none">
                <tr>
                    <td><input class="cx-control CountryCode integer country-num txt viewedit-display-none" type="text"
                        maxlength="4" /> <br /> <span class="Country-Code">Country</span></td>
                    <td><input class="cx-control AreaCode integer city-num txt viewedit-display-none" type="text"
                        maxlength="6" /> <br /> <span class="Area-Code">Area</span></td>
                    <td><input class="cx-control phone-num integer txt PhoneNumber required viewedit-display-none"
                        type="text" maxlength="8" /> <br /> <span class="Phone-Code">Phone</span></td>
                </tr>
                </table>
                    <span class="FullPhoneNumber viewedit-display-block label-data phone"></span>
                </td>
            </tr>
            <tr>
                
            </tr>
         
        </table>
        <div class="historyUpdated"></div>
    </div>
</li>