﻿ /*  .validation
{
    padding:4px 10px;
    border-radius:5px;
    color:#fff;
    font:bold 11px tahoma;
    float:left;
    clear:both;
    
background: linear-gradient(to bottom,  rgba(235,47,58,1) 0%,rgba(163,22,29,1) 100%); 

    box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	box-shadow:  0 0px 3px 1px rgba(175, 175, 175, 0.4)\0/;
	-webkit-box-shadow: 0 0px 3px 1px rgba(68, 68, 68, 0.4);
	-moz-box-shadow:0 0px 3px 1px rgba(68, 68, 68, 0.4);

position:absolute;
behavior: url(PIE.htc);
margin-top:-49px;
margin-left:15px;
position:relative;
}*/

.validation {
padding: 4px 10px 3px;
color: red;
background-color: #ffd9d9;
border-right: solid 1px red;
font: bold 10px tahoma;
position: absolute;
top: 76px;
left: 7px;
z-index: 1;
}

.popup-div {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 3px solid #ccc;
    background-color: #D7E6A7;
    border-radius:15px;
    padding-right:23px;
}

.popup-txt-area 
{
    border-radius:15px;
}

.popup-btn
{
    border:none;
    background-color:#D7E6A7 !important;
}

span.ActionSaveTeam-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../../../Common/images/action-links-icons.png);
    background-position:center -40px;
    background-repeat:no-repeat;
}

span.ActionCancelTeam-link
{
    cursor:pointer;
    padding-left:17px !important;
    width:12px; height:14px;
    background-image:url(../../../Common/images/action-links-icons.png);
    background-position:center -19px;
    background-repeat:no-repeat;
}

span.ActionEditTeam-link{
    background-image:url(../../../Common/images/action-links-icons.png);
	background-repeat:no-repeat;
    background-position:center top;
	cursor:pointer;
    padding-left:17px !important;
	width:12px;
	height:14px;
}