﻿
@font-face {
  font-family: 'IDAutomationHC39M';
  src: url('IDAutomationHC39MCode39Barcode.eot'); /* IE9 Compat Modes */
  src: url('IDAutomationHC39MCode39Barcode.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('IDAutomationHC39MCode39Barcode.woff2') format('woff2'), /* Super Modern Browsers */
       url('IDAutomationHC39MCode39Barcode.woff') format('woff'), /* Pretty Modern Browsers */
       url('IDAutomationHC39MCode39Barcode.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('IDAutomationHC39MCode39Barcode.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.lnkReset{width:60px !important;}
.margin-left40{margin-left:45px;}

.debit-note-type{margin-left:46px;}
.prepayment-type{margin-left:26px;}

.Data-Table{width:50% !important;}

.hidden
{
    display:none;
}