﻿
/* new Membership Permissions*/

.StoreSync-info-container
{
    /*margin-left:1px;*/
	padding:4px 0.5% 8px;
	width:99%;
	border:solid 1px #BCBCBC;
	border-top:solid 2px #BCBCBC;
	border-radius:0px 10px 10px 0px;
	background-color:#eee;
	margin:0 auto;

	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	position:relative;
	behavior: url(PIE.htc);
}

.sites-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0.5%;
	max-width:25%;
	display:inline-block;
	vertical-align:top;
}

.register-filter-search{
	width:100%;
	display:block;
	margin:0 auto;
}

.sites-filter-searchbox{
	width:97% !important;
	padding:0.3em 1% !important;
	color:#8f8e8e;
}

.camera-filter-searchbox{
	width:25% !important;
	padding:0.3em 1% !important;
	color:#8f8e8e;
}

.camera-selectAll{
	margin-right:2.6%;
	margin-left:2%;
}

.stores-title{
	width:98%;
	margin:0 auto 1.5%;
	padding:1% 1%;
	background-color:#f7f7f7;
	border-bottom:solid 1px #ccc;
	border-top:solid 1px #ccc;
	text-align:center;
	vertical-align:middle;
}

.stores-title-span{
	color:#4f4f4f;
	font:bold 12px tahoma;
}

.sites-sitesName-container{
	margin:0 auto;
	width:100%;
	overflow:hidden;
	overflow-y:auto;
}

div.sitesName-result-block{
	width:94%;
	padding:0 3%;
	min-height:60px;
	border:solid 1px #dddddd;
	border-top:solid 2px #a3a3a3;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	-pie-background:linear-gradient(#ffffff, #ededed);
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	*box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	opacity: 0.7;
	position:relative;	
	behavior: url(PIE.htc);
}

div.sitesName-result-block:hover
{
	border-top:solid 2px #bcbcbc;
	opacity: 1;
	cursor:pointer;
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(left,  #d9d9d9 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d9d9d9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d9d9d9 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to right,  #d9d9d9 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 */
}




.Stores-list-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0.5%;
	width:53%;
	display:inline-block;
	vertical-align:top;
}

.Cameras-info-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0.5%;
	width:71%;
	height:485px;
	display:inline-block;
}

.Details-div .Action-div span{
	color:#fff;
	font:bold 12px tahoma;
}

.camera-access-AD{
	height:24px !important;
	padding:0 !important;
}

.camera-access-names{
	width:100%;
	overflow:hidden;
	overflow-y:auto;
}

.CA-cameraInfo{
	float:left;
	padding:1%;
	text-align:center;
	margin-top:1%;
}

.CA-cameraInfo:hover{
	background-color:#cadaaf;
	cursor:pointer;
}

.CA-img{
    background-image:url(../images/images-2.png);
	background-repeat:no-repeat;
	background-position:18px -1142px;
	display: block;
    height: 62px;
    width: 105px;
}

.CA-cameraInfo input[type=checkbox]{
	margin:8px 0px;
}

.CA-name{
	color:#4f4f4f;
	font:bold 11px tahoma;
	display:block;
	margin: 0 auto;
    width: 65px;
    word-wrap: break-word;
}

div.result-blockVisited {
	width:94%;
	padding:0 3%;
	border-top:solid 2px #bcbcbc;
	cursor:pointer;
	background: #e9e9e9; /* Old browsers */
	background: -moz-linear-gradient(left,  #e9e9e9 0%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e9e9e9), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e9e9e9 0%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to right,  #e9e9e9 0%,#d9d9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 */
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	*box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(175,175,175,0.3);
	opacity: 1;
	position:relative;	
	behavior: url(PIE.htc);
}

.reg-regName-container{
	margin:1% auto 0;
	width:100%;
	overflow:hidden;
	overflow-y:auto;
}

ul.reg-Result-list{
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;
}

ul.reg-Result-list li{
	padding-bottom:7px;
	display:inline-block;
	text-align:center;
	width:10%;
	padding-left:6px !important;
}

.reg-Result-list-div{
	width:92%;
	position:relative;
	background-color:#f7f7f7;
	padding:4%;
}

.regStatus{
	background-image:url(../Images/registersStatus.png);
	background-repeat:no-repeat;
	width:18px;
	height:16px;
	position:absolute;
	top:2%;
	left:2%;
	display:block;
}

.connected-img{ background-position:left center;}

.disconnected-img{ background-position:right center;}

.connected-reg{border:solid 1px #a3c476;}
.disconnected-reg{border:solid 1px #c83434;}

.reg-Result-list-div input[type=checkbox]{
	position:absolute;
	top:2%;
	right:2%;
}

.register-img{
    background-image: url("../Images/register.png");
    background-repeat: no-repeat;
    display: block;
    height: 88px;
    width: 77px;
	position:relative;
	top:5px;
	margin: 0 auto;
}

.reg-name{
	color:#4f4f4f;
	display:block;
	font:bold 11px tahoma;
	word-wrap: break-word;
}

.reg-ip{
	color:#4f4f4f;
	display:block;
	font:normal 11px tahoma;
	word-wrap: break-word;
}

.sync-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0 0 0.5%;
	width:44%;
	display:inline-block;
	vertical-align:top;
}

.sync-tabs{
	width:100%;
	height:30px;
	border-bottom:solid 3px #a3c476;
	background: rgb(139,139,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(139,139,139,1) 0%, rgba(164,164,164,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,139,139,1)), color-stop(100%,rgba(164,164,164,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(139,139,139,1) 0%,rgba(164,164,164,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#a4a4a4',GradientType=0 ); /* IE6-9 */
	box-shadow:0 3px 0 0 rgba(0,0,0,0.1);
}


/* lock page */

.LockPage{}

.LockPage-action-div
{
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 7px;
    padding: 7px 0.5%;
    width: 99%;
}


.lbl-title {
    color: #4F4F4F;
    font: bold 11px tahoma;
}


.LoginNotificationPannel{
	position:absolute;
	top:0;
	left:0;
	width:98%;
	padding:0.5% 1%;
	background-color: rgba(0,0,0,0.47);
	border-top:solid 1px #242424;
	border-bottom:solid 1px #242424;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);
}

.LoginNotificationPannel span.noti-title{
	color:#fff;
	font:normal 14px tahoma;
	float:left;
	padding:7px 0;
}

.X-btn{
	color:#fff;
	font:normal 14px tahoma;
	text-decoration:none;
	cursor:pointer;
	float:left;
	padding:7px 15px 7px 0;
}

.InstallGoogle{
	color:#fff;
	font:normal 14px tahoma;
	float:right;
	background-image:url(../images/chrome-icon.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding: 8px 0 7px 45px;
}



.QuickKey-selection{
	display:inline-block;
	width:15%;
	vertical-align:top;
}

.qk-span{
	font:bold 12px tahoma;
	color:#323232;
}

.ItemsContainer{
	display:inline-block;
	width:83%;
	height:100%;
	border-left:solid 1px #41413f;
}

.ItemsTabs{
	background: #666765;
	background: -moz-linear-gradient(top, #666765 0%, #40403e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666765), color-stop(100%,#40403e));
	background: -ms-linear-gradient(top, #666765 0%,#40403e 100%);
	width:100%;
	height:37px;
	border-bottom:solid 2px #41413f;
}

.AddNewTab{
	background-image:url(../images/newTab.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#a3bd5e;
	padding:19px 22px;
	float:left;
	cursor:pointer;
}

.ItemsTabs-ul{
	margin:0 0 0 1%;
	padding:0;
	list-style:none;
	display:inline-block;
}

.ItemsTabs-ul li{
	display:inline-block;
	position:relative;
}

.ItemsTabs-ul li div.ItemsTabs-div{
	color:#fff;
	padding:12px;
	font:normal 12px tahoma;
	cursor:pointer;
}

.TabArrow{
	background-image:url(../images/TabsArrow.png);
	background-repeat:no-repeat;
	width:12px;
	height:7px;
	display:inline-block;
	cursor:pointer;
}

.TabArrow.white{background-position:center top;}
.TabArrow.black{background-position:center bottom;}

.ItemsTabs-ul li div.ItemsTabs-div.selected{
	background-color:#a3bd5e;
	box-shadow:inset 0 4px 3px 0 rgba(0, 0, 0, 0.2);
	color:#000;
}

.ItemsTabs-ul li div.ItemsTabs-div:hover{
	background-color:#a3bd5e;
	box-shadow:inset 0 4px 3px 0 rgba(0, 0, 0, 0.2);
	color:#000;
}

.ItemsTabs-ul li div.ItemsTabs-div:hover .TabArrow.white{background-position:center bottom;}

.TabsMenu{
	background-color:white;
	border:solid 1px #bdbdbd;
	position:absolute;
	bottom: -57px;
	right: -48px;
	padding:0 !important;
	width:115%;
	z-index:10;
	display:none;
}

span.DeleteTab{
	background-image:url(../images/quick-menu-icons.png);
	background-position:4px 7px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #bdbdbd;
	display:block;
	color:#323232 !important;
	padding:11% 10% 11% 36%;
	font:normal 12px Tahoma;
	text-align:left;
}

span.DeleteTab:hover{
	text-decoration:underline;
	cursor:pointer;
}

span.RenameTab{
	background-image:url(../images/quick-menu-icons.png);
	background-position:4px -17px;
	background-repeat:no-repeat;
	display:block;
	color:#323232 !important;
	padding:11% 10% 11% 36%;
	font:normal 12px Tahoma;
	text-align:left;
}

span.RenameTab:hover{
	text-decoration:underline;
	cursor:pointer;
}


.TabsItemsContainer{
	width:100%;
	height:92%;
}

.TabsItemsContainer-ul{
	margin:0;
	padding:0;
	list-style:none;
}

.TabsItemsContainer-ul li{
	float:left;
	padding:1px;
}

.Item-div{
	width: 160px;
	height: 82px;	
	text-align:center;
	position:relative;
	border:none;
}

.Item-div span{	
	color:#000;
	font:normal 12px tahoma;
	display:block;
	width:80%;
	margin:0 auto;
	vertical-align:middle;
}

.colorsArrow{
	background-image:url(../images/colorsArrow.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgba(255,255,255,0.4);
	width:11px;
	height:8px;
	float:right;
	padding:4px;
	position: absolute;
	bottom: 10%;
	right: 6%;
	box-shadow:0 2px 1px 0 rgba(0,0,0,0.6);
	cursor:pointer;
}

.colorsArrow:hover{background-color:rgba(255,255,255,1);}
.colorsArrow.clicked{background-color:rgba(255,255,255,1);}

.colorsMenu{
	background-color:white;
	border:solid 1px #bdbdbd;
	position:absolute;
	bottom: -152px;
	right: -105px;
	width:82%;
	z-index:10;
}

.displayNone{ display:none;}

.colorsMenu-ul{
	margin:0;
	padding:0;
	list-style:none;
}

.colorsMenu-ul li{
	padding:2%;
}

a.itemColorsBlock { 
	border:solid 1px #bdbdbd;
	width:25px;
	height:25px;
	display:block;
	cursor:pointer;
}

.color1{background-color:#3674d2;}
.color2{background-color:#36d265;}
.color3{background-color:#d2c136;}
.color4{background-color:#c136d2;}
.color5{background-color:#00bbec;}
.color6{background-color:#d23636;}
.color7{background-color:#646563;}
.color8{background-color:#da8308;}
.color9{background-color:#f05bd6;}
.color10{background-color:#ffffff;}
.color11{background-color:#81b052;}
.color12{background-color:#393939;}
.color13{background-color:#2c5644;}

span.DeleteItem{
	background-image:url(../images/quick-menu-icons.png);
	background-position:4px 7px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #bdbdbd;
	display:block;
	color:#323232 !important;
	width:78% !important;
	padding:6% 0% 6% 22%;
	font:normal 12px Tahoma;
	text-align:left;
}

span.DeleteItem:hover{
	text-decoration:underline;
	cursor:pointer;
}

.QK-saveBtn
{
    padding:2px 10px;
    border-radius:3px;
    border:solid 1px #92ca19;
    color:#262626;
    font:normal 14px tahoma;
    background-color:#cbda63;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	position:relative;
    cursor:pointer;
    width:100%;
	margin-top:10%;
}

.testConnection{
               
   position:absolute;
   left: 35%;
   top: 35%;
   z-index: 1;
   display:none;
}
.reg-img-opacity{opacity:0.4;}


.erp-integration-link
{
 
    padding: 0px 10px 0px 0px !important;
    color: #95b660;
    font: bold 14px tahoma ;
    display: inline-block !important;
    width: auto !important;
    text-align: center !important;
}


.lnkReset-InvoiceInquiry
{
        width: 67px !important;
}

.NoDataFound-Inquiry {
    color: #333;
    font: bold 14px tahoma;
    margin-top: 5%;
    margin-left: 49%;
}