<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ERPSite.master.cs" Inherits="SagePOS.Common.Web.NewCommon.Common.MasterPage.ERPSite" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link rel="stylesheet" runat="server" id="MainStyle" type="text/css" />
    <link rel="stylesheet" runat="server" id="JQueryUIAllCSS" type="text/css" />
    <link rel="stylesheet" runat="server" id="JQueryUIDemo" type="text/css" />
    <link rel="stylesheet" runat="server" id="SpryTabbedPanels" type="text/css" />
    <link rel="stylesheet" runat="server" id="ERPStyle" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="../Images/favicon.ico">
    <script src="<%=ApplicationURL_Common %>Common/DataDictionary/DataDictionary-en.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common//DataDictionary/DataDictionary-ar.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery-1.8.0.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/ERPJS/MasterJS.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/ERPJS/systemconfiguraation.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/ERPJS/erp.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/SpryTabbedPanels.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.min.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/main.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery-ui.min.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.touch-punch.min.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/facescroll.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.draggable.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.datepicker.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/commonFunctions.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/AutoComplete.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.core.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.widget.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.button.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.position.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/jquery.ui.autocomplete.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/JScript/autoNumeric-1.7.5.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script src="<%=ApplicationURL_Common %>Common/centrixgrid/CentrixGrid.js?v=<%=Centrix_Version %>"
        type="text/javascript"></script>
    <script type="text/javascript">
        var ApplicationURL_Common = '<%=ApplicationURL_Common %>';
        var Centrix_Version = '<%=Centrix_Version %>';
        var UploadItemsErrorLogURL = '<%=UploadItemsErrorLogURL %>';  
    </script>
    <script type="text/javascript">
        $('.MenuNav-a').click(function () {
            $('.MenuNav-a').removeClass('SelectedNav');
            $(this).addClass('SelectedNav');
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (document.location.pathname.match(/[^\/]+$/)[0] == "DashBoard2.aspx") {
                $('.Header,.Top-Mid-section,.footer').hide();
            }
            $('body').click(function (e) {
                if (!$(e.target).is('.UserArrow')) {
                    $('.UserMenu').hide();
                }
                else {
                    $('.UserMenu').show();
                }
            });


        });
    </script>
    <title>Sage POS
        <%=ConfigurationManager.AppSettings["CentrixRelease"].ToString() %></title>
    <asp:ContentPlaceHolder ID="PageHeader" runat="server">
    </asp:ContentPlaceHolder>

    <link rel="stylesheet" runat="server" id="Autocomplete" type="text/css" />
</head>
<body>
    <form id="form1" name="f1" runat="server" autocomplete="off">
        <div class="Messaging-Box">
            <span>Please wait while Loading your Data</span>
        </div>
        <div class="loading">
            <div class="loadingicon">
                <img src="../../Common/Images/loading.gif" height="40" />
            </div>
            <div class="loadingtext">
                loading...
            </div>
        </div>
        <div id="fade" class="black_overlay">
        </div>
        <div class="white_content">
            <div class="confermitaion-msg-box">
                <div class="cmb-title">
                    <span>Delete record</span>
                </div>
                <div class="cmb-desc">
                    <span>Are you sure you want to delete this record ?!</span>
                </div>
                <div class="cmb-controls">
                    <input type="button" class="button2 confirm-button" />&nbsp;<input
                        type="button" class="button-cancel" />
                </div>
            </div>
        </div>

        <div class="white_content-dashboard">
            <div class="confermitaion-msg-box">
                <div class="cmb-dash-title">
                    <span>Delete record</span>
                </div>
                <div class="cmb-dash-desc">
                    <span>Are you sure you want to delete this record ?!</span>
                </div>
                <div class="cmb-dash-controls">
                    <input type="button" class="button2 confirm-button" />&nbsp;<input
                        type="button" class="button-cancel" />
                </div>
            </div>
        </div>
        <div class="Main-Div">
            <!--Header-->
            <div class="Header">
                <!--Logo-->
                <a href="<%= ApplicationURL_Common %>/POS/DashBoard/DashBoard2.aspx">
                    <div class="logo">
                        <div class="logo-img">
                        </div>
                    </div>
                </a>
                <!--End Logo-->
                <!--Menu-->
                <div class="MenuNav">
                    <ul class="MenuNav-ul">
                        <li class="ThirdMenuBorder"><a class="MenuNav-a" style="display: none" href="<%=ApplicationURL_Common %>/Common/Settings/Setup.aspx">
                            <span class="MenuImg Settings-MenuIcon" title="Setup"></span></a></li>
                        <asp:Repeater ID="rptNavMenu" runat="server">
                            <ItemTemplate>
                                <li class=""><a class="MenuNav-a" href="<%#DataBinder.Eval(Container, "DataItem.Link")%>">
                                    <span class="<%#DataBinder.Eval(Container, "DataItem.Css") %> MenuImg MenuNav-a-title"></span><span class="MenuNav-a-title"><%# (Lang.ToString() == "ar") ? DataBinder.Eval(Container, "DataItem.NameArabic") : DataBinder.Eval(Container, "DataItem.NameEnglish")%></span>
                                </a></li>
                            </ItemTemplate>
                        </asp:Repeater>
                        <%-- SelectedNav --%>
                        <li class="MoreList"><a class="MenuNav-a"><span class="MenuImg More-MenuIcon"></span>
                        </a>
                            <div class="MoreListMenu">
                                <ul class="MoreListMenu-ul">
                                    <asp:Repeater ID="rptHiddenNavMenu" runat="server">
                                        <ItemTemplate>
                                            <li class=""><a class="MenuNav-a" href="<%#DataBinder.Eval(Container, "DataItem.Link")%>">
                                                <span class="<%#DataBinder.Eval(Container, "DataItem.Css") %> MenuImg MenuNav-a-title"></span><span class="MenuNav-a-title"><%# (Lang.ToString() == "ar") ? DataBinder.Eval(Container, "DataItem.NameArabic") : DataBinder.Eval(Container, "DataItem.NameEnglish")%></span>
                                            </a></li>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End Menu-->
                <!--login-->
                <div class="login-info">
                    <!--User-->
                    <div class="User">
                        <asp:HyperLink ID="lblUserName" runat="server" CssClass="user-name"></asp:HyperLink>
                        <a class="UserArrow"></a>
                        <div class="UserMenu">
                            <ul class="UserMenu-ul">
                                <li><a class="UserMenuLink language" href="javascript:void(0);"><span resourcekey="Language"></span></a></li>
                                <li>
                                    <asp:HyperLink ID="lblLogout" class="UserMenuLink" runat="server" meta:resourcekey="lblLogout">Logout</asp:HyperLink></li>
                            </ul>
                        </div>
                    </div>
                    <!--End User-->
                </div>
                <!--End login-->
                <!--notif-->
                <div class="NotificationMenu" style="display: none">
                    <span class="NotificationNumber notif-num"></span><span class="NotificationIcon task-img"></span>
                    <ul>
                        <li>
                            <div class="notification-list-div">
                                <div class="noti-all-header">
                                    <span class="noti-total">Total of 0</span>
                                    <div class="snooze-div snooze-all-option">
                                        <select class="snooze-select snooze-select-all snooze-option">
                                            <option value="5" ttype="m">5 min</option>
                                            <option value="10" ttype="m">10 min</option>
                                            <option value="15" ttype="m">15 min</option>
                                            <option value="1" ttype="h">1 hour</option>
                                            <option value="4" ttype="h">4 hour</option>
                                            <option value="1" ttype="d">1 day</option>
                                            <option value="2" ttype="d">2 days</option>
                                            <option value="3" ttype="d">3 days</option>
                                            <option value="1" ttype="w">1 week</option>
                                        </select>
                                        <a href="javascript:void(0)" class="noti-all-cancel noti-all-cancel-action" resourcekey="Cancel"></a>
                                        <a href="javascript:void(0)" class="noti-all-save noti-all-save-action" resourcekey="Save"></a>
                                    </div>
                                    <a href="javascript:void(0)" class="noti-snooze-all noti-all-option" resourcekey="SnoozeAll"></a>
                                    <a href="javascript:void(0)" class="noti-dismiss-all noti-all-option" resourcekey="DismissAll"></a>
                                </div>
                                <div class="noti-list">
                                    <ul>
                                        <li class="old display-none notification-template"><a class="noti-subject link-noti"></a><a href="javascript:void(0)" class="noti-dismiss link-noti" resourcekey="Dismiss"></a>
                                            <div class="snooze-div">
                                                <select class="snooze-select snooze-option">
                                                    <option value="5" ttype="m">5 min</option>
                                                    <option value="10" ttype="m">10 min</option>
                                                    <option value="15" ttype="m">15 min</option>
                                                    <option value="1" ttype="h">1 hour</option>
                                                    <option value="4" ttype="h">4 hour</option>
                                                    <option value="1" ttype="d">1 day</option>
                                                    <option value="2" ttype="d">2 days</option>
                                                    <option value="3" ttype="d">3 days</option>
                                                    <option value="1" ttype="w">1 week</option>
                                                </select><br />
                                                <a href="javascript:void(0)" class="noti-cancel snooze-option link-noti" resourcekey="Cancel"></a><a
                                                    href="javascript:void(0)" class="noti-save snooze-option link-noti" resourcekey="Save"></a>
                                            </div>
                                            <a href="javascript:void(0)" class="noti-snooze link-noti" resourcekey="Snooze"></a><span class="noti-desc"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End notif-->
                <!--End Header-->
            </div>
            <!--Page container-->
            <div class="Page-container">
                <!--Page body-->
                <div class="Page-body">
                    <!--Left side-->
                    <div class="Left-side">
                    </div>
                    <!--End Left side-->
                    <!--Right side-->
                    <div class="Mid-section">
                        <div class="Top-Mid-section">
                            <div class="TMS-left">
                                <div class="page-title-div">
                                    <a class="page-title-lnk"><span class="page-title"></span></a>
                                </div>
                            </div>
                            <div class="TMS-right">
                                <div class="TMS-right-content">
                                    <label class="add-entity-button display-none">
                                        <a class="add-entity-button"><span class="addicon"></span><span class="addlabel"></span>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--White-->
                        <div class="white-container" style="height: 242px;">
                            <div class="white-container-data">
                                <asp:ContentPlaceHolder ID="PageBody" runat="server">
                                </asp:ContentPlaceHolder>
                                <div class="pnl-optional-fields-details"></div>
                            </div>
                        </div>
                        <!--End White-->
                    </div>
                    <!--End Right side-->
                </div>
                <!--End Page body-->
            </div>
            <!--End Page container-->
            <!--footer-->
            <div class="footer">
                <asp:Label ID="lblFooter" runat="server" meta:resourcekey="lblFooter"></asp:Label>
            </div>
            <!--End foote-->
        </div>
    </form>
</body>
</html>
