<div>
    <div>
        <span class="barCode" style="font-size: 18px;"></span>
        
    </div>
    <div>
        <span class="price" style="font-size: medium;" ></span>
        <span resourcekey="JD"></span>
    </div>
</div>
