﻿

.stores-title-span{
	color:#4f4f4f;
	font:bold 12px tahoma;
}

.sites-sitesName-container{
	margin:0 auto;
	width:100%;
	overflow:hidden;
	overflow-y:auto;
}

.StoreSync-info-container
{
    /*margin-left:1px;*/
	padding:4px 0.5% 8px;
	width:99%;
	border:solid 1px #BCBCBC;
	border-top:solid 2px #BCBCBC;
	border-radius:0px 10px 10px 0px;
	background-color:#eee;
	margin:0 auto;

	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.3);
	position:relative;
	behavior: url(PIE.htc);
}

.sites-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0.5%;
	max-width:25%;
	display:inline-block;
	vertical-align:top;
}

.register-filter-search{
	width:100%;
	display:block;
	margin:0 auto;
}

.sites-filter-searchbox{
	width:97% !important;
	padding:0.3em 1% !important;
	color:#8f8e8e;
}

.camera-filter-searchbox{
	width:25% !important;
	padding:0.3em 1% !important;
	color:#8f8e8e;
}

.camera-selectAll{
	margin-right:2.6%;
	margin-left:2%;
}

.registerSearch{
	float:right;
	position:relative;
	padding:5px;
}

.syncAdminDataList{display:none;}
.connected-img{ background-position:left center;}
.disconnected-img{ background-position:right center;}



.reg-Result-list-div input[type=checkbox]{
	position:absolute;
	top:2%;
	right:2%;
}

ul.reg-Result-list li{
	padding-bottom:7px;
	display:inline-block;
	text-align:center;
	width:15%;
}

.reg-Result-list-div{
	width:92%;
	position:relative;
	background-color:#f7f7f7;
	padding:3%;
}




.Stores-list-container{
	background-color:#fff;
	border:solid 1px #ddd;
	padding:0.5%;
	width:53%;
	display:inline-block;
	vertical-align:top;
}

.searchIcon{
	background-color:white;
	background-image: url(../../Images/searchIcon.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 5px;
	position: absolute;
	right: 8px;
	cursor:pointer;
	top:6px;
}



.stores-title{
	width:98%;
	margin:0 auto 1.5%;
	padding:1% 1%;
	background-color:#f7f7f7;
	border-bottom:solid 1px #ccc;
	border-top:solid 1px #ccc;
	text-align:left;
	vertical-align:middle;
}

.sync-container {
background-color: #fff;
border: solid 1px #ddd;
padding: 0 0 0.5%;
width: 44% !important;
display: inline-block;
vertical-align: top;
height:667px;
overflow-y:scroll;
}

.control-content-sync-list li span{
	color:#4f4f4f;
	font:bold 11px tahoma;
	padding-left:10px;
}

.sync-row1{
	background-color:#eee;
}

.sync-row2{
	background-color:#fff;
}



.sync-tabs UL{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
	height:30px;
	overflow:hidden;
}

.sync-tabs UL Li{
	display: inline-block;
    height: 12px;
    padding: 9px 0;
    text-align: left;
    width: 30%;
}

.sync-tabs UL Li.oneTab{
    width: 100%;
}

.sync-tabs UL Li:hover{
	cursor:pointer;
}

.sync-tabs UL Li.SelectedTab{
	background-color:#a3c476;
	box-shadow:0px 0 5px 2px rgba(0, 0, 0, 0.2);
}

  
.sync-tabs UL Li span{
	color:#fff;
	font:bold 12px tahoma;
	padding:12px;
}

.sync-tabs UL Li input[type=checkbox]{
	float:left;
	position:relative;
	left:11px;
}

.control-content-sync-list li{
	padding:0.5% 1%; width:98%;
}

.show-full-details
{
	padding: 2px 10px;
	border-radius: 3px;
	border: solid 1px #92ca19;
	color: #262626;
	font: normal 11px tahoma;
	background-color: #cbda63;
	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	cursor: pointer;
	width: 20%;
	display:block;
	margin:10px auto 0;
}

.sync-result-table th
{
	background-color: #a3c476;
	color: #fff;
	font: bold 11px tahoma;
	padding: 1% 5%;
	border-bottom: solid 2px #fff;
}

.sync-result-table td
{
	background-color: #eee;
	color: #323232;
	padding: 1% 5%;
	font: normal 11px tahoma;
	border-bottom: solid 1px #ddd;
	border-top:solid 1px #fff;
}
.show-full-details  , .Close
{
	cursor:pointer;
}



.sync-result-table
{
	width:100%;
}
.syncBtn
{
position: absolute;
right: 5%;
bottom: 8%;
}

.sync-progress-div
{
	display:none;
	position:fixed;
	width:600px;
	top:25%;
	left:30%;
	background-color:#fff;
	box-shadow:0 5px 4px 0 rgba(0,0,0,0.3);
	text-align:center;
	padding:1% 2%;
	overflow-y: auto;
	height: 300px;
	z-index: 1020;
}

.Sync-pnl 
{
      display: inline-block;
  height: 12px;
  padding: 9px 0;
  text-align: left;
  width: 19%;
    }


.sync-action-Div UL Li.Sync-pnl
{   margin  :0;
	padding:5px;
	list-style-type:none;
	width:100%;
	height:20px;
	overflow:hidden;
    background-color:Gray;
    text-align:right;
    vertical-align:middle;
    
}

.sync-action-Div UL Li span,a
{
    color:#fff;
	font:bold 12px tahoma;
	padding:12px;
	cursor: pointer;
	
}
  
input[type=text] 
{   padding: 0.4em 3px !important;
}

.Close
{
	padding: 2px 10px;
	border-radius: 3px;
	border: solid 1px #92ca19;
	color: #262626;
	font: normal 11px tahoma;
	background-color: #cbda63;
	box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.3)\9;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	cursor: pointer;
	width: 20%;
	display:block;
	margin:10px auto 0;
}


.cmb-desc 
{
    height: 200px;
  overflow-y: scroll;
}

.white_content_sync{
display: none;
position: fixed;
top: 40%;
left: 35%;
z-index:1002;
}

.confermitaion-msg-box_sync
{
    min-width:45%;
    position:fixed;
    background-color:#fff;
    z-index:888;
    box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	box-shadow:  0px 3px 5px 0px rgba(175,175,175,0.3)\0/;
	*box-shadow: 0px 3px 5px 0px rgba(175,175,175,0.2);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(68,68,68,0.2);
}