<div class="Add-new-form">
    <div class="Add-title">
        <span resourcekey="OptionalFields"></span><span class='ClickToShowHide hidden' >&#9660;</span>
    </div>
    <div class="optional-field-table" style= 'display:none;'>
    <table border="0" cellpadding="0" cellspacing="0" class="Data-Table optional-field">
        <tr>
            <th>
                <span class="label-title" resourcekey="OptionalField"></span>
            </th>
            <td>
                <div>
                    <select class="OptionalField lst">
                    </select></div>
            </td>
            <th>
                <span class="label-title" resourcekey="OptionalFieldDetails"></span>
            </th>
            <td>
                <div>
                    <select class="OptionalFieldDetails lst">
                    </select></div>
            </td>
        </tr>
        <tr>
            <th>
                <span class="label-title" resourcekey="OptionalField"></span>
            </th>
            <td>
                <div>
                    <select class="OptionalField2 lst">
                    </select></div>
            </td>
            <th>
                <span class="label-title" resourcekey="OptionalFieldDetails"></span>
            </th>
            <td>
                <div>
                    <select class="OptionalFieldDetails2 lst">
                    </select></div>
            </td>
        </tr>
    </table>
    </div>
    <!-- <div class="optional-field-tab">
    <table cellpadding="0" cellspacing="1" class=" data-table">
        <tr>
            <th class="th-data-table th-number">
                <span class="label-title">#</span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalField"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDescription"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDetails"></span>
            </th>
            <th class="th-data-table">
                <span class="label-title" resourcekey="OptionalFieldDetailsDescription"></span>
            </th>
        </tr>
    </table>
    <div class="display-none">
        <div id="h-optional-field-template">
            <table width="100%" border="0" cellpadding="0" cellspacing="1" class="optional-fields-grid data-table">
                <tr class="display-none">
                </tr>
            </table>
        </div>
    </div>
    <div id="optional-field-items-grid">
    </div>-->
</div>
