﻿<div class="Add-title">
    <span resourcekey="AddGiftVoucher"></span>
    <div class="Action-div">
        <ul>
            <li><span class="ActionSave-link"></span><a class="ActionSave-link save-title"><span
                resourcekey="Save"></span></a></li>
            <li><span class="ActionCancel-link"></span><a class="ActionCancel-link save-title"><span
                resourcekey="Cancel"></span></a></li>
        </ul>
    </div>
</div>
<div class="FormScroll-Div">
    <div class="Add-new-form">
        <fieldset class="Data-Fieldset">
            <table border="0" cellpadding="0" cellspacing="0" class="Data-Table3col add-GiftVoucher-info">
                <tr>
                    <th>
                        <span class="label-title" resourcekey="GiftNumber"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control GiftNumber  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="GiftName"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control GiftName  txt required   string " maxlength="100" minlength="3"
                            type="text" />
                    </td>
                    <th>
                        <span class="label-title" resourcekey="GiftAmount"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <input class="cx-control GiftAmount  txt required numeric " maxlength="" minlength="3"
                            type="text" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="label-title" resourcekey="ExpireDate"></span><span class="smblreqyuired viewedit-display-none">
                            *</span>
                    </th>
                    <td>
                        <div class="">
                            <input class="cx-control ExpireDate date required" type="text" />
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
