﻿            <div class="gridContainerDiv">
                    
                           
                                   
                                    <div class="display-none">
                                        <div id="h-template">
                                           
                                                <table width="100%" border="0" cellpadding="0" cellspacing="1" class="CloseRegisterResults-table data-table details-grid">
                                        <tr class="head" id="-2">
                                          <th class="th-data-table td-number">
                                                <span class="table-header-1" resourcekey="">#</span>
                                            </th>
                                            <th class="th-data-table td-number">
                                                <span class="table-header-1" resourcekey="StoreName"></span>
                                            </th>
                                            <th class="th-data-table td-number">
                                                <span class="table-header-2" resourcekey="OpenedDate"></span>
                                            </th>
                                            <th class="th-data-table">
                                                <span class="table-header-3" resourcekey="CalClosedDate"></span>
                                            </th>
                                            <th class="th-data-table">
                                                <span class="table-header-4" resourcekey="OpenedCashLoan"></span>
                                            </th>
                                              <th class="th-data-table">
                                                <span class="table-header-4" resourcekey="TotalPrice"></span>
                                            </th>
                                            <th class="th-data-table ">
                                                <span class="table-header-5" resourcekey="IsIdentical"></span>                       
                                            </th>
                                             <th class="th-data-table ">
                                                <span class="table-header-5" resourcekey="DifferenceAmount"></span>                       
                                            </th>
                                          
                                           
                                        </tr>
                                     <tr class="footer-row">
                            </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="items-grid">
                                    </div>           
                                       
                     
                    </div>
