<li class="Tablist">
    <div class="itemheader">
        <div class="Tab-divHolder">
            <div class="Tab-name">
                 <span class="EmailAddress"></span></a>
            </div>
            <div class="Tab-basics-info">
                <span class=""></span>
                <table border="0" cellpadding="0" cellspacing="0" class="tableDynamicWidth">
                    <tr>
                        <th class="Emailbusiness">
                            <span class="lbl-title" resourcekey="Type"></span>
                        </th>
                        <td class="Emailbusiness">
                            <span class="label-data EmailType"></span>
                        </td>
                        <th>
                            <span class="lbl-title" resourcekey="EmailAddress"></span>
                        </th>
                        <td>
                            <a class="email-to lnkLabel" href="" target="_top"><span class="label-data lnkLabel EmailAddress">
                            </span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="default-add">
            <a class="default-icon"></a>
        </div>
        <div class="Action-div tab-action-div">
            <ul>
                <li><span class="ActionEdit-link edit-tab-lnk"></span><a class="edit-tab-lnk"><span
                    resourcekey="Edit"></span></a></li>
                <li><span class="ActionDelete-link delete-tab-lnk"></span><a class="delete-tab-lnk">
                    <span resourcekey="Delete"></span></a></li>
                <li><span class="ActionSave-link save-tab-lnk"></span><a class="save-tab-lnk"><span
                    resourcekey="Save"></span></a></li>
                <li><span class="ActionCancel-link cancel-tab-lnk"></span><a class="cancel-tab-lnk">
                    <span resourcekey="Cancel"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="Tab-full-info">
        <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
            <tr>
                <th>
                    <span class="label-title" resourcekey="Type"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <span class="label-data nowrap viewedit-display-block EmailType"></span>
                    <div class="viewedit-display-none">
                        <select class="EmailType lst">
                        </select>
                    </div>
                    <!-- <span class="EmailType label-data viewedit-display-block "></span>
                    <span class="label-title EmailTypeBlock">
                        <input class="EmailType Business radio viewedit-display-none" type="radio" name="email-type-group"
                            checked="checked" name="add-new-email" /><span class="viewedit-display-none paddingRightLeft-10-5" resourcekey="Business"></span>
                        
                        <input class="EmailType Personal radio viewedit-display-none" type="radio" name="email-type-group"
                            name="add-new-email" /><span class="viewedit-display-none paddingRightLeft-10-5" resourcekey="Personal"></span>
                        </span>-->
                </td>
                <th>
                    <span class="label-title" resourcekey="EmailAddress"></span><span class="smblreqyuired viewedit-display-none">
                        *</span>
                </th>
                <td>
                    <a class="nowrap EmailAddress viewedit-display-block label-data email-to lnkLabel"
                        href="" target="_top"></a>
                    <input class="cx-control EmailAddress required txt email viewedit-display-none" type="text"
                        maxlength="60" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="label-title" resourcekey="IsDefult"></span>
                </th>
                <td>
                    <span class="label-data viewedit-display-block IsDefult"></span>
                    <input type="checkbox" class="IsDefult viewedit-display-none" />
                </td>
            </tr>
        </table>
        <div class="historyUpdated">
        </div>
    </div>
</li>
