<div>
<span class="detail-sub-title" resourcekey="HistoryUpdated">History Updated</span>
<table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
    <tr>
        <th>
            <span class="label-title " resourcekey="CreatedDate"></span>
        </th>
        <td>
            <span class="label-data date-time CreatedDate Crearted_Date"></span>
        </td>
        <th>
            <span class="label-title" resourcekey="CreatedBy"></span>
        </th>
        <td>
            <span class="label-data nowrap CreatedBy CreatedByName "></span>
        </td>
    </tr>
    <tr class="UpdatingHistory">
        <th>
            <span class="label-title " resourcekey="LastUpdatedDate"></span>
        </th>
        <td>
            <span class="label-data date-time UpdatedDate Updated_Date"></span>
        </td>
        <th>
            <span class="label-title" resourcekey="LastUpdatedBy"></span>
        </th>
        <td>
            <span class="label-data nowrap UpdatedBy UpdatedByName"></span>
        </td>
    </tr>
</table>
</div>