﻿

@font-face {
  font-family: 'IDAutomationHC39M';
  src: url('IDAutomationHC39MCode39Barcode.eot'); /* IE9 Compat Modes */
  src: url('IDAutomationHC39MCode39Barcode.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('IDAutomationHC39MCode39Barcode.woff2') format('woff2'), /* Super Modern Browsers */
       url('IDAutomationHC39MCode39Barcode.woff') format('woff'), /* Pretty Modern Browsers */
       url('IDAutomationHC39MCode39Barcode.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('IDAutomationHC39MCode39Barcode.svg#svgFontName') format('svg'); /* Legacy iOS */
}
 html, body, form  
        {  
            margin: 0;  
            padding: 0;  
            height: 100%;  
            overflow: hidden;  
            font-family: Verdana, Tahoma, Arial;  
            font-size: small;  
        } 
   .spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 150px; /* width of the spinner gif */
	height: 62px; /*height of the spinner gif +2px to fix IE8 issue */
	background-color:#E1E1D7; 
	border:1px solid black;
}

.HighlightDiv img{
background-color: transparent; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px; 
border-top-color: transparent; 
border-right-color: transparent; 
border-bottom-color: transparent; 
border-left-color: transparent; 
border-top-style: solid; 
border-right-style: solid; 
border-bottom-style: solid; 
border-left-style: solid; 
cursor: default; 
}

.HighlightDiv:hover img{
background-color: #DDEEF7; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px; 
border-top-color: #336699; 
border-right-color: #336699; 
border-bottom-color: #336699; 
border-left-color: #336699; 
border-top-style: solid; 
border-right-style: solid; 
border-bottom-style: solid; 
border-left-style: solid; 
cursor:pointer; 
}