﻿.miniData-Table th, .Data-Table th{text-align:left !important;}
.icon
{
	background-image: url("../../../Common/images/menu-imgs.png");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 16px;
    margin-left: 20px;
    padding-right: 5px;
    width: 16px;
     border: none !important;
       
}
.Company-icon{ background-position: left top;}
.Person-icon{background-position: left -30px;}
.ClientCare-icon{background-position: left -210px;}
.Opportunity-icon{ background-position: left -150px;}
.Quotation-icon{background-position: left -261px;}
.Contracts-icon{background-position: left -292px;}
.SPICWorkOrders-icon{ background-position: left -324px;}
.sites-icon{ background-position: left -594px;}
.label-title:hover {
text-decoration: underline !important;
}

.transaction-icon{ background-position:left -809px;}
.bank-recon-icon{ background-position:left -833px;}