.Menu a{font:bold 10px tahoma !important;}
.posted-batch{color:#5e9605;font-weight:bold;}


/*Added By Ruba Al-Sa'di*/
.ButtonDiv {
    width: 86px;
    height: 14px;
    float: left;
    border-radius: 5px;
    padding: 4px;
    background-color: gainsboro;
    margin-left: 3px;
    font-weight: bold;
    color: #4f4f4f;
    cursor: pointer;
}
.ButtonDiv:hover {
    background-color: dimgrey;
    color: White;
}
.ClickToShowHide
{
    font-size: 12px !important;
    cursor:pointer;
    font-weight:bold;
    padding-left:3px !important;
}
.add-optional-field{cursor:pointer;}

.entry-details-div .th-data-table{width:12.5% !important;}
.entry-details-div .th-entry-number{width:3% !important;}
.entry-details-div .th-currency{width:8% !important;}
.entry-details-div .th-optional-field{width:8% !important;}