@charset "utf-8";
/* CSS Document */

body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	/*background:url(../images/chiffon_BG.png) ;*/
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
	}
#helpPageBG { background:none;}	
p { text-align:justify;}	
	
#pageContainerInner {
	width:auto;
	/*height:auto;*/
	height:100%;
	padding:12px;
	text-align:left;
	background:url(../images/chiffon_BG.png) ;
	/*text-align:center;*/
	}

/*.ModulesBlock {
	display:inline-block;
	background:#FFF;
	text-align:center;
	min-width:25%;
	height:auto;
	padding:0.5%;
	border:#BAD540 1px solid;
	border-radius:25px;
	margin:50px 0.5% 0.5% 0.5% ;
	}*/
	.ModulesBlock {
    display: inline-block;
    background: #FFF;
    text-align: left;
    width: 47%;
    height: 25%;
    min-height:170px;
    padding: 0.5%;
    border: #BAD540 1px solid;
    border-radius: 25px;
    margin: 50px 0.5% 0.5% 0.5%;
}

.ModulesBlock:hover {
	border:#A9C171 1px solid;
	}

.iconBlock {
	display:inline-block;
	margin:-55px auto 0px auto;
	padding:5px;
	border-right:#CCC 0px solid;
	-webkit-transition: all .2s; /* Safari */
    transition: all .2s;
	}
.ModulesBlock:hover .iconBlock{
	/*padding:0px 5px 10px 5px;*/
	}	
.ModulesBlock h2 {
	font-size:20px;
	margin:0px 5px 10px 5px ;
}
.BtnsBox {
	display:block;
	float:none;
	height:auto;
	/*min-height:110px;*/
	}
.BtnContainer {
	position:relative;
	display: inline-block;
	border:#EBEBEB 1px solid;
	-webkit-transition: all .2s; /* Safari */
	border-radius:22px;
    transition: all .2s;
	padding:4px 20px 0px 6px;
	margin:0 0 4px 0;
	
	}
.BtnContainer:hover {
	background:#e8ecc5;
	color:#000;
	border:#EBEBEB 1px solid;
	}

a:link.mod , a:visited.mod , a:active.mod  {
	display:block;
	color:#999;
	padding:2px 7px ;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
	margin:0 1px 4px 0;
	-webkit-transition: all .2s; /* Safari */
    transition: all .2s;
	}
a:hover.mod  {
	color:#000;
	}
a:link.help {
	position:absolute;
	display:inline-block;
	visibility:visible;
	height:16px;
	width:16px;
	background:url(../images/favicon.png);
	
	opacity:.0;
	right:5px;
	top:20px;
	-webkit-transition: all .2s; /* Safari */
    transition: all .2s;
}
.BtnContainer:hover a:link.help {
	visibility:visible;
	opacity:1.0;
	right:5px;
	top:5px;
}
/*************************************************/
			@media all {
				.lightbox { display: none; }
				.fl-page h1,
				.fl-page h3,
				.fl-page h4 {
					font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
					font-weight: 100;
					letter-spacing: 1px;
				}
				.fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
				.fl-page h1 i { font-style: normal; color: #ddd; }
				.fl-page h1 span { font-size: 30px; color: #333;}
				.fl-page h3 { text-align: right; }
				.fl-page h3 { font-size: 15px; }
				.fl-page h4 { font-size: 2em; }
				.fl-page .jumbotron { margin-top: 2em; }
				.fl-page .doc { margin: 2em 0;}
				.fl-page .btn-download { float: right; }
				.fl-page .btn-default { vertical-align: bottom; }

				.fl-page .btn-lg span { font-size: 0.7em; }
				.fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
				.fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
				.fl-page .github { margin: 2em 0; }
				.fl-page .github a { vertical-align: top; }
				.fl-page .marketing a { color: #999; }

				/* override default feather style... */
				.fixwidth {
					background: rgba(256,256,256, 0.8);
				}
				.fixwidth .featherlight-content {
					width: 500px;
					padding: 25px;
					color: #fff;
					background: #111;
				}
				.fixwidth .featherlight-close {
					color: #fff;
					background: #333;
				}

			}
			@media(max-width: 768px){
				.fl-page h1 span { display: block; }
				.fl-page .btn-download { float: none; margin-bottom: 1em; }
			}
/*************************************************/

footer {
	position:fixed;
	display:block;
	bottom:0;
	left:0;
	background:url(../images/footer.png) center repeat-x;
	width:100%;
	height:18px;
	padding:7px 0;
	color:#FFF;
	text-align:center;
	font-size:12px;
	} 
