<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());
        $('.document-iframe').height($('.TabbedPanels').height());
        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="CompanyDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
                
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Company-info">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="CompanyNameEnglish"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block CompanyNameEnglish nowrap"></span>
                            <input class="cx-control CompanyNameEnglish  txt required   string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="CompanyNameArabic"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td class="display-none">
                            <span class="label-data viewedit-display-block CompanyNameArabic nowrap"></span>
                            <input class="cx-control CompanyNameArabic  txt    string viewedit-display-none"
                                maxlength="100" minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Website"></span>
                            <!-- <span class="label-data  viewedit-display-none" resourcekey="Http"></span>-->
                        </th>
                        <td>
                            <a class="label-data nowrap Website-link lnkLabel" target="_blank"><span class="label-data viewedit-display-block Website nowrap lnkLabel">
                            </span></a>
                            <input class="cx-control Website  txt    string viewedit-display-none" maxlength="100"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="ContactType"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block CompanyTypeList"></span>
                            <div class="viewedit-display-none">
                                <select class="CompanyType lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Status"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block Status"></span>
                            <div class="viewedit-display-none">
                                <select class="Status lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <span class="label-title" resourcekey="DecisionMaker"></span>
                        </th>
                        <td class="">
                            <a class="label-data nowrap DecisionMaker-link lnkLabel"><span class="label-data lnkLabel viewedit-display-block DecisionMaker">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="DecisionMaker  lst">
                                </select>
                            </div>
                        </td>
                        <th class=" ">
                            <span class="label-title" resourcekey="SalesManAccountManager"></span>
                        </th>
                        <td class=" ">
                            <a class="label-data nowrap SalesManAccountManager-link lnkLabel"><span class="label-data lnkLabel viewedit-display-block SalesManAccountManager">
                            </a></span>
                            <div class="viewedit-display-none">
                                <select class="SalesManAccountManager  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none ">
                            <span class="label-title" resourcekey="Abbreviation"></span>
                        </th>
                        <td class="display-none ">
                            <span class="label-data viewedit-display-block Abbreviation nowrap"></span>
                            <input class="cx-control Abbreviation  txt    string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th class="display-none ">
                            <span class="label-title" resourcekey="RegistrationNumber"></span>
                        </th>
                        <td class="display-none ">
                            <span class="label-data viewedit-display-block RegistrationNumber nowrap"></span>
                            <input class="cx-control RegistrationNumber  txt    string viewedit-display-none"
                                maxlength="60" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class=" ">
                            <span class="label-title" resourcekey="Segment"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td class=" ">
                            <span class="label-data nowrap viewedit-display-block Segment"></span>
                            <div class="viewedit-display-none">
                                <select class="Segment lst">
                                </select>
                            </div>
                        </td>
                        <th class="">
                            <span class="label-title" resourcekey="YearlyRevenue"></span>
                        </th>
                        <td class="">
                            <span class="label-data nowrap viewedit-display-block YearlyRevenue"></span>
                            <div class="viewedit-display-none">
                                <select class="YearlyRevenue lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class=" ">
                            <span class="label-title" resourcekey="EmployeeNumber"></span>
                        </th>
                        <td class=" ">
                            <span class="label-data nowrap viewedit-display-block EmployeeNumber"></span>
                            <div class="viewedit-display-none">
                                <select class="EmployeeNumber lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="CountryOfOrigion"></span>
                        </th>
                        <td>
                            <span class="label-data  nowrap viewedit-display-block CountryOfOrigion"></span>
                            <div class="viewedit-display-none">
                                <select class="CountryOfOrigion lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none ">
                            <span class="label-title" resourcekey="RegistrationDate"></span>
                        </th>
                        <td class="display-none ">
                            <span class="label-data viewedit-display-block RegistrationDate"></span>
                            <div class="viewedit-display-none">
                                <input class="cx-control RegistrationDate  date viewedit-display-none " type="text" />
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="InterestedIn"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block InterestedIn"></span>
                            <div class="viewedit-display-none">
                                <select class="InterestedIn lst">
                                </select>
                                <div class="viewedit-display-none">
                        </td>
                        <th class=" ">
                            <span class="label-title" resourcekey="Source"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td class=" ">
                            <span class="label-data  nowrap viewedit-display-block Source"></span>
                            <div class="viewedit-display-none">
                                <select class="Source lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="display-none pnlCustomerReferral">
                        <th>
                            <span class="label-title" resourcekey="CustomerReferralCompany"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <a class="label-data nowrap CustomerReferralCompany-link lnkLabel"><span class="label-data lnkLabel viewedit-display-block CustomerReferralCompany">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="CustomerReferralCompany lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="CustomerReferralPerson"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <a class="label-data nowrap CustomerReferralPerson-link lnkLabel"><span class="label-data lnkLabel viewedit-display-block CustomerReferralPerson">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="CustomerReferralPerson  lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <th>
                            <span class="label-title" resourcekey="FacebookPage"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block FacebookPage"></span>
                            <input class="cx-control FacebookPage  txt   string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="LinkedInPage"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block LinkedInPage"></span>
                            <input class="cx-control LinkedInPage  txt  string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="TwitterAccount"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block TwitterAccount"></span>
                            <input class="cx-control TwitterAccount  txt   string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        </tr>
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Email"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Data-Table2col">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="BusinessEmail"></span>
                        </th>
                        <td>
                         <a class="Business-email-to lnkLabel" href="" target="_top">
                            <span class="label-data BusinessEmail lnkLabel nowrap"></span>
                            </a>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="PersonalEmail"></span>
                        </th>
                        <td>
                          <a class="Personal-email-to lnkLabel" href="" target="_top">
                            <span class="label-data PersonalEmail nowrap lnkLabel"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Address"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Country"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap Country"></span>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="City"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap AddressCityText"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="StreetAddress"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap AddressStreetAddress"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="NearBy"></span>
                        </th>
                        <td class="display-none">
                            <span class="NearBy nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Place"></span>
                        </th>
                        <td class="display-none">
                            <span class="Place nowrap label-data nowrap"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="BuildingNumber"></span>
                        </th>
                        <td class="display-none">
                            <span class="BuildingNumber nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="POBox"></span>
                        </th>
                        <td class="display-none">
                            <span class="POBox nowrap label-data"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="ZipCode"></span>
                        </th>
                        <td class="display-none">
                            <span class="ZipCode nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Region"></span>
                        </th>
                        <td class="display-none">
                            <span class="Region nowrap label-data"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Area"></span>
                        </th>
                        <td class="display-none">
                            <span class="Area nowrap label-data"></span>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Phone"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Home"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data HomeNumber phone"></span>
                        </td>
                         <th>
                            <span class="label-title" resourcekey="Fax"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data FaxNumber phone"></span>
                        </td>
                    </tr>
                  <!--  <tr>
                        <th>
                            <span class="label-title" resourcekey="Fax"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data FaxNumber phone"></span>
                        </td>
                    </tr>-->
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Mobile"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data MobileNumber phone">
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="2">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-persons"></span><a href="#" class="add-new-link add-new-persons">
            <span resourcekey="AddNewPersons"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="companyPersons-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="3">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Opportunity"></span><a href="#" class="add-new-link add-new-Opportunity">
            <span resourcekey="AddNewOpportunity"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="OpportunityTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="4">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Case"></span><a href="#" class="add-new-link add-new-Case">
            <span resourcekey="AddNewCase"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="CaseTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="5">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Giveaways"></span><a href="#" class="add-new-link add-new-Giveaways">
            <span resourcekey="AddGiveaways"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="GiveAwaysTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="6">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-email"></span><a href="#" class="add-new-link add-new-email">
            <span resourcekey="AddNewemail"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="email-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="7">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-note"></span><a href="#" class="add-new-link add-new-note">
            <span resourcekey="AddNewnote"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="note-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="8">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-address"></span><a href="#" class="add-new-link add-new-address">
            <span resourcekey="AddNewaddress"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="address-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="9">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-phone"></span><a href="#" class="add-new-link add-new-phone">
            <span resourcekey="AddNewphone"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="phone-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="10">
    <iframe src="" class="document-iframe" style="width: 100%;"></iframe>
</div>
<div class="TabbedPanelsContent" tabindex="11">
    <div class="display-none calendar">
    </div>
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Communication"></span><a href="#" class="add-new-link add-new-Communication">
            <span resourcekey="AddNewCommunication"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="event-info">
            <div class="main-task">
            </div>
            <div class="sub-task">
            </div>
        </div>
        <div class="Tab-list">
            <ul class="Communication-tabs">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="12">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-socialMedia"></span><a href="#" class="add-new-link add-new-socialMedia">
            <span resourcekey="newSocialMedia"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <fieldset class="Data-Fieldset">
            <div class="Tab-list">
                <ul class="socialMedia-tab">
                </ul>
                <div class="DragDropBackground">
                    <span class="background-text" resourcekey="NoDataFound"></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!--<div class="TabbedPanelsContent" tabindex="10">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Cases"></span><a href="#" class="add-new-link add-new-Cases">
            <span resourcekey="AddNewCases"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="Cases-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="TabbedPanelsContent" tabindex="11">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Appliances"></span><a href="#" class="add-new-link add-new-Appliances">
            <span resourcekey="AddNewAppliances"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="Appliances-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>-->
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
