﻿<tr class="result-block">
    <td class="TBody-Td left-content">
        <span class="row-number number"></span>
    </td>
    <td class="TBody-Td left-content result-data1">
        <label class="List-view-1">
        </label>
    </td>
    <td class="TBody-Td result-data2 left-content">
        <label class="List-view-2 EmailListValue">
        </label>
    </td>
     <td class="TBody-Td result-data3 left-content">
        <label class="List-view-3 MobileListValue">
        </label>
    </td> 
      
   <!-- <td class="TBody-Td result-data4 left-content">
        <label class="List-view-4">
        </label>
    </td> -->
          
</tr>
