<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());


        $('.document-iframe').height($('.TabbedPanels').height());

        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="ShiftsDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link" > <span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Shifts-info">
                			<tr>
				<th>
					<span class="label-title" resourcekey="ShiftName"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block ShiftName"></span>
					<input class="cx-control ShiftName  txt required   string viewedit-display-none" maxlength="100" minlength="3"
                            type="text"  />
				</td>
				<th>
					<span class="label-title" resourcekey="ShiftDescription"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
					<span class="label-data nowrap viewedit-display-block ShiftDescription"></span>
					<input class="cx-control ShiftDescription  txt required   string viewedit-display-none" maxlength="100" minlength="3"
                            type="text"  />
				</td>
			</tr>
			<tr>
				<th>
					<span class="label-title" resourcekey="StartTime"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
					<span class="label-data nowrap txt viewedit-display-block StartTime"></span>
					 <select class="lstStartTime viewedit-display-none Time-select required">
                        </select>
				</td>
				<th>
					<span class="label-title" resourcekey="EndTime"></span>
					<span class="smblreqyuired viewedit-display-none">*</span>
				</th>
				<td>
					<span class="label-data nowrap txt viewedit-display-block EndTime"></span>
					 <select class="lstEndTime viewedit-display-none Time-select required">
                        </select>
				</td>
			</tr>
                </table>
            </fieldset>
          
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>



<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>