<script type="text/javascript">
    $(document).ready(function () {
        $('.TabbedPanelsContentFieldset').height($('.Result-info-container').height() - 55);
        $('.Data-Fieldset').width($('.TabbedPanelsContent-info').width());
        $('.document-iframe').height($('.TabbedPanels').height());
        $('.TabbedPanelsContentFieldset').find('.Tab-action-header').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');
        $('.TabbedPanelsContentFieldset').find('.Tab-list').attr('style', 'width:' + $('.Data-Fieldset').width() + 'px');

    });
</script>
<div class="TabbedPanelsContent" tabindex="1">
    <div class="Details-div">
        <span class="details-div-title" resourcekey="PersonDetails"></span>
        <div class="Action-div">
            <ul>
                <li class="edit-pnl viewedit-display-block"><span class="ActionEdit-link"></span><a
                    class="ActionEdit-link"><span resourcekey="Edit"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionSave-link"></span>
                    <a class="ActionSave-link"><span resourcekey="Save"></span></a></li>
                <li class="save-cancel-pnl viewedit-display-none"><span class="ActionCancel-link"></span>
                    <a class="ActionCancel-link"><span resourcekey="Cancel"></span></a></li>
                <li class="delete-lnk viewedit-display-block"><span class="ActionDelete-link"></span>
                    <a class="ActionDelete-link"><span resourcekey="Delete"></span></a></li>

                    <li class="sendEmail-lnk viewedit-display-block sendEmail"><span class="ActionSend-Email-link sendEmail-link"></span>
                    <a class="sendEmail-link"><span resourcekey="SendSMSAndEmails"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="TabbedPanelsContent-info">
            <fieldset class="Data-Fieldset">
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Person-info">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Company"></span>
                        </th>
                        <td>
                            <a class="label-data nowrap Company-link lnkLabel"><span class="label-data lnkLabel viewedit-display-block Company">
                            </span></a>
                            <div class="viewedit-display-none">
                                <select class="Company  lst">
                                </select>
                            </div>
                        </td>

                        <th class="">
                            <span class="label-title" resourcekey="Position"></span>
                        </th>
                        <td class="">
                            <span class="label-data nowrap viewedit-display-block Position"></span>
                            <div class="viewedit-display-none">
                                <select class="Position lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <span class="label-title" resourcekey="Salutation"></span>
                        </th>
                        <td class="">
                            <span class="label-data viewedit-display-block Salutation"></span>
                            <div class="viewedit-display-none">
                                <select class="Salutation lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="FirstNameEn"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block FirstNameEn"></span>
                            <input class="cx-control FirstNameEn  txt required   string viewedit-display-none"
                                maxlength="60" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <span class="label-title" resourcekey="MiddleNameEn"></span>
                        </th>
                        <td class="">
                            <span class="label-data nowrap viewedit-display-block MiddleNameEn"></span>
                            <input class="cx-control MiddleNameEn  txt    string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="LastNameEn"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block LastNameEn"></span>
                            <input class="cx-control LastNameEn  txt required   string viewedit-display-none"
                                maxlength="60" minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="FirstNameAr"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td class="display-none">
                            <span class="label-data nowrap viewedit-display-block FirstNameAr"></span>
                            <input class="cx-control FirstNameAr  txt    string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="MiddleNameAr"></span>
                        </th>
                        <td class="display-none">
                            <span class="label-data nowrap viewedit-display-block MiddleNameAr"></span>
                            <input class="cx-control MiddleNameAr  txt    string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="LastNameAr"></span><span class="smblreqyuired viewedit-display-none">
                                *</span>
                        </th>
                        <td class="display-none">
                            <span class="label-data nowrap viewedit-display-block LastNameAr"></span>
                            <input class="cx-control LastNameAr  txt    string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="ContactType"></span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block ContactType"></span>
                            <div class="viewedit-display-none">
                                <select class="ContactType lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="InterestedIn"></span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block InterestedIn"></span>
                            <div class="viewedit-display-none">
                                <select class="InterestedIn lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Gender"></span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block Gender"></span>
                            <div class="viewedit-display-none">
                                <select class="Gender lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="DateOfBirth"></span>
                             <span class="smblreqyuired BirthdayRequired display-none"> *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block DateOfBirth"></span>
                            <div class="viewedit-display-none">
                                <input class="cx-control DateOfBirth  date viewedit-display-none " type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Anniversary"></span>
                             <span class="smblreqyuired AnniversaryRequired display-none"> *</span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block Anniversary"></span>
                            <div class="viewedit-display-none ">
                                <input class="cx-control Anniversary  date viewedit-display-none " type="text" />
                            </div>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Religion"></span>
                        </th>
                        <td class="display-none">
                            <span class="label-data viewedit-display-block Religion"></span>
                            <div class="viewedit-display-none">
                                <select class="Religion lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Nationality"></span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block Nationality"></span>
                            <div class="viewedit-display-none">
                                <select class="Nationality lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        
                        <th>
                            <span class="label-title" resourcekey="MaritalStatus"></span>
                        </th>
                        <td>
                            <span class="label-data viewedit-display-block MaritalStatus"></span>
                            <div class="viewedit-display-none">
                                <select class="MaritalStatus lst">
                                </select>
                            </div>
                            <th class="">
                                <span class="label-title" resourcekey="Department"></span>
                            </th>
                            <td class="">
                                <span class="label-data viewedit-display-block Department"></span>
                                <div class="viewedit-display-none">
                                    <select class="Department lst">
                                    </select>
                                </div>
                            </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="NotifyforBirthday"></span>
                        </th>
                        <td>
                            <!--<span class="label-data viewedit-display-block NotifyForBirthday"></span>-->
                            <span class="label-data nowrap viewedit-display-block   YNotifyForBirthday" resourcekey="Active">
                            </span><span class="label-data nowrap viewedit-display-block   NNotifyForBirthday"
                                resourcekey="Inactive"></span>

                            <input type="checkbox" class="NotifyForBirthday chk viewedit-display-none" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="NotifyForAnniversary"></span>
                        </th>
                        <td>
                            <!--<span class="label-data viewedit-display-block NotifyForAnniversary"></span>-->
                             <span class="label-data nowrap viewedit-display-block   YNotifyForAnniversary" resourcekey="Active">
                            </span><span class="label-data nowrap viewedit-display-block   NNotifyForAnniversary"
                                resourcekey="Inactive"></span>

                            <input type="checkbox" class="NotifyForAnniversary chk viewedit-display-none" />
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="ContactImage"></span>
                        </th>
                        <td class="display-none">
                            <span class="label-data viewedit-display-block ContactImage"></span>
                            <input class="cx-control ContactImage viewedit-display-none" type="text" />
                        </td>
                    </tr>
                    <tr>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Source"></span>
                        </th>
                        <td class="display-none">
                            <span class="label-data viewedit-display-block Source"></span>
                            <div class="viewedit-display-none">
                                <select class="Source lst">
                                </select>
                            </div>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="PrimaryContactEmployee"></span>
                        </th>
                        <td class="display-none">
                            <a class="label-data nowrap PrimaryContactEmployee lnkLabel viewedit-display-block">
                                <span class="label-data lnkLabel viewedit-display-block User"></span></a>
                            <div class="viewedit-display-none">
                                <select class="PrimaryContactEmployee lst ">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      
                        <th class="">
                            <span class="label-title" resourcekey="HearAboutUs"></span>
                        </th>
                        <td class="">
                            <span class="label-data viewedit-display-block HearAboutUs"></span>
                            <div class="viewedit-display-none">
                                <select class="HearAboutUs lst">
                                </select>
                            </div>
                        </td>
                        
                        <th class="">
                            <span class="label-title" resourcekey="BestTimeToContact"></span>
                        </th>
                        <td class="">
                            <span class="label-data viewedit-display-block BestTimeToContact"></span>
                            <div class="viewedit-display-none">
                                <select class="BestTimeToContact lst">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <span class="label-title" resourcekey="AccountManager"></span>
                        </th>
                        <td class="">
                            <a class="label-data nowrap AccountManager-link lnkLabel"><span class="label-data lnkLabel  viewedit-display-block AccountManager"></span></a>
                            <div class="viewedit-display-none">
                                <select class="AccountManager lst">
                                </select>
                            </div>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="IsVip"></span>
                        </th>
                        <td>
                        <span class="label-data viewedit-display-block VipClass"></span>
                             <div class="viewedit-display-none">
                                <select class="VipClass lst">
                                </select>
                            </div>
                            <!--<span class="label-data viewedit-display-block IsVip"></span>-->
                           <!-- <span class="label-data nowrap viewedit-display-block   YIsVip" resourcekey="Active">
                            </span><span class="label-data nowrap viewedit-display-block   NIsVip"
                                resourcekey="Inactive"></span>
                            <input type="checkbox" class="IsVip chk viewedit-display-none" />-->
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="FacebookPage"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block FacebookPage"></span>
                            <input class="cx-control FacebookPage  txt   string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="LinkedInPage"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block LinkedInPage"></span>
                            <input class="cx-control LinkedInPage  txt  string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="TwitterAccount"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap viewedit-display-block TwitterAccount"></span>
                            <input class="cx-control TwitterAccount  txt   string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                        <th>
                            <span class="label-title" resourcekey="Website"></span>  <span class="label-data  viewedit-display-none" resourcekey="Http"></span>
                        </th>
                        <td>
                          <a class="label-data nowrap Website-link lnkLabel" target="_blank"> <span class="label-data viewedit-display-block Website nowrap lnkLabel"></span></a>
                            <input class="cx-control Website  txt  string viewedit-display-none" maxlength="60"
                                minlength="3" type="text" />
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Email"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table Data-Table2col">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="BusinessEmail"></span>
                        </th>
                        <td>
                        <a class="Business-email-to lnkLabel" href="" target="_top">
                            <span class="label-data BusinessEmail nowrap lnkLabel"></span>
                            </a>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="PersonalEmail"></span>
                        </th>
                        <td>
                         <a class="Personal-email-to lnkLabel" href="" target="_top">
                            <span class="label-data PersonalEmail nowrap lnkLabel"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Address"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Country"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap Country"></span>
                        </td>
                        <th>
                            <span class="label-title" resourcekey="City"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap AddressCityText"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="StreetAddress"></span>
                        </th>
                        <td>
                            <span class="label-data nowrap AddressStreetAddress"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="NearBy"></span>
                        </th>
                        <td class="display-none">
                            <span class="NearBy nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Place"></span>
                        </th>
                        <td class="display-none">
                            <span class="Place nowrap label-data nowrap"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="BuildingNumber"></span>
                        </th>
                        <td class="display-none">
                            <span class="BuildingNumber nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="POBox"></span>
                        </th>
                        <td class="display-none">
                            <span class="POBox nowrap label-data"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="ZipCode"></span>
                        </th>
                        <td class="display-none">
                            <span class="ZipCode nowrap label-data"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Region"></span>
                        </th>
                        <td class="display-none">
                            <span class="Region nowrap label-data"></span>
                        </td>
                        <th class="display-none">
                            <span class="label-title" resourcekey="Area"></span>
                        </th>
                        <td class="display-none">
                            <span class="Area nowrap label-data"></span>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <fieldset class="Data-Fieldset">
                <span class="detail-sub-title" resourcekey="Phone"></span>
                <table border="0" cellpadding="0" cellspacing="0" class="Data-Table">
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Home"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data HomeNumber phone"></span>
                        </td>
                         <th>
                            <span class="label-title" resourcekey="Fax"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data FaxNumber phone"></span>
                        </td>
                    </tr>
                 <!--   <tr>
                        <th>
                            <span class="label-title" resourcekey="Fax"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data FaxNumber phone"></span>
                        </td>
                    </tr>-->
                    <tr>
                        <th>
                            <span class="label-title" resourcekey="Mobile"></span>
                        </th>
                        <td class="PhoneDirection">
                            <span class="label-data MobileNumber phone">
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="Data-Fieldset">
                <div class="historyUpdated">
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="TabbedPanelsContent" tabindex="2">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Opportunity"></span><a href="#" class="add-new-link add-new-Opportunity">
            <span resourcekey="AddNewOpportunity"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="OpportunityTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>

<div class="TabbedPanelsContent" tabindex="3">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Case"></span><a href="#" class="add-new-link add-new-Case">
            <span resourcekey="AddNewCase"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="CaseTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>

<div class="TabbedPanelsContent" tabindex="4">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Giveaways"></span><a href="#" class="add-new-link add-new-Giveaways">
            <span resourcekey="AddGiveaways"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="GiveAwaysTemp-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>




<div class="TabbedPanelsContent" tabindex="5">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-email"></span><a href="#" class="add-new-link add-new-email">
            <span resourcekey="AddNewemail"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="email-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="6">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-note"></span><a href="#" class="add-new-link add-new-note">
            <span resourcekey="AddNewnote"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="note-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="7">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-address"></span><a href="#" class="add-new-link add-new-address">
            <span resourcekey="AddNewaddress"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="address-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="8">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-phone"></span><a href="#" class="add-new-link add-new-phone">
            <span resourcekey="AddNewphone"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="phone-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="9">
    <iframe src="" class="document-iframe" style="width: 100%;"></iframe>
</div>
<div class="TabbedPanelsContent" tabindex="10">
    <div class="display-none calendar">
    </div>
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Communication"></span><a href="#" class="add-new-link add-new-Communication">
            <span resourcekey="AddNewCommunication"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="event-info">
            <div class="main-task">
            </div>
            <div class="sub-task">
            </div>
        </div>
        <div class="Tab-list">
            <ul class="Communication-tabs">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
   
</div>
<div class="TabbedPanelsContent" tabindex="11">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-socialMedia"></span><a href="#" class="add-new-link add-new-socialMedia">
            <span resourcekey="newSocialMedia"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
     <fieldset class="Data-Fieldset">
        <div class="Tab-list">
            <ul class="socialMedia-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
        </fieldset>
    </div>
</div>


<!--<div class="TabbedPanelsContent" tabindex="8">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-ProjectsOpporunities"></span><a href="#" class="add-new-link add-new-ProjectsOpporunities">
            <span resourcekey="AddNewProjectsOpporunities"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="ProjectsOpporunities-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="9">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Cases"></span><a href="#" class="add-new-link add-new-Cases">
            <span resourcekey="AddNewCases"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="Cases-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>
<div class="TabbedPanelsContent" tabindex="10">
    <div class="Tab-action-header">
        <span class="add-new-img add-new-Appliances"></span><a href="#" class="add-new-link add-new-Appliances">
            <span resourcekey="AddNewAppliances"></span></a>
        <div class="InsideSearch">
            <input class="display-none" /></div>
    </div>
    <div class="TabbedPanelsContentFieldset">
        <div class="Tab-list">
            <ul class="Appliances-tab">
            </ul>
            <div class="DragDropBackground">
                <span class="background-text" resourcekey="NoDataFound"></span>
            </div>
        </div>
    </div>
</div>-->
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
